<link href="{{ css }}" rel="stylesheet" type="text/css">

<div class="registration flex {% if setpassword %}set-pass{% elseif registration %}end-reg{% endif %}">


	

	<div class="col-sm-6 flex f-column f-ai f-jc">
		<div class="logo"><a href="/"><img class="img-responsive" src="{THEME}/images/logo.svg" alt="logo"></a></div>
		{% if setpassword %}
		<form action="/index.php?do=register&tk={{ tk }}" class="register-form" method="POST">
			<div class="step1 active">
				<div class="form-group">
					<div class="h1">Поздравляем!<br>Ваш аккаунт создан! </div>
					<div class="h5 r-light">Ваш email: {{ email }}</div>
				</div>
				<div class="form-group flex f-column">
					<div class="placeholder">Пожалуйста придумайте пароль</div>
					<input type="password" name="password" class="form-control">
					{% if error_password %}<div class="error">{{ error_password }}</div>{% endif %}
				</div>
				<div class="form-group flex f-column">
					<div class="placeholder">Повторите ваш пароль</div>
					<input type="password" name="password2" class="form-control">
				</div>
			</div>
			<div class="form-footer">
				<button type="submit" class="form-control blue_button active step2">Сохранить и войти</button>
				<div class="flex f-column">
					<div class="bold r-medium">Нужна помощь?</div>
					<div class="m-help r-light"><a href="mailto:support@business-tour.online">support@business-tour.online</a></div>
					<div class="step1 active r-light">
						Регистрируясь, Вы соглашаетесь с <a href="#">Пользовательским соглашением</a> и <a href="#">Политикой конфиденциальности</a>
					</div>
				</div>
			</div>
		</form>


		{% elseif not registration %}
		<form action="/index.php?do=register" class="register-form" method="POST">
			<div class="step1 active">
				<div class="form-group">
					<div class="h1">Начнем регистрацию</div>
					<div class="h5 r-light">Мы рады сообщить Вам, что использование сервиса бесплатное</div>
				</div>
				<div class="form-group">
					<div class="placeholder">Введите свой емайл</div>
					<input type="email" value="{{ email }}" name="email" class="form-control">
					{% if error_email %}<div class="error">{{ error_email }}</div>{% endif %}
				</div>
			</div>
			<div class="step2">
				<div class="form-group">
						<div class="h1">Аккаунт создан, мы почти у цели!</div>
						<div class="h5">Введите, пожалуйста, еще некоторые данные</div>
				</div>
				<div class="form-group flex">
					<div class="flex f-column">
						<div class="placeholder">Фамилия</div>
						<input type="text" value="{{ lastname }}" name="lastname" class="form-control">
						{% if error_lastname %}<div class="error">{{ error_lastname }}</div>{% endif %}
					</div>
					<div class="flex f-column">
							<div class="placeholder">Имя</div>
							<input type="text" value="{{ firstname }}" name="firstname" class="form-control">
							{% if error_firstname %}<div class="error">{{ error_firstname }}</div>{% endif %}
					</div>
				</div>
				<div class="form-group flex f-column">
					<div class="placeholder">Телефонный номер</div>
					<input type="text" value="{{ telephone }}" name="telephone" class="form-control">
					{% if error_telephone %}<div class="error">{{ error_telephone }}</div>{% endif %}
				</div>
				<div class="form-group flex f-column">
					<div class="placeholder">Размер компании</div>
					{{ xfinput_peoples }}
					{% if error_peoples %}<div class="error">{{ error_peoples }}</div>{% endif %}
				</div>
				<div class="form-group flex f-column">
						<div class="placeholder">Ваша должность</div>
						{{ xfinput_doljnost }}
						{% if error_doljnost %}<div class="error">{{ error_doljnost }}</div>{% endif %}
					</div>
			</div>
			<div class="form-footer">
				<button type="button" class="form-control blue_button step1 active">Создать аккаунт</button>
				<button type="submit" class="form-control blue_button step2">Начать</button>
				<div class="flex f-column">
					<div class="bold r-medium">Нужна помощь?</div>
					<div class="m-help r-light"><a href="mailto:support@business-tour.online">support@business-tour.online</a></div>
					<div class="step1 active r-light">
						Регистрируясь, Вы соглашаетесь с <a href="#">Пользовательским соглашением</a> и <a href="#">Политикой конфиденциальности</a>
					</div>
				</div>
			</div>
		</form>
		{% else %}
		<div class="form-group flex f-column">
			<div class="h1 r-regular">Поздравляем!</div>
			<div class="h2 r-regular">Приятных Вам и Вашим коллегам поездок!</div>
			<div class="h5">Мы отправили на указанный почтовый ящик ссылку для подтверждения адреса, пожалуйста, проверьте свою почту и перейдите по ссылке</div>
		</div>
		{% endif %}
	</div>

	<div class="col-sm-6 reg-background hidden-xs"></div>

</div>



<script>
{% if doljnost %}
	$('#xf_doljnost option[value="{{ doljnost }}"]').attr('selected','');
{% endif %}
{% if peoples %}
	$('#xf_peoples option[value="{{ peoples }}"]').attr('selected','');
{% endif %}

$('.register-form select').each(function(){
	$(this).addClass('form-control');
	if($(this).val()){
		$(this).prev().addClass('hover');
	}
});
$('.blue_button.step1').on('click',function(){
	event.preventDefault();
	step2();
});
function step2(){
	if(($('[name="email"]').val().match(/.+?\@.+/g) || []).length !== 1){
		$('[name="email"]').after('<div class="error">Пожалуйста укажите верный емайл</div>');
		setTimeout(function(){$('.error').remove()},3000);
		return false;
	}else{
		$('.step1,.step2,.reg-background,.registration').toggleClass('active');
	}
}
{% if error_step2 %}
	step2();
{% endif %}
$('.registration .placeholder').next().focus(function(){
	$(this).prev().addClass('hover');
}).focusout(function(){
	if(!$(this).val()){
		$(this).prev().removeClass('hover');
	}
});
$('.registration .placeholder').each(function(){
	if($(this).next().val()){
		$(this).addClass('hover');
	}
});
var passwords;
$('[name="password"],[name="password2"]').on('keyup',function(){
	var password = $('[name="password"]').val();
	var password2 = $('[name="password2"]').val();
	if(passwords){
		clearTimeout(passwords);
	}

	passwords = setTimeout(function() {
		if(password!=password2 && password && password2 ){
			$('[name="password"]').after('<div class="error">Пароли не совпадают!</div>');
			setTimeout(function(){$('[name="password"]').next('.error').remove();},3000);
		}else{
			$('[name="password"]').next('.error').remove();
		}
	}, 1000);
	
});

</script>