<link href="{{ css }}" rel="stylesheet" type="text/css">

<div class="registration flex {% if setpassword %}set-pass{% elseif registration %}end-reg{% endif %}">

	<div class="registration__content">

		<div class="registration__wrap">

			<div class="registration__inner">

				<a class="registration__logo" href="/">
					<img class="img_fluid" src="{THEME}/images/logo.svg" alt="logo">
				</a>

				{% if setpassword %}
					<form action="/index.php?do=register&tk={{ tk }}" class="register-form" method="POST">
						<div class="step1 active">
							<div class="h1">Поздравляем!<br>Ваш аккаунт создан! </div>
							<div class="h5">Ваш email: {{ email }}</div>
							<div class="form-group flex f-column">
								<div class="placeholder">Пожалуйста придумайте пароль</div>
								<input type="password" name="password" class="form-control">
								{% if error_password %}<div class="error">{{ error_password }}</div>{% endif %}
							</div>
							<div class="form-group flex f-column">
								<div class="placeholder">Повторите ваш пароль</div>
								<input type="password" name="password2" class="tour_search_btn green_btn">
							</div>
						</div>
						<div class="form-footer">
							<button type="submit" class="green_btn  blue_button mb_40 active step2">Сохранить и войти</button>
							<div class="registration__text">
								<div class="fs_16"><strong>Нужна помощь?</strong></div>
								<div class="mb_40 fs_16"><a href="mailto:support@business-tour.online">support@business-tour.online</a></div>
								<div>
									Регистрируясь, Вы соглашаетесь с <br/><a href="#">Пользовательским соглашением</a> <br/>и <a href="#">Политикой конфиденциальности</a>
								</div>
							</div>
						</div>
					</form>

				{% elseif not registration %}
					<form action="/index.php?do=register" class="register-form" method="POST">
						<div class="step1 active">
							<div class="h1">Начнем регистрацию</div>
							<div class="h5">Мы рады сообщить Вам, что использование сервиса бесплатное</div>
							<div class="form-group">
								<div class="placeholder">Введите свой емайл</div>
								<input type="email" value="{{ email }}" name="email" class="form-control">
								{% if error_email %}<div class="error">{{ error_email }}</div>{% endif %}
							</div>
						</div>
						<div class="step2">
							<div class="form-group">
								<div class="h1">Аккаунт создан, мы почти у цели!</div>
								<div class="h5">Введите, пожалуйста, еще некоторые данные</div>
							</div>
							<div class="form-group flex">
								<div class="flex f-column">
									<div class="placeholder">Фамилия</div>
									<input type="text" value="{{ lastname }}" name="lastname" class="form-control">
									{% if error_lastname %}<div class="error">{{ error_lastname }}</div>{% endif %}
								</div>
								<div class="flex f-column">
									<div class="placeholder">Имя</div>
									<input type="text" value="{{ firstname }}" name="firstname" class="form-control">
									{% if error_firstname %}<div class="error">{{ error_firstname }}</div>{% endif %}
								</div>
							</div>
							<div class="form-group flex f-column">
								<div class="placeholder">Телефонный номер</div>
								<input type="text" value="{{ telephone }}" name="telephone" class="form-control">
								{% if error_telephone %}<div class="error">{{ error_telephone }}</div>{% endif %}
							</div>
							<div class="form-group flex f-column">
								<div class="placeholder">Размер компании</div>
								{{ xfinput_peoples }}
								{% if error_peoples %}<div class="error">{{ error_peoples }}</div>{% endif %}
							</div>
							<div class="form-group flex f-column">
								<div class="placeholder">Ваша должность</div>
								{{ xfinput_doljnost }}
								{% if error_doljnost %}<div class="error">{{ error_doljnost }}</div>{% endif %}
							</div>
						</div>
						<div class="form-footer">
							<button type="button" class="green_btn blue_button mb_40 step1 active">Создать аккаунт</button>
							<button type="submit" class="green_btn blue_button mb_40 step2">Начать</button>
							<div class="registration__text f-column">
								<div class="fs_16"><strong>Нужна помощь?</strong></div>
								<div class="fs_16 mb_40"><a href="mailto:support@business-tour.online">support@business-tour.online</a></div>
								<div>Регистрируясь, Вы соглашаетесь с <a href="#">Пользовательским соглашением</a> и <a href="#">Политикой конфиденциальности</a></div>
							</div>
						</div>
					</form>
				{% else %}
					<div class="form-group flex f-column">
						<div class="h1">Поздравляем!</div>
						<div class="h2">Приятных Вам и Вашим коллегам поездок!</div>
						<div class="h5">Мы отправили на указанный почтовый ящик ссылку для подтверждения адреса, пожалуйста, проверьте свою почту и перейдите по ссылке</div>
					</div>
				{% endif %}

			</div>

		</div>
	</div>

	<div class="registration__bg reg-background"></div>

</div>



<script>
{% if doljnost %}
	$('#xf_doljnost option[value="{{ doljnost }}"]').attr('selected','');
{% endif %}
{% if peoples %}
	$('#xf_peoples option[value="{{ peoples }}"]').attr('selected','');
{% endif %}

$('.register-form select').each(function(){
	$(this).addClass('form-control');
	if($(this).val()){
		$(this).prev().addClass('hover');
	}
});
$('.blue_button.step1').on('click',function(){
	event.preventDefault();
	step2();
});
function step2(){
	if(($('[name="email"]').val().match(/.+?\@.+/g) || []).length !== 1){
		$('[name="email"]').after('<div class="error">Пожалуйста укажите верный емайл</div>');
		setTimeout(function(){$('.error').remove()},3000);
		return false;
	}else{
		$('.step1,.step2,.reg-background,.registration').toggleClass('active');
	}
}
{% if error_step2 %}
	step2();
{% endif %}
$('.registration .placeholder').next().focus(function(){
	$(this).prev().addClass('hover');
}).focusout(function(){
	if(!$(this).val()){
		$(this).prev().removeClass('hover');
	}
});
$('.registration .placeholder').each(function(){
	if($(this).next().val()){
		$(this).addClass('hover');
	}
});
var passwords;
$('[name="password"],[name="password2"]').on('keyup',function(){
	var password = $('[name="password"]').val();
	var password2 = $('[name="password2"]').val();
	if(passwords){
		clearTimeout(passwords);
	}

	passwords = setTimeout(function() {
		if(password!=password2 && password && password2 ){
			$('[name="password"]').after('<div class="error">Пароли не совпадают!</div>');
			setTimeout(function(){$('[name="password"]').next('.error').remove();},3000);
		}else{
			$('[name="password"]').next('.error').remove();
		}
	}, 1000);
	
});
var check_email;
$('[name="email"]').on('keyup',function(){
	if(check_email){
		clearTimeout(check_email);
	}
	$thiss = $(this);
	var email = $thiss.val();
	check_email = setTimeout(function() {
		$thiss.next('.error').remove();
		var url = $thiss.parents('form').attr('action');
		$.ajax({
		  type: 'get',
		  dataType: 'json',
		  url: url+'&email='+email,
		}).done(function(data) {
			if(data['error']){
				$thiss.after('<div class="error">'+data['error']+'</div>');
			}
		}).fail(function() {
		  console.log('fail');
		});

	}, 1000);
});
</script>