/*-------------Responsive css Start ---------------*/
@media (min-width: 1300px){
	.container {
		max-width: 1280px;
	}
	.header_right_menu {
		float: left;
		margin: 0 115px;
	}
	.tr_logo{
	width: 172px;
	}
	.tr_logo img{
		width: 100%;
	}
}
@media (min-width: 1200px){
	.tr_logo img{
		width: 160px;
	}
}
@media (min-width: 992px){
	.owl-item {
		margin-bottom: 0;
	}
}
@media only screen and (max-width: 1100px){
	div.container-main .tr_service_cover {
		width: 96%;
	}
	/*train page*/
	.img-responsive{
		width: 100%;
	}
	div.header_right_menu {
		margin: 0 10px;
	}
	.when {
		width: 40%;
		float: right;
		padding-left: 35px;
	}
	.r-form-box {
		width: 50%;
		float: right;
	}
	.l-form-box {
		width: 60%;
		float: left;
	}
	#Hotels .l-form-box.search_h{
		width: 50%;
		float: left;
		padding-right: 35px;
	}	
}
/*внопка добавить карту*/
@media (min-width: 1200px) and (max-width: 1300px){
	.total_price_box button.btn_sidenav {
		line-height: 17px;
	}
}
@media(min-width:992px) and (max-width:1200px){
	.total_price_box button.btn_sidenav {
		line-height: 13px;
	}
}
@media(min-width:1200px) and (max-width:1300px){
	/*отчет*/
	.box_rpt .t_add_card {
		width: 270px;
	}
	.box_waybill.box_rpt .left_info_ticket .t_add_card p {
		margin-bottom: 10px;
	}
	.bm_bw .t_add_card {
		width: auto !important;
	}
	/*поиск и бронирование*/
	.left_info_ticket {
		width: 645px;
	}
	.info_ticket {
		padding: 9px 20px 9px 20px;
		width: 345px;
	}
	.goods_info_ticket {
		padding: 9px 10px 0 5px;
		width: 210px;
	}
	.right_info_ticket {
		padding: 10px 10px 10px 10px;
	}
	.header_right_menu {
		float: left;
		margin: 0 46px;
	}
	/*документы*/
	.tab-query button {
		width: 193px;
	}
	.inner-query .l-query {
		float: left;
		width: 50%;
	}
	.tabcontent-doc .list_people{
		width: 550px;
	}
	.matching {
		width: 100%;
	}
	.inner-query .r-query {
		width: 50%;
		padding: 0 25px 25px 10px;
	}	
	.l-info {
		width: 180px;
		float: left;
	}	
	.tabcontent-doc #Docs .img-bl {
		width: 30px;
		float: left;
		margin-right: 20px;
	}
	.tabcontent-doc #Docs .descr-bl {
		width: 290px;
		float: left;
	}
	/* company */
	.right_card_input {
		width: 500px;
		height: 343px;
	}
	.card_input #form-container {
		width: 600px;
		height: auto;
	}
	.card_input #card-front, .card_input #card-back {
		width: 450px;
	}
	.card_input #card-number, .card_input #card-holder {
		width: 100%;
	}
	.card_input #cardholder-container {
		width: 259px;
	}
	.card_input #exp-container {
		width: 115px;
	}
	.card_input #card-month {
		width: 50px;
	}
	.card_input #card-year {
		width: 50px;
	}
	.card_input #cvc-container {
		width: 90px;
		right: -88px;
		padding-left: 15px;
	}
	.card_input #card-cvc {
		width: 65px;
	}
	/*пользователи*/
	.rwd-table th:first-child, .rwd-table td:first-child {
		padding-left: 0;
		width: 270px;
	}
	/*trip detail */
	.total_price_box .setting_save_btn {
		font-size: 14px;
		padding: 0 5px;
		width: 100%;
	}
	.t_add_card {
		width: 270px;
		float: left;
	}
	.t_add_card p {
		margin-bottom: 0;
	}
	/* бронирование */
	.block_search_docs .dt_draft {
		width: 260px;
	}
	.list-hotels .hotels .right_info_hotel {
		width: 525px;
	}
	.l_card_hotel {
		margin-bottom: 10px;
	}
	.map-responsive {
		width: 100%;
	}
	.tracking p {
		font-size: 14px;
	}
}
@media(min-width:992px) and (max-width:1200px){
	/*отчет*/
	.box_rpt .t_add_card {
		width: 206px;
		padding: 0 0 0 20px;
	}
	.box_waybill p{
		padding:0;
	}
	.box_waybill.box_rpt .left_info_ticket .t_add_card p {
		margin-bottom: 10px;
	}
	.bm_bw .t_add_card {
		width: auto !important;
		padding: 0 0 0 10px !important;
	}
	.box_waybill.box_rpt .left_info_ticket{
		padding: 0 !important;
	}
	.bm_bw {
		padding: 20px 0 0 0;
	}
	/*меню*/
	.tr_logo img {
		vertical-align: middle;
		border-style: none;
		width: 100%;
	}
	.tr_logo {
		width: 120px;
		margin-top: 24px;
		margin-bottom: 23px;
	}
	.header_right_menu {
		margin: 0 15px;
	}
	.header_right_menu > ul > li {
		padding: 24px 9px;
	}
	/*main page*/
	input.form-control.bs-autocomplete {
		width: 450px;
	}
	/*поиск и бронирование*/
	.group-card {
		width: 100%;
	}
	.left_info_ticket {
		width: 524px;
	}
	.flight_numb {
		padding: 0px 10px;
	}
	.info_ticket {
		width: 300px;
		padding: 9px 10px 9px 10px;
	}
	.goods_info_ticket {
		padding: 9px 10px 0 0;
		width: 134px;
	}
	.item_points_tr .goods_info_ticket {
		width: 234px;
	}
	.right_info_ticket {
		
		width: 160px;
	}
	.bottom_card_details .cmt_title {
		margin-bottom: 0;
		width: 470px;
	}
	.rm_book_btn.green_btn {
		margin-top: 16px;
		width: 145px;
	}
	.goods_info_ticket p, .right_info_ticket p {
		line-height: 18px;
		margin-bottom: 0;
	}
	#results ul.result_list li {
		line-height: 18px;
	}
	.count-card {
		width: 160px;
	}
	.tr_sidebar_area .widget-title {
		width: auto;
	}
	.tr_sidebar_area .widget .h-blue{
		float: right;
	}
	#departure-time-range, #arrival-time-range, #transplant-time-range {
		margin-top: 95px;
	}
	/*documents_details*/
	.box_waybill {
        padding: 25px;
	}
	.total_price_box {
		padding: 15px;
	}
	.total_price_box .user-field a p {
		padding: 0 5px;
	}
	.block_desc.doc_details {
		padding: 15px;
	}
	/*документы*/
	
	.tab-query button {
		width: auto;
		padding: 0 35px 0 35px;
	}
	.inner-query .l-query {
		width: 100%;
		padding: 0 25px 25px 25px;
	}
	.tab-query button {
		font-size: 14px;
	}
	.matching {
		width: 100%;
	}
	.inner-query .r-query {
		float: none;
		width: 100%;
		padding: 0 15px 25px 15px;
	}
	.tabcontent-doc .list_people {
		width: 400px;
		float: left;
	}
	.l-info {
		width: 300px;
		float: left;
	}	
	.tabcontent-doc .date_wrapper{
		width: 100%;
	}
	.title-bl {
		margin-bottom: 10px;
		height: auto;
	}
	.list_item_wtr .inner-query .l-query {
		padding: 26px 30px 25px 30px;
	}
	.list_item_wtr .inner-query .r-query {
		padding: 0 15px 0 15px;
	}
	/* company */
	.right_card_input {
		width: 500px;
		height: 343px;
	}
	.card_input #form-container {
		width: 600px;
		height: auto;
	}
	.card_input #card-front, .card_input #card-back {
		width: 450px;
	}
	.card_input #card-number, .card_input #card-holder {
		width: 100%;
	}
	.card_input #cardholder-container {
		width: 259px;
	}
	.card_input #exp-container {
		width: 115px;
	}
	.card_input #card-month {
		width: 50px;
	}
	.card_input #card-year {
		width: 50px;
	}
	.card_input #cvc-container {
		width: 90px;
		right: -88px;
		padding-left: 15px;
	}
	.card_input #card-cvc {
		width: 65px;
	}
	#PaymentСardCompany .important_output_query {
		width: 100%;
	}
	.right_output_query {
		width: 50%;
		float: left;
	}
	.left_output_query {
		width: 50%;
		float: right;
	}
	.important_output_query {
		width: 100%;
	}
	/*пользователи*/
	.rwd-table th:nth-child(2), .rwd-table td:nth-child(2){
		word-wrap: break-word;
		width: 170px;
	}
	.block_search_users .button {
		width: 150px;
	}
	.search_user .rm_book_btn.green_btn {
		margin-top: 0;
	}	
	/*trip detail*/
	div.points_tr > div.item_points_tr .ic_points_tr {
		margin-left: -30px;
		margin-top: -5px;
		width: 30px;
		height: 30px;
	}
	div.points_tr > div.item_points_tr {
		padding-left: 15px;
	}
	div.points_tr > div.item_points_tr .ic_points_tr svg {
		margin: 2px 0;
		width: 15px;
	}
	.points_tr .goods_info_ticket {
		width: auto;
	}
	#results .bottom_card_details ul li{
		margin-bottom: 0;
	}
	.points_tr .rm_book_btn.green_btn {
		margin-top: 0;
		width: auto;
	}
	.points_tr .add_box_card .total-price {
		text-align: left;
	}
	.tr-date h3 {
		padding-left: 15px;
	}
	.total_price_box .setting_save_btn {
		white-space: normal;
		width: 150px;
		font-size: 15px;
		line-height: 14px;
	}
	.block_search_docs .dt_draft {
		width: 450px;
	}
	.block_search_docs .nm_draft {
		width: 450px;
		float: right;
		margin-right: 0;
	}
	.list_trips .sort-box {
		margin: 20px 0 0 0;
	}
	/*бронирование*/
	.title_box_tr .form_group {
		left: auto;
		margin-left: 0;
		right: 0;
	}
	.t_add_card {
		width: 520px;
		margin-bottom: 15px;
	}
	.rm_book_btn.green_btn_border{
		float: right;
	}
	.specific_result.add_box_card .img_card{
		margin-bottom: 15px;
	}
	.list-hotels .hotels .right_info_hotel {
		width: 422px;
	}
	.l_card_hotel {
		margin-bottom: 10px;
	}
	.map-responsive {
		width: 100%;
		height: 150px;
	}
	.tracking p {
		font-size: 14px;
	}
	.left_info_hotel {
		width: 265px;
	}
	.img_hotel {
		width: 100%;
	}
	.list-hotels .hotels .bottom_card_h .right_info_hotel {
		padding: 36px 25px 36px 25px;
	}
}
@media (min-width:1200px){
	.tr_contact_details{
		padding-left:30px;
	}
}
@media (max-width:1200px){
	.tr_contact_details{
		padding-left:30px;
	}
	/*train page*/
	div.header_tr_ticket {
		padding: 75px 30px 10px 30px;
	}
	a.prev-page {
		position: absolute;
		top: 15px;
		left: 45px;
	}
}
@media (max-width:991px){
	.search_frm_cover .form_group {
		width: 50%;
		margin-bottom: 20px;
	}
	.search_frm_cover .form_group.search_button {
		width: 50%;
		margin-bottom:0px;
	}
	.room_desc {
		padding: 35px 20px;
	}
	.room_booking_form {
		margin-bottom: 50px;
	}
	.news_save_btn {
		margin-top: 10px;
		margin-bottom: 90px;
	}
	.list-hotels .hotels .right_info_hotel {
		width: 468px;
		padding: 15px;
	}
	.list-hotels .hotels .b-srv_ticket {
		margin-bottom: 5px;
	}
	.list-hotels .hotels .bottom_card_h .right_info_hotel {
		padding: 40px 15px 39px 15px;
	}
	.tracking {
		height: auto;
	}
	.img-tracking {
		margin: 8px 0;
	}
	.tr_box {
		padding: 0 0 0 15px;
	}
}
@media(max-width:992px){
	/*index*/
	.full_width {
		width: 100%;
		padding: 0;
	}
	.content-box {
		padding: 0px 40px;
		clear: both;
		padding-top: 15px;
	}
	div.input-group div.no-gutters{
		padding-right: 0;
	}
	.search_frm_cover form {
		border-left: 0px solid #cbd8ea;
		border-right: 0px solid #cbd8ea;
	}
	.form-group.has-feedback {
		padding-top: 15px;
	}
	.preloader_inner {
		width: 60px;
		height: 60px;
	}
	/*=== Header menu Start ===*/
	.profil-on-mob{display: block;}
 	.tr_logo {
		position: absolute;
		left: 0;
		width: 120px;
		margin: 14px 0;
	} 
	.dropdown-user {
		display: none;
	}
	/*=== Header menu Start ===*/
	.tr_header_section {
		padding-bottom: 15px;
	}
	.nav_toggle{
		display:block;
	}
	.caret_down {
		position: absolute;
		right: 0;
		top: 0;
		text-align: center;
		color: #00c683;
		font-size: 25px;
		line-height: 30px;
		cursor: pointer;
	}
	.caret_down:before {
		position: absolute;
		content: "\f196";
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		left: 0;
		top: 0;
	}
	.caret_down.caret_up:before {
		content: "\f147";
	}
	.header_right_menu{
		width:100%;
		float:left !important;
		text-align:left;
	}
	.header_right_menu {
		float: left;
		width: 300px;
		position: absolute;
		z-index: 9999;
		background: #ffffff;		
		right: 0;
		margin:0;
		top: 74px;
		padding: 40px 30px;
		-webkit-transition: all 500ms cubic-bezier(0.480, 0, 0.535, 1);
		-webkit-transition: all 500ms cubic-bezier(0.480, -0.050, 0.535, 1.370);
		-moz-transition: all 500ms cubic-bezier(0.480, -0.050, 0.535, 1.370);
		-o-transition: all 500ms cubic-bezier(0.480, -0.050, 0.535, 1.370);
		transition: all 500ms cubic-bezier(0.480, -0.050, 0.535, 1.370);
		opacity: 0;
		visibility: hidden;
		transform: translateY(100px);
		-webkit-transform: translateY(100px);
		-moz-transform: translateY(100px);
		-ms-transform: translateY(100px);
		-o-transform: translateY(100px);
		box-shadow: 0 0 27px rgba(0,0,0,0.04);
	}
	.header_right_menu.menu_open {
		transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		opacity: 1;
		visibility:visible;
	}
	.header_right_menu ul.menu {
		width:100%;
	}
	.header_right_menu ul.menu li {
		float: left;
		margin-bottom: 10px;
		padding: 0;
		width: 100%;
	}
	.header_right_menu.menu_open > ul > li {
		animation: fromleft .7s 1 both ease-in;
		-webkit-animation: fromleft .7s 1 both ease-in;
		-moz-animation: fromleft .7s 1 both ease-in;
	}
	.header_right_menu.menu_open > ul > li:nth-child(2){
		animation-delay:200ms;
		-webkit-animation-delay:200ms;
		-moz-animation-delay:200ms;
	}
	.header_right_menu.menu_open > ul > li:nth-child(3){
		animation-delay:300ms;
		-webkit-animation-delay:300ms;
		-moz-animation-delay:300ms;
	}
	.header_right_menu.menu_open > ul > li:nth-child(4){
		animation-delay:400ms;
		-webkit-animation-delay:400ms;
		-moz-animation-delay:400ms;
	}
	.header_right_menu.menu_open > ul > li:nth-child(5){
		animation-delay:500ms;
		-webkit-animation-delay:500ms;
		-moz-animation-delay:500ms;
	}
	.header_right_menu.menu_open > ul > li:nth-child(6){
		animation-delay:600ms;
		-webkit-animation-delay:600ms;
		-moz-animation-delay:600ms;
	}
	.header_right_menu.menu_open > ul > li:nth-child(7){
		animation-delay:700ms;
		-webkit-animation-delay:700ms;
		-moz-animation-delay:700ms;
	}
	.header_right_menu.menu_open > ul > li:nth-child(8){
		animation-delay:800ms;
		-webkit-animation-delay:800ms;
		-moz-animation-delay:800ms;
	}
	.header_right_menu.menu_open > ul > li:nth-child(9){
		animation-delay:900ms;
		-webkit-animation-delay:900ms;
		-moz-animation-delay:900ms;
	}
	.header_right_menu > ul > li > ul {
		position: relative;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
		transition:none;
		-webkit-transition:none;
		-moz-transition:none;
		display:none;
		opacity: 1;
		visibility: visible;
		background-color: transparent;
		border: none;
		width: 100%;
		padding: 0 15px;
	}
	.header_right_menu > ul > li > ul:before{
		display:none;
	}
	.header_right_menu > ul > li > ul > li{
		padding-right:20px;
		margin-bottom:0;
	}
	/*=== Header menu End ===*/
	/*main page*/
	.tabcontent-ticket {
		padding: 35px 0px;
	}
	.user-field .close {
		right: 9px;
	}
	.user-field p, .subuser-field p {
		font-size: 14px;
		line-height: 21px;
	}
	.input-group-addon:first-child {
		right: -33px;
	}
	input.form-control.bs-autocomplete {
		width: 100%;
	height: 54px;
	}
	/*=== Footer Css Start ===*/
	.tr_footer_section .pull_left {
		float: left;
		width: 100%;
	}
	.tr_footer_section .copyright_text {
		width: 100%;
		text-align: center;
	}
	.footer_social_icons {
		float: left;
		width: 100%;
		text-align: center;
		margin-top:10px;
	}
	.footer_social_icons li {
		margin: 5px;
	}
	/*=== Footer Css End ===*/
	/*--search form Start--*/
	.search_tour_section{
		margin-top:0;
	}
	.search_frm_cover .form_group {
		width: 50%;
		float: left;
	}
	.l-form-box {
		width: 60%;
		float: left;
	}
	.search_frm_cover .form_group.when {
		width: 40%;
		float: right;
	}
	.srvc_list li{
		width:100%;
	}
	/*page hotel*/
	div.l_part{
		width: 100% !important;
		min-height: auto;
		border-bottom: 1px solid #cbd8ea;
		border-right: 0;
	}
	div.bl_policy .l_part {
		padding-bottom: 20px;
	}
	div.r_part{
	    width: 100% !important;
		min-height: 100%;
		border-left: 0 !important;
	}
	div.top_part {
		width: 100% !important;
	}
	div.t_rvw {
		width: 100% !important;
	}
	div.r_rvw {
		width: 100% !important;
		padding: 35px 0 0 0;
		float: left;
	}
	div.r_rvw h2 {
		text-align: left;
	}
	div.bl_comment{
		max-height: 100% !important;
	}
	div.bl_reviews .jq-selectbox {
		width: 100%;
	}
	div.bl_reviews .jq-selectbox__select {
		width: 100%;
	}
	div.number_rvw h4 {
		width: 60% !important;
		float: left;
		padding: 10px 0;
	}
	div.number_rvw p {
		text-align: right;
		width: 40% !important;
		line-height: 18px;
		float: right;
		padding: 10px 0;
	}
	div.btn_rvw {
		width: 100% !important;
		margin-bottom: 15px;
	}
	/*поиск и бронирование*/
	.result_list li .specific_result {
		padding: 5px 6px 0 5px;
	}
	.sort-box {
		width: auto;
		padding: 0 8px 0 0;
		height: 53px;
		margin: 0 0 30px 0;
	}
	.list_trips .sort-box {
		margin: 25px 0 0;
		float: right;
		width: auto;
		clear:none;
	}
	.on-mobil{
		float: left;
	}
	.count-card {
		width: auto;
		margin: 0px 0 5px 0;
	}
	.count-card p {
		line-height: 55px;
	}
	.flight_numbers {
		float: none;
		clear: both;
	}
	.flight_numb {
		float: left;
		padding: 0 20px 0 0;
	}
	.sort-box p {
		padding: 0 0px 0 10px;
	}
	.sort-box p a {
		margin: 0 5px;
		padding: 15px 0 15px 0;
	}
	.info_ticket {
		width: 375px;
		float: left;
		padding: 9px 10px 9px 10px;
	}
	.left_info_ticket {
		width: 100%;
	}
	.bottom_card_details {
		clear: none;
		float: right;
		width: 100%;
	}
	.goods_info_ticket {
		width: 222px;
	}
	.group-card {
		width: 100%;
		float: none;
	}
	.right_info_ticket {
		padding: 20px 10px 9px 10px;
		width: 100%;
		float: right;
		position: relative;
		border-left: none;
		border-top: 1px solid #cbd8ea;
	}
	.btn-price-block {
		position: relative;
		bottom: 0;
	}
	.bottom_card_details .cmt_title {
		margin-bottom: 6px;
		width: 100%;
		float: none;
	}
	#results .bottom_card_details ul li {
		float: left;
	}
	.rm_book_btn.blue_btn{
		float: right;
		margin-right: 17px;
		width: 150px;
	}
	.tr_sidebar_area .widget-title {
		width: auto;
	}

	.tr_sidebar_area .widget .h-blue {float: right;}
	#departure-time-range, #arrival-time-range, #transplant-time-range {
		margin-top: 95px;
	}
	.right_info_ticket .price {
		width: 50%;
		clear: both;
		float: left;
	}
	.rm_book_btn.green_btn {
		width: 150px;
		position:relative;
	}
	.right_info_ticket.group-card-right .rm_book_btn.green_btn{
		width: 150px;
		position:relative;
	}
	#results ul.nearest_flight li {
		float: left;
		width: auto;
		margin-right: 15px;
		padding-right:15px;
	}
	/*train_page*/
	div.info_tr_ticket {
		width: 100%;
	}
	div.info_tr_ticket div.box_tr_ticket ul {
		width: 280px;
	}
	div.info_tr_ticket div.box_tr_ticket ul.number_movements li {
		margin: 0 64px;
	}
	div.info_tr_ticket div.box_tr_ticket .not-move.number_movements li::before {
		left: -138px;
		width: 138px;
	}
	div.btm_descr_ticket h2 {
		padding-top: 0;
	}
	div.btm_price_ticket {
		padding: 48px 0 0 0;
	}
	div.btm_box_tr{
		margin: 15px 0;
	}
	
	#ticket_main_results_container div#results div.box_tr_ticket ul {
		width: 100%;
		margin-left: 0;
		margin-top: -10px;
	}
	#ticket_main_results_container div#results div.box_tr_ticket ul.number_movements li {
		margin: 0 128px 0 0;
	}
	#ticket_main_results_container div#results div.box_tr_ticket .not-move.number_movements li::before {
		content: '';
		position: absolute;
		top: 3px;
		left: -200px;
		width: 200px;
		height: 2px;
		background: #cbd8ea;
		z-index: 1;
	}
	#ticket_main_results_container div#results div.box_tr_ticket .not-move.number_movements li::before {
		left: -138px;
		width: 138px;
	}
	div.right_info_ticket {
		width: 100%;
	}
	/*политика2*/
	.tp-group input {
		width: 100%;
	}
	.tp-group .form_group {
		width: 300px;
		margin-right: 10px;
		float: left;
	}
	/* добавление группы */
	.search-user {
		width: 100%;
	}
	.search-user .table td:nth-child(2) {
		padding: 0 10px 10px 10px;
	}
	/*детали документа*/
	div.block_desc.doc_details .goods_info_ticket {
		padding: 10px 10px 0 0px;
		width: 205px;
		float: right;
	}
	div.block_desc.doc_details .goods_info_ticket p{
		text-align: left;
		width: 100%;
	}
	div.block_desc.doc_details .info_ticket {
		width: 300px;
		float: left;
		padding: 9px 10px 9px 15px;
	}
	.hotels .b-srv_ticket {
		display: table;
		margin-bottom: 15px;
	}
	.title_apartment{
		margin-bottom: 15px;
	}
	.total_srv_box{
		margin-bottom: 35px;
	}
	.total_srv_box .b-srv_ticket {
		margin-bottom: 10px;
	}
	/*документы*/
	
	.tab-query button {
		width: auto;
		padding: 0 35px 0 35px;
	}
	.inner-query .l-query {
		width: 100%;
		padding: 0 25px 25px 25px;
	}
	.tab-query button {
		font-size: 14px;
	}
	.matching {
		width: 100%;
	}
	.inner-query .r-query {
		float: none;
		width: 100%;
		padding: 0 15px 25px 15px;
	}
	.tabcontent-doc .list_people {
		width: 400px;
		float: left;
	}
	.l-info {
		width: 300px;
		float: left;
	}
	.tabcontent-doc .date_wrapper{
		width: 100%;
	}
	.title-bl {
		margin-bottom: 10px;
		height: auto;
	}
	/*company*/
	div#PaymentСardCompany .important_output_query {
		width: 100%;
		height: auto;
		float: none;
		padding: 30px 0;
		margin: 0 auto 50px; 
	}
	.left_output_query {
		width: 100%;
		float: none;
		padding: 0;
	}
	.right_output_query {
		width: 100%;
		float: none;
		padding: 0;
	}
	.output_query {
		width: 100%;
		float: none;
	}
	.important_output_query {
		width: 100%;
		height: auto;
		float: none;
		padding: 0;
		margin: 0;
	}
	#RequisitesCompany form {
		width: 100%;
	}
	/* page train */
	.owl-carousel {
		height: 430px;
	}
	.result_list.hotels li .specific_result {
		padding: 0;
	}
	.doc_details .result_list li .specific_result.btm {
		padding: 10px;
	}
	.left_info_hotel {
		width: 218px;
		float: left;
	}
	.right_info_hotel {
		padding: 18px 15px;
		width: 470px;
	}
	.img_hotel img {
		object-fit: cover;
		width: 218px;
		height: 220px;
	}
	.room_services > li {
		height: 30px;
		text-align: left;
	}
	.room_services li p {
		float: none;
		width: 185px;
		font-size: 13px;
		line-height: 15px;
		text-align: left !important;
	}
	.type_tr_apartment .bottom_card_h .p-box-right {
		padding: 34px 15px 0 0;
	}
	.type_tr_apartment .bottom_card_h .p-box-left {
		padding: 42px 0;
	}
	.srv_hotel {
		padding: 15px;
	}
	.type_tr_apartment .box_srv_h p {
		line-height: 15px;
	}
	.type_tr_apartment .box_srv_h p {
		font-size: 13px;
		line-height: 15px;
	}
	.info_tr_ticket.info-appartment .p-box-left p {
		line-height: 18px;
	}
	.info_tr_ticket.info-appartment .p-box-left p.price-hotel {
		line-height: 21px;
	}
	.type_tr_apartment .l_card_hotel p {
		font-size: 14px;
	}
	.owl-carousel.owl-loaded {
		height: 428px;
	}
	/*пользователи*/
	.rwd-table th:nth-child(2){
		word-wrap: break-word;
		width: 100%;
		padding: 0 15px;
	}
	.rwd-table td {
		padding: 10px 15px;
	}
	.table_users .rwd-table tr {
		position: relative;
	}
	.block_search_users .button {
		width: auto;
		padding: 0 15px;
	}
	.search_user .rm_book_btn.green_btn {
		margin-top: 0;
	}	
	.search_user .form_group:nth-child(1) {
		width: 412px;
		float: left;
		padding-right: 35px;
	}
	.search_user .date_wrapper {
		width: 275px;
		float: right;
		padding-right:0;
	}
	.search_user .rm_book_btn.green_btn {
		margin-top: 15px;
		float: left;
	}
	.table_users .rwd-table td:first-child {
		padding-left: 15px;
		padding-right: 15px;		
	}
	.table_users .rwd-table tr a{
		float: right;
		padding: 0 15px 15px;
	}
	#blockTP2 {
		width: 100%;
	}
	/*new process*/
	.table_users.tbody_search_users .rwd-table th:first-child, .table_users.tbody_search_users .rwd-table td:first-child {
		padding-left: 0;
		width: 100%;
	}
	.table_users .tbody_table_users h3 {
		margin-bottom: 0;
	}
	.table_users.tbody_search_users .rwd-table tr {
		border-bottom: 0px solid #fff;
		position: relative;
		width: 100%;
		height: auto;
		display: block;
		padding: 10px 0;
	}
	.table_users .rwd-table tr {
		border-bottom: 0px solid #fff;
		position: relative;
		width: 100%;
		height: auto;
		display: block;
		padding: 10px 0;
	}
	.table_users.tbody_search_users td:nth-child(3){
		display: block;
		position: absolute;
		top: 35px;
		right: -15px;
	}
	.table_users td:nth-last-child(1){
		display: block;
		position: absolute;
		top: 35px;
		right: 0;
	}
	.search-user p.add-info {
		width: 100%;
	}
	/*trip details*/
	#results .bottom_card_details ul li{
		margin-bottom: 0;
	}
	div.block_desc.doc_details .goods_info_ticket {
		width: 185px;
	}
	.add_box_card .rm_book_btn.green_btn {
		float: right;
		padding: 0;
	}
	.add_box_card .total-price {
		text-align: left;
	}
	.doc_details .result_list li .specific_result {
		padding: 5px 10px;
	}
	/*бронирование, согласование*/
	.block_search_docs .nm_draft {
		width: 369px;
		float: left;
		margin-right: 0;
	}
	/* выбор отеля */
	.top-sidenav .dtp {
		width: 100%;
	}
	.top-sidenav .search_frm_cover .form_group {
		margin-bottom: 0;
	}
	.top-sidenav #Hotels .input-group {
		padding-bottom: 20px;
	}
	.box_p{
		margin-bottom: 15px;
	}
	/*бронирование*/
	.box_tr{
		width: 100%;
		float: none;
		height: 24px;
	}
	.title_box_tr .form_group {
		left: auto;
		margin-left: 0;
		height: 26px;
		position: relative;
		margin-top: 25px;
	}
	div.block_desc.doc_details.trip_details .info_ticket {
		width: 470px;
		float: left;
		padding: 10px 10px 10px 15px;
	}
	div.block_desc.doc_details.trip_details .goods_info_ticket {
		width: 100%;
		padding: 10px 0;
	}
	.trip_details .t_add_card {
		width: 480px;
		margin-bottom: 10px;
	}
	.trip_details .img_card {
		margin-bottom: 10px;
	}
	.trip_details .rm_book_btn.green_btn_border{
		float: right;
	}
	.trip_details .group-card-btm {
		margin: 10px 0;
	}
	/*отчет*/
	.box_rpt .t_add_card {
		width: 100%;
		text-align: center;
		padding: 0;
		margin: 0 0 10px 0;
	}
	.box_waybill p{
		padding:0;
	}
	.box_waybill.box_rpt .left_info_ticket .t_add_card p {
		margin-bottom: 10px;
	}
	.bm_bw .t_add_card {
		width: 33.333% !important;
		padding: 0;
		margin: 0 !important;
	}
	.box_waybill.box_rpt .left_info_ticket{
		padding: 0 !important;
	}
	.bm_bw {
		padding: 20px 0 0 0;
	}
	.bl_bw .specific_result.add_box_card .img_card {
		float: none;
		margin: 0 auto 15px;
	}
	.table_users.table_bw td:nth-last-child(1) {
		display: block;
		position: relative;
		top: 0;
		right: 0;
	}
}
/*выбор места в билете*/
@media only screen and (max-width: 860px){
	div.sidenav-ticket {
		width: 100%;
	}
	div#openRightBlock .page_block span {
		line-height:18px;
	}
}
@media only screen and (max-width: 840px){
	div.form-group.c-number {
		width: 160px;
	}
	.page_block input.input-number {
		width: 83px;
	}
	.t_transfer {
		width: 385px;
		text-align: left;
	}
	.sidenav-ticket.transfer_block .title_points_tr:nth-child(2) h3 {
		line-height: 15px;
	}
	.title_transfer {
		width: 250px;
	}
	.btm_info_transfer .rm_book_btn.green_btn {
		margin-bottom: 10px;
	}
	.page_block .d_points_tr {
		width: 100%;
		float: none;
	}
	.page_block .date_transfer input[type=text] {
		width: 48%;
	}
	.page_block .time_transfer input {
		width: 48%;
		float: right;
	}
	div.form-group.c-number {
		width: 48%;
	}
	div.form-group.c-number.children {
		float: right;
	}
	.page_block input.input-number {
		width: 77%;
	}
	.page_block .date_transfer input[type=text]{
		margin-bottom: 10px;
	}
	.aic_point_tr {
		float: left;
		width: 100%;
	}
	.page_block .input-number-decrement, .page_block .input-number-increment {
		display: inline-block;
		width: 10%;
	}
	.btm_info_transfer .l_transfer {
		float: left;
	}
}
@media only screen and (max-width: 767px){
	div.box_departure_tr {
		text-align: center;
		margin-bottom: 25px;
	}

	div.box_arrival_tr {
		text-align: center;
	}
	div#openRightBlock .box_duration_tr {
		padding-bottom: 30px;
	}
	div#openRightBlock .arrow.image__arrow {
		width: 126px;
		left: 50%;
		margin-left: -63px;
		margin-top: 0;
	}
	div.info_pr_ticket {
		float: left;
	}
	div.info_client .name_client, div.info_client .info_cl_ticket {
		display: table;
		margin-bottom: 5px;
	}
	div.page_block_info_more_bottom .outside_travel_policy {
		text-align: left;
		float: left;
	}
	div.sidenav-ticket div.adding_to_trip {
		width: 100%;
		float: none;
	}
	div.sidenav-ticket .adding_to_trip .add_to_trip {
		float: left;
		margin-top: 20px;
	}
	/*политика 2*/
	.tp-group .form_group {
		width: 100%;
		margin-right: 10px;
		float: left;
		margin-bottom: 10px;
	}
	.sidenav_add #moreDetail .image__arrow {
		position: relative;
		bottom: 0;
		top: 50%;
		transform: rotate(90deg);
		float: none;
		width: 35px;
		margin: 22px 20px 22px 0;
	}
	.title-moreDetail {
		width: auto;
		float: none;
		padding-right: 25px;
		line-height: 18px;
	}
	.tp-group a {
		display: block;
		position: relative;
		right: 0;
		top: 15px;
		float: right;
	}
	.tabcontent_open .form_group-text {
		padding: 16px 0;
		height:auto;
	}
	.sidenav_add #moreDetail input[type=text] {
		margin-right: 15px;
	}
	/* page hotel */
	.owl-carousel.owl-loaded {
		height: 300px;
	}
	#openRightBlockTr .owl-carousel.owl-loaded {
		height: 350px;
	}
	.info-appartment .r_card_hotel {
		width: 134px;
		float: left;
	}
	.info-appartment p.number_reviews {
		padding-left: 0;
	}
	.l_card_hotel {
		margin-bottom: 10px;
	}
	.row-select .form_group{
		margin-bottom: 10px;
	}
	.row-select div:nth-last-child(1) .form_group{
		margin-bottom: 0px;
	}
	.top_card_h {
		height: auto;
		overflow: hidden;
	}
	.left_info_hotel {
		width: 100%;
		float: none;
	}
	.img_hotel {
		width: 100%;
		height: 220px;
	}
	.img_hotel img {
		object-fit: cover;
		width: 100%;
		height: 220px;
	}
	.right_info_hotel {
		padding: 18px 15px;
		width: 100%;
	}
	.type_tr_apartment p.free_ap {
		text-align: left;
		margin-bottom: 10px;
	}
	.type_tr_apartment .bottom_card_h .p-box-right {
		padding: 15px 15px 0 0;
	}
	.type_tr_apartment .bottom_card_h .p-box-left {
		padding: 40px 15px;
	}
	#openRightBlockTr .b-srv_ticket {
		margin-bottom: 0;
		padding: 0 0 15px 0;
		float: left;
	}
	/*пользователи*/
	.rwd-table th:nth-child(2){
		word-wrap: break-word;
		width: 100%;
		padding: 0 15px;
	}
	.rwd-table td {
		padding: 10px 15px;
	}
	.table_users .rwd-table tr {
		position: relative;
	}
	.block_search_users .button {
		width: auto;
		padding: 0 15px;
	}
	.search_user .rm_book_btn.green_btn {
		margin-top: 0;
	}	
	.search_user .form_group:nth-child(1) {
		width: 100%;
		float: none;
		padding-right: 0;
		margin-bottom: 10px;
	}
	.search_user .date_wrapper {
		width: 100%;
		float: none;
		padding-right:0;
	}
	.search_user .rm_book_btn.green_btn {
		margin-top: 15px;
		float: left;
	}
	.table_users .rwd-table td:first-child {
		padding-top: 0;
		padding-left: 15px;
		padding-right: 15px;		
	}
	.table_users .rwd-table tr {
		padding: 5px 0;
	}
	.table_users .rwd-table tr a{
		float: right;
		padding: 0 0 15px 0;
	}
	.block_search_users .button {
		font-size: 13px;
		line-height: 36px;
		height: 36px;
	}
	/*new process*/
	.btn-group{
		width: 100%;
	}
	.widget_travel_transplants .btn-group .btn {
		width: 50%;
	}
	.widget_travel_transplants .jq-selectbox {
		vertical-align: middle;
		cursor: pointer;
		width: 100%;
	}
	.widget_travel_transplants .jq-selectbox__select {
		width: 100%;
	}
	.table_users .rwd-table.tbody_table_users td:before {
		content: attr(data-th);
		font-weight: bold;
		width: 100%;
		display: inline-block;
	}
	.table_users.tbody_search_users td:nth-child(3) {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
	}
	/*бронирование, согласование*/
	.block_search_docs .dt_draft {
		width: 100%;
		float: none;
		margin-right: 0;
		margin-bottom: 15px;
	}
	.block_search_docs .nm_draft {
		width: 100%;
		float: none;
		margin-right: 0;
	}
	.list_item_wtr .inner-query .l-query {
		padding: 26px 25px 25px 25px;
	}
	/* выбор отеля */
	#Hotels .search_frm_cover .dtp input{
		margin-bottom: 10px;
	}
	.page_block input[type=text] {
		 margin-bottom: 10px;
	}
	.top-sidenav #Hotels .input-group {
		padding-bottom: 0;
	}
-		/*page hotel*/
	div.l_part{
		width: 100%;
		min-height: auto;
		border-bottom: 1px solid #cbd8ea;
		border-right: 0;
	}
	div.bl_policy .l_part {
		padding-bottom: 20px;
	}
	div.top_part {
		width: 100%;
	}
	div.t_rvw {
		width: 100%;
	}
	div.r_rvw {
		width: 100%;
		padding: 35px 0 0 0;
		float: left;
	}
	div.r_rvw h2 {
		text-align: left;
	}
	div.bl_comment{
		max-height: 100%;
	}
	div.bl_reviews .jq-selectbox {
		width: 100%;
	}
	div.bl_reviews .jq-selectbox__select {
		width: 100%;
	}
	div.number_rvw p {		
		line-height: 18px !important;
		margin: 0 !important;
	}
	div.btn_rvw {
		width: 100%;
		margin-bottom: 15px;
	}
	div.r_indicator {
		width: 100%;
	}
}
@media (max-width:992px){
	div.on-desktop{
		display: none;
	}
	div.on-mobil{
		display: block;
	}
	div.on-mobil .rm_book_btn.green_btn{	
		margin: 25px 0 0;
		float: none;
	}
	.modal-content {
		width: auto;
	}
	div.box_duration_tr p {
		margin-top: 0 !important;
		height: 40px !important;
	}
	div.map-responsive {
		width: 100% !important;
	}
	.search-container{
		margin: 55px 0 0 0;
	}
	.search-container input[type=text] {
		height: 48px;
	}
}
@media (max-width:767px){
	.total-price-btm p a {
		padding-left: 5px;
	}
	.search_frm_cover .form_group {
		width: 100%;
		float: none;
	}
	.l-form-box {
		width: 100%;
		float: none;
	}
	.search_frm_cover .form_group.when {
		width: 100%;
		float: none;
		padding-left:0;
	}
	.search_frm_cover .form_group:nth-child(1) input[type=text] {
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		border-right: 1px solid #cbd8ea;
		border-left: 1px solid #cbd8ea;
	}
	.search_frm_cover .form_group:nth-child(2) input[type=text] {
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		border-left: 1px solid #cbd8ea;
	}
	.search_frm_cover .form_group:nth-child(1):after {
		height: 100%;
		bottom: 0%;
		width: 0;
	}
	.r-form-box {
		width: 100%;
		float: none;
	}
	#Hotels .search_frm_cover .form_group.arrival, #Hotels .search_frm_cover .form_group.departure {
		width: 100%;
	}
	#Hotels .l-form-box.search_h{
		width: 100%;
		float: none;
		padding-right: 0;
	}
	.date-picker-wrapper {
		width: 325px !important;		
		margin-left: !important;
		left: 50% !important;
		margin-left: -163px !important;
	}
	.date-picker-wrapper .month-wrapper {
		margin-left: 0 !important;
	}
	.tour_package_box {
		max-width: 360px;
	}
	.block_body {
		max-width: 400px;
	}
	div.sidenav.sidenav-ticket{
		padding-top: 0;
	}
	#Hotels .search_frm_cover .form_group.arrival input {
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		border-right: 1px solid #cbd8ea;
	}
	#Hotels .search_frm_cover .form_group.departure input {
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		border-left: 1px solid #cbd8ea;
	}
	/*-- home slider css --*/
	.tr_slider_caption {
		margin: 120px 0;
	}
	.tr_slider_caption h1 {
		font-size: 30px;
		line-height: 42px;
	}
	.tr_slider_caption p{
		font-size:19px;
	}
	/*-- home slider css --*/
	/*поиск и бронирование*/
	
	.count-card {
		margin: 5px 0 5px 0;
	}
	.info_ticket {
		width: 415px;
		float: right;
		padding: 9px 10px 9px 10px;
	}
	.sort-box {
		width: 100%;
	}
	/*train_page*/
	div.tr_left_box {
		float: none;
	}
	div.tr_box {
		padding: 10px 0;
		float: none;
		width: 100%;
		margin-right: 0;
	}
	div.star-rating {
		padding-left: 30px;
	}
	p.number_reviews {
		padding-left: 30px;
	}
	div.info_tr_ticket div.box_tr_ticket ul {
		width: 100%;
	}
	.sort-box p a {
		margin: 0 10px;
	}
	div.info_tr_ticket div.box_tr_ticket ul.number_movements li:nth-child(1) {
		margin: 0 0;
	} 
	div.info_tr_ticket div.box_tr_ticket ul.number_movements li:nth-child(2) {
		margin: 0 0 0 428px;
	}
	div.info_tr_ticket div.box_tr_ticket ul.number_movements li {
		margin: 0 213px;
	}
	div.info_tr_ticket div.box_tr_ticket .not-move.number_movements li::before {
		left: -433px;
		width: 433px;
	}
	div.arrival_tr_ticket {
		text-align: center;
	}
	div.departure_tr_ticket {
		text-align: center;
		margin-bottom: 15px;
	}
	.pst-movements {
		position: absolute;
		width: 100%;
		margin: 0 auto 15px;
		top: -15px;
	}
	#results div.movements {
		width: 124px;
	}
	div.time_tr_ticket h2 {
		float: none;
		padding-right: 0;
		text-align: left;
	}
	div.time_tr_ticket {
		text-align: left;
	}
	div.arrival_tr_ticket div.time_tr_ticket, div.arrival_tr_ticket .time_tr_ticket h2 {
		text-align: right;
	}
	div.info_tr_ticket .btm_box_tr p {
		line-height: 18px;
		margin-top: 5px;
	}
	div.btm_descr_ticket .outside_travel_policy p.help {
		float: left;
		margin-top: 1px;
	}
	div.btm_descr_ticket .setting_save_btn {
		width: 100%;
	}
	/*политика 1*/
	.tabcontent_open .widget.widget_search form .search-field {
		width: 100%;
	}
	div.arrow-prev {
		float: none;
		margin-bottom: 15px;
	}
	/*детали документов*/
	div.block_desc.doc_details .goods_info_ticket {
		padding: 0;
		width: 205px;
		float: left;
		margin: 10px 0;
	}
	.specific_result .img_card {
		margin-bottom: 5px;
	}
	.hotels .r_card_hotel {
		margin-bottom: 15px;
		float: left;
		text-align: left;
	}
	.hotels p.number_reviews {
		padding-left: 0;
	}
	/*документы*/
	.inner-query .l-query {
		width: 100%;
		padding: 0 25px 25px 25px;
	}
	.tab-query button {
		font-size: 14px;
	}
	.matching {
		width: 100%;
	}
	.inner-query .r-query {
		float: none;
		width: 100%;
		padding: 0 15px 25px 15px;
	}
	.tabcontent-doc .list_people {
		width: 100%;
		float: none;
	}
	#Excess .title-bl p:nth-child(1) {
		width: 100%;
		float: none;
	}
	.l-info {
		    width: 100%;
    float: none;
	}
	#Excess .title-bl p:nth-child(2) {
		width: 100%;
		margin: 10px 0 15px;
		float: none;
	}
	.tabcontent-doc .date_wrapper{
		width: 100%;
	}
	.title-bl {
		margin-bottom: 10px;
		height: auto;
	}
	.tabcontent-doc .btm-bl .more_tr_info {
		position: relative;
		right: 0;
		text-align: center;
		top: 0;
		margin-top: 0;
		clear: both;
	}
	.tabcontent-doc .more_tr_info .rm_book_btn.green_btn {
		float: none;
		margin-top: 20px;
		width: 198px;
	}
	.tabcontent-doc .form_group{
		margin-bottom: 15px;
	}
	/*company*/
	.right_card_input {
		width: 500px;
		height: 343px;
	}
	.card_input #form-container {
		width: 600px;
		height: auto;
	}
	.card_input #card-front, .card_input #card-back {
		width: 450px;
	}
	.card_input #card-number, .card_input #card-holder {
		width: 100%;
	}
	.card_input #cardholder-container {
		width: 259px;
	}
	.card_input #exp-container {
		width: 115px;
	}
	.card_input #card-month {
		width: 50px;
	}
	.card_input #card-year {
		width: 50px;
	}
	.card_input #cvc-container {
		width: 90px;
		right: -88px;
		padding-left: 15px;
	}
	.card_input #card-cvc {
		width: 65px;
	}
	#PaymentСardCompany .important_output_query {
		width: 100%;
	}
	/*trip details*/
	.widget_travel_transplants.widget_add_box .btn-group .btn svg {
		margin: -3px 0 0 0;
		width: 20px;
		height: 15px;
	}
	.t_add_card {
		width: 326px;
		float: left;
		margin-bottom: 15px;
	}
	.doc_details .result_list li .specific_result {
		padding: 5px 10px;
	}
	.item_box_waybill {
		position: relative;
	}
	.box_waybill h3 a {
		margin-bottom: 0;
		float: none;
	}
	.l_transfer {
		float: left;
		padding-left: 45px;
	}
	.btm_info_transfer .l_transfer {
		float: left;
		padding-left: 0;
	}
	.page_block input.input-number {
		width: 76%;
	}
}
@media (max-width: 720px){
	.flight_numb:nth-last-child(1) {
		text-align: left;
		padding: 0;
		clear: both;
		width: 100%;
	}
	.flight_numb {
		float: left;
		width: 150px;
		padding: 0 20px 0 0;
	}
}
/*личный кабинет*/
@media (max-width:700px){
	.sidenav {
        width: 100%;
	}
	.flight_points {
		width: 100%;
	}
	.select_baggage {
		width: 100%;
		float: right;
		margin: 15px 0 25px 0;
	}
	#moreDetail .image__arrow {
		width: 150px;
	}
	.modal-content {
		width: 90%;
	}
	.s_box {
		float: left;
		margin-bottom: 10px;
	}
	.block_draft {
		height: auto;
	}
	.block_draft div {
		float: none;
	}
	.block_draft .save_draft {
		float: none;
		padding-right: 0;
		position: relative;
		height: 50px;
	}
	.block_draft .save_draft p {
		padding-right: 80px;
		line-height: 47px;
	}
	.block_draft div.delete_draft {
		position: absolute;
		right: 15px;
		top: 0;
	}
	.checkmark_box {
		position: absolute;
		right: 20px;
	}
}
@media (min-width: 624px) and (max-width: 700px){
	.seats.bus {
		height: 195px;
	}
}
@media only screen and (max-width: 660px){
	.img_transfer {
		width: 100%;
		height: 250px;
		margin-bottom: 10px;
		float: none;
		margin-right: 30px;
	}
	.img_transfer img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
	.title_transfer {
		width: 100%;
	}
	.btm_info_transfer .l_transfer {
		padding-left: 0;
	}
	.btm_info_transfer .rm_book_btn.green_btn {
		width: 100%;
	}

} 
@media (min-width: 460px) and (max-width: 624px){
	.seats.bus {
		height: 170px;
	}
}
@media only screen and (max-width: 460px){
	.seats.bus {
		height: 270px;
	}
}
@media (max-width:600px){
	.descr_main_block h3 {
		width: 80%;
	}
	.descr_main_block ul {
		margin-top: 10px;
		margin-bottom: 0;
	}
	.tr_counter_section .block_1 {
		width: 100%;
	}
	.room_services > li{
		width:100%;
	}
	.room_services > li:nth-child(2n+1) {
		margin-right: 0;
	}
	.gallery_main .gallery_cover {
		width: 100%;
		display: table;
		margin: 0 auto;
		float: none;
		max-width: 475px;
	}
	/*company*/
	.right_card_input {
		width: 100%;
		height: 343px;
	}
	.card_input #form-container {
		width: 100%;
		height: auto;
	}
	.card_input #card-front, .card_input #card-back {
		width: 100%;
	}
	.card_input #card-front, .card_input #card-back{   padding: 15px;}
	.card_input #card-number, .card_input #card-holder {
		width: 328px;
	}
	.card_input #cardholder-container {
		width: 259px;
	}
	.card_input #exp-container {
		width: 115px;
	}
	.card_input #card-month {
		width: 50px;
	}
	.card_input #card-year {
		width: 50px;
	}
	.card_input #cvc-container {
		width: 90px;
		right: 5px;
		top: 90px;
		padding-left: 0;
	}
	.card_input #card-cvc {
		width: 65px;
	}
	#PaymentСardCompany .important_output_query {
		width: 100%;
	}
	.card_input #card-back{
		top: 0;
		left: 0;
		height:0;
	}
	/*page hotel*/
	.room_services li p {
        width: 100%;
	}
	.room_services.main-srv > li {
		width: 49%;
	}
	/*trip details*/
	.ic_transfer {
		width: 30px;
		height: 34px;
		text-align: center;
		margin: 0 auto;
	}
	.sidenav-ticket.transfer_block .title_points_tr h3 {
		text-align: center;
		margin-top: 5px;
	}
	div.box_departure_tr {
		margin-bottom: 0;
	}
	.l_transfer {
		float: none;
		padding-left: 0;
	}
	.l_transfer a {
		font-size: 14px;
		line-height: 30px;
		text-align: center;
	}
	.t_transfer {
		margin: 8px auto;
	}
	.widget_travel_transplants h3 {
		font-size: 14px;
		line-height: 18px;
	}
	.progress-bar-container .progress-bar__circle__label {
		font-size: 12px;
		line-height: 18px;
		margin-left: -50px;
	}
	.hotels .b-srv_ticket {
		margin-bottom: 10px;
	}
	.total_srv_box .ic-srv {
		padding: 7px;
	}
	.descr-bl {
		padding: 0;
	}
}
@media only screen and (max-width: 576px){
	div.info_tr_ticket h1 {
		text-align: center;
	}
	div.star-rating {
		padding-left: 0;
		width: 130px;
		float: left;
	}
	.number_reviews{
		text-align: right;
	}
	.create_new_block a:nth-child(1) {
		text-align: left;
		float: none;
		padding-left: 30px;
	}
	.create_new_block a:nth-last-child(1) {
		text-align: left;
		float: none;
	}
	.create_new_block {
		width: 100%;
		height: auto;
	}
	div.time_tr_ticket {
		text-align: center;
		width: 240px;
		margin: 0 auto;
		float: none;
	}
	div.time_tr_ticket h2 {
		float: left;
		text-align: center;
	}
	div.arrival_tr_ticket .time_tr_ticket{
		float: none;
	}
	div.arrival_tr_ticket div.time_tr_ticket {
		text-align: center;
	}
	div.info_tr_ticket div.box_tr_ticket ul {
		width: 200px;
	}
	div.info_tr_ticket div.box_tr_ticket ul.number_movements li:nth-child(2) {
		margin: 0 0 0 150px;
	}
	div.info_tr_ticket div.box_tr_ticket .not-move.number_movements li::before {
		left: -158px;
		width: 158px;
	}
	div.srv_ticket {
		margin-bottom: 0;
	}
	div.btm_box_tr {
		margin: 15px auto;
		width: 250px;
		text-align: center;
	}
	div.btm_price_ticket {
		padding: 15px 0 20px 0;
		text-align: center;
	}
	.b-srv_ticket {
		margin: 0 0 10px 0;
	}
	/*document detail*/
	div.block_desc.doc_details .info_ticket {
		width: 100%;
		margin: 30px auto 0;
		padding: 0;
	}
	/*trip detail*/
	.doc_details .result_list li .specific_result {
		padding: 5px 15px;
	}
	
	.title_box_tr .form_group {
		width: 310px;
		margin: 0 auto;
		height: 26px;
	}
	.title_box_tr input[type=text] {
		font-size: 16px;
	}
	.title_box_tr label {
		font-size: 16px;
	}
	.title_box_tr.b_draft h1{
		text-align: left;
		font-size: 16px;
		width: 100%;
	}
	.box_tr{
		margin-bottom: 15px;
		height: 40px;
	}
	div.banner_overlay .b_draft div p {
		width: auto;
		padding: 0;
	}
	.box_tr img {
		margin-top: 2px;
	}
	.coordinator a {
		display: block;
	}
	div.points_tr {
		padding: 0 0 0 10px;
	}
	#results .bottom_card_details ul li {
		margin-bottom: 0;
		width: 100%;
	}
	.group-card-btm {
		height: auto;
		margin: 0;
	}
	.total-price-btm {
		width: 100%;
		float: none;
		padding: 0 5px;
		margin-bottom: 10px;
	}
	.more-link-btm {
		width: 100%;
		float: none;
		text-align: left;
		padding: 0 5px;
	}
	div.block_desc.doc_details .goods_info_ticket p {
		margin: 0;
	}
	.t_add_card {
		width: 100%;
		float: none;
	}
	.hotels .r_card_hotel {
		margin-bottom: 15px;
		float: none;
		text-align: center;
		width: 149px;
		margin: 0 auto;
	}
	.result_list.hotels p.number_reviews {
		padding-left: 0;
		margin: 10px 5px;
		text-align: center;
	}
	.total-price-btm p span {
		font-size: 16px;
	}
	.green_btn_border{
		float: none;
		width: 100%;
		margin: 0 auto;
	}
	.more-link-btm a.r_link {
		float: right;
	}
	.t_add_card p {
		margin-bottom: 5px;
	}
	.specific_result.add_box_card .img_card {
		margin: 4px 0;
	}
	div.points_tr > div.item_points_tr .ic_points_tr {
		margin-left: -30px;
		width: 30px;
		height: 30px;
		margin-top:0;
	}
	div.points_tr > div.item_points_tr .ic_points_tr svg {
		margin: 5px 0;
		width: 20px;
		height: 20px;
	}
	.progress-bar-container .progress-bar__circle {
		line-height: 30px;
		width: 30px;
		height: 30px;
	}
	.progress-bar-container .progress-bar__circle svg{
		width: 15px;
		height: 15px;
	}
	.progress-bar-container .progress-bar__circle .number {
		font-size: 12px;
		font-weight: normal;
	}
	.progress-bar-container .progress-bar__circle__label.p-text {
		margin-left: -15px;
		width: 46px;
		overflow: hidden;
	}
	.block_desc.doc_details {
		padding: 15px;
	}
	div.points_tr > div.item_points_tr {
		padding-left: 15px;
	}
	.tr-date h3 {
		float: left;
		margin-right: 15px;
		width: auto;
		padding-left: 15px;
	}

	/*trip details*/
	.t_transfer {
		width: 100%;
		text-align: left;
		padding-left: 0;
	}
	.trip_details .t_add_card {
		margin-bottom: 0;
	}
}
@media only screen and (max-width: 767px){
	.info_ticket {
		width: 100%;
		float: right;
		margin: 25px 0 0 0;
		padding: 0;
	}
	.specific_result .img_card {
		float: none;
		margin: 0 auto;
	}
	.left_info_ticket {
		padding: 10px 10px 15px 10px;
	}
	.right_info_ticket {
		padding: 15px 10px 10px 10px;
		width: 100%;
		float: left;
	}
	div.block_desc.doc_details.trip_details .info_ticket {
		width: 100%;
		padding: 0;
	}
	div.block_desc.doc_details.trip_details .goods_info_ticket {
		padding: 0;
	}
	.specific_result.add_box_card .left_info_ticket {
		padding: 20px 10px;
	}
	.goods_info_ticket p{
		margin-bottom: 0;
		line-height: 16px;
	}
	.bottom_card_details {
		padding: 0;
	}
	.total-price-btm {
		width: 100%;
		float: none;
		padding: 0 10px;
		margin-bottom: 10px;
	}
	.more-link-btm {
		width: 100%;
		float: left;
		text-align: left;
		padding: 0 10px 10px 10px;
	}
	.more-link-btm a.r_link {
		float: right;
	}
	.specific_result.add_box_card .img_card {
		margin: 0;
		float: none;
		margin: 0 auto 15px;
	}
	.t_add_card p {
		padding-left: 0;
	}
	.add_box_card .rm_book_btn.green_btn {
		float: none;
		padding: 0;
		width: 100%;
	}
	.trip_details .t_add_card {
		width: 100%;
	}
	.title_apartment p {
		font-size: 14px;
		float: left;
		padding-right: 10px;
		line-height: 16px;
		font-family: "Rubik-Light";
	}
}
@media only screen and (max-width: 550px){
	.right_card_input {
		width: 100%;
		height: 300px;
	}
	.output_query {
		padding: 15px;
	}
	.output_query .block_output {
		padding: 0;
	}
	.output_query {
		margin: 15px 0;
	}
	.important_output_query {
		margin: 15px 0;
	}
	.card_input #cardholder-container {
		width: 100%;
	}
	.card_input #card-number, .card_input #card-holder {
		width: 100%;
		height: 40px;
		line-height: 18px;
		margin: 0 0 10px 0;
	}
	.card_input #card-cvc, .card_input #card-month, .card_input #card-year {
		height: 40px;
		line-height: 18px;
		margin: 0;
	}
	.card_input #cvc-container {
		width: 90px;
		position: relative;
		right: 0;
		top: 0;
		padding-left: 0;
	}
	.card_input #card-front, .card_input #card-back {
		width: 100%;
		height: auto;
	}
	div#PaymentСardCompany .important_output_query {
		width: 100%;
		height: auto;
		float: none;
		padding: 0;
		margin: 20px 0 15px 0;
	}
	/* сотрудники */
	.block_search_users .button {
		width: 100%;
		padding: 0;
	}
	.block_search_users .count-card {
		margin: 0;
		clear: both;
		padding: 0;
		height: 50px;
	}
	.table_users .rwd-table td:before {
		width: 100%;
	}
	.table_users .rwd-table td:nth-child(3){
		width: 250px;
	}
	div.block_search_users .button:nth-child(1), div.block_search_users .button:nth-child(2), div.block_search_users .button:nth-child(3), div.block_search_users .button:nth-child(4), div.block_search_users .button:nth-child(5) {
		border-top: 1px solid #cbd8ea;
		border-bottom: 1px solid #cbd8ea;
		border-left: 1px solid #cbd8ea;
		border-right: 1px solid #cbd8ea;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
		margin-bottom: 5px;
	}
	/* бронирование, согласование */
	.list_trips .sort-box {
		margin: 15px 0 0;
		width: 100%;
		clear: both;
		width: 100%;
		height: 53px;
	}
	.list_trips .sort-box p a {
		margin: 0 5px;
		padding: 15px 0 15px 0;
	}
	.list_item_wtr .nav-tabs .nav-link {
		width: auto;
		padding: 0 5px;
	}
	.box_matching {
		width: 100%;
		margin: 0 auto 10px;
	}
	.matching .btn_matching {
		float: none;
		width: 100%;
		margin: 0 auto 10px;
	}
	.matching .btn_matching:nth-last-child(1) {
		margin: 0 auto;
	}
	.tabcontent-doc .nav.nav-tabs {
		padding: 0 10px;
	}
}
@media only screen and (max-width: 530px){
	.avatar, .avatar.default-logo {
		margin: 30px 0;
		width: 40px;
		height: 40px;
	}
	.tablink-ticket, #Tickets .tablink-ticket:nth-child(3) {
		width: 100%;
		float: none;
		margin: 0 auto 10px;
	}
	.tablink-ticket svg {
		position: absolute;
		left: 35%;
		top: 11px;
	}
	#Tickets .tablink-ticket:nth-child(3), #Tickets .tablink-ticket:nth-child(1), #Tickets .tablink-ticket:nth-child(2) {
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		border-left: 1px solid #cbd8ea
	}
	.tabcontent-ticket {
		padding: 15px 0 0 0;
	}
	.user-field {
		position: relative;
		width: 100%;
		margin: 0 0 10px;
	}
	.user-field .close {
		right: 15px;
	}
	.result-search_user {
		width: 100%;
		margin: 0 auto;
	}
	.search_frm_cover .form_group.search_btn {
		width: 100%;
		text-align: center;
	}
	.search_frm_cover .form_group .tour_search_btn {
		float: none;
	}
	#settingMain .form_group.save_btn {
		padding: 10px 62px;
	}
	#myNotifications .content-profile p {
		width: 250px;
	}
	#myNotifications .content-profile ul li p {
		line-height: 30px;
	}
	.tr_middle_heading h1 {
		font-size: 30px;
		line-height: 30px;
		width: 100%;
		padding: 50px 0 35px 0;
		margin: 0 auto;
	}
	.tabcontent {
		height: 335px;
	}
	.tr_logo {
		float: none;
		margin: 9px 0;
		left: 15px;
		width: 140px;
	}
	.tr_logo img{
		width: 100%;
	}
	/*поиск и бронирование*/
	.sort-box p a {
		line-height: 30px;
		margin: 0 10px;
		padding: 3px 0 3px 0;
	}
	.sort-box p:nth-child(1) {
		padding: 0 0px 0 15px;
		margin: 12px 0 0 0;
	}
	.group-card-hotel .bottom_card_h p.travel_policies {
		text-align: left;
		margin: 15px 0 10px 0;
	}

	.card-item h3 {
		font-size: 14px;
		line-height: 18px;
	}
	.tracking p {
		font-size: 14px;
		margin-bottom: 0;
	}
	div.block_desc .tabcontent-company p {
		font-size: 15px;
		line-height: 24px;
		color: #565d68;
		font-family: "Rubik-Light";
	}
	.hotels .r_card_hotel .output-rating {
		float: none;
	}
	.result_list.hotels p.number_reviews {
		padding-left: 0;
		margin: 10px 5px;
	}
	.flight_numb {
		margin: 10px 0;
	}
	.banner_overlay p {
		line-height: 18px;
	}
	.goods_info_ticket {
		padding: 9px 0 0 0px;
		width: 100%;
		float: right;
	}
	.bottom_card_details .cmt_title {
		margin-bottom: 6px;
		width: 100%;
		float: none;
	}
	#results .bottom_card_details ul li {
		font-size: 12px;
		padding-right:0;
	}
	#results ul.result_list li {
		font-size: 12px;
		line-height: 16px;
	}
	.sidenav .already_included ul li {
		font-size: 12px;
		height: 16px;
	}
	.right_info_ticket.group-card-right .rm_book_btn.green_btn {
		width: 50%;
		float: right;
		margin-right: auto;
		margin: 16px 0 0 0;
	}
	.show-count-card p {
		position: relative;
		line-height: 18px;
	}
	.rm_book_btn.blue_btn {
		float: none;
		margin-right: auto;
		width: 100%;
		margin: 10px 0 0 0;
	}
	.count-card {
		margin: 0 0 30px 0;
		height: 16px;
	}
	div.banner_overlay p {
		width: 100%;
		font-size: 14px;
	}
	div.banner_overlay .title_box_tr p {
		width: auto;
		font-size: 14px;
		float: left;
		padding-right: 0;
	}
	div.banner_overlay p:nth-child(4) {
		float: none;
		text-align: left;
	}
	.right_info_ticket .price {
		padding: 22px 0;
	}
	.goods_info_ticket p:nth-last-child(1) {
		padding-right: 10px;
	}
	.group-card .goods_info_ticket p:nth-last-child(1) {
		text-align: left;
		width: 100%;
	}
	/* new process*/
	.wrapper_block.sidenav_add .heading_main_block h2 {
		width: 100%;
		float: left;
	}
	.widget_travel_transplants .btn-group .btn {
		font-size: 13px;
		line-height: 18px;
	}
	.table_users.tbody_search_users .rwd-table th:nth-child(2), .table_users.tbody_search_users .rwd-table td:nth-child(2) {
		word-wrap: break-word;
		width: 250px;
	}
	.table_users.tbody_search_users td:nth-child(3) {
		display: block;
		position: absolute;
		top: 7px;
		right: 0;
		width: 50px;
	}
	.search-user {
		padding: 20px;
	}
	.tbody_search_users h3 {
		width: 80%;
	}
	.table_users h3 {
		width: 80%;
	}
	.sidenav_add .tabcontent_open .setting_save_btn {
		width: 100%;
	}
	.search_user .rm_book_btn.green_btn {
		margin-top: 15px;
		float: left;
		width: 100%;
	}
}
@media only screen and (max-width: 520px){
	.page_block .d_points_tr {
		margin-bottom: 10px;
	}
	.page_block .date_transfer input[type=text] {
		width: 100%;
	}
	.page_block .time_transfer input {
		width: 100%;
		float: none;
	}
	.page_block .d_points_tr input[type=text] {
		padding-left: 54px;
	}
	div.form-group.c-number {
		width: 100%;
		margin-right: 0;
		margin-bottom: 10px;
	}
	.page_block input.input-number {
		width: 77%;
	}
}
@media (min-width: 768px) {
	.rwd-table td:before {
		display: none;
	}
	.rwd-table th, .rwd-table td {
		display: table-cell;
	}
	.rwd-table th:first-child, .rwd-table td:first-child {
		padding-left: 0;
	}
	.rwd-table th:last-child, .rwd-table td:last-child {
		padding-right: 0;
	}

}
@media (max-width: 768px) {
	div.search-user .table.rwd-table td:nth-child(2) {
		padding: 0 0 10px 0;
	}
	div.search-user .table.rwd-table td:nth-child(3) {
		text-align: right;
	}
	div.search-user .table.rwd-table td{
		padding: 15px 0;
	}
	div.search-user .table.rwd-table tr{
		border-bottom: 1px solid #cbd8ea;
	}
	div.search-user .table.rwd-table tr:nth-last-child(1){
		border-bottom: 0px solid #cbd8ea;
	}
	#userInput {
		width: 100%;
	}
	.tabcontent_open form .search-field , .tabcontent_open form label {
		width: 100%;
	}
	.search-user .table {
		table-layout: fixed;
		width: 100%;
	}
	td {
		word-wrap:break-word;
	}
	.goods_info_ticket {
		padding: 10px 0;
	}	
	.header_banner .banner_overlay {
		padding: 40px 0 15px 0;
	}
	.list-hotels .hotels .right_info_hotel {
		width: 100%;
		padding: 15px 15px 0 15px;
	}
	.srv_hotel {
		border-bottom: 1px solid #cbd8ea;
		border-right: 0px;
	}
	.list-hotels .hotels .bottom_card_h .right_info_hotel {
		padding: 15px;
	}
	.img-tracking {
		margin: 17px 0;
	}
	.tracking {
		padding: 15px 15px 10px 15px;
	}
	.owl-carousel.owl-loaded {
		height: 445px;
	}
	#openRightBlockTr .owl-carousel.owl-loaded {
		height: 483px;
	}
	
}
@media only screen and (max-width: 768px){
	div#results ul.number_movements.not-move li:nth-child(1) {
		margin: 0;
	}
	.not-move.number_movements li::before {
		left: -100px;
		width: 100px;
	}
	/*документы*/
	.tab-query button {
		width: 50%;
		padding: 0 10px;
	}
	.tab-query button:nth-child(3) {
		border-left: 1px solid #cbd8ea;
	}
	.tab-query button:nth-child(2), .tab-query button:nth-child(1) {
		border-bottom: 0px solid #cbd8ea;
	}
	.title_box_tr h1 {
		font-size: 24px;
		width: 100%;
		text-align: center;
		margin: 15px auto 0;
	}
	.status_tr {
		bottom: 20px;
		padding: 0 15px;
		right: 25px;
		width: auto;
		margin: 15px auto 0;
	}
	p.coordinator {
		width: 100%;
		margin-bottom: 50px;
	}
	div.header_tr_ticket {
		padding: 75px 15px 10px 15px;
	}
	a.prev-page {
		left: 30px;
	}
	/*отчет*/
	.bl_doc_bw .form_group{
		margin-bottom: 15px;
	}
	.table_bw .rwd-table td {
		padding: 2px 15px;
	}
}
@media only screen and (max-width: 700px){
	.plus_additional_info {
		position: absolute;
		right: 132px;
		padding: 0;
		bottom: 0;
		top: auto;
	}
	.group-cards .additional_info {
		padding: 0 0 0 40px;
	}
	.flight_class p:nth-child(1) {
		margin-bottom: 0;
	}
	.box_pls {
		margin-bottom: 5px;
		height: 22px;
	}
	#moreDetail .group-cards .image__arrow {
		width: 90px;
	}
	.block_draft a, .block_draft p, .block_draft p span {
		line-height: 47px;
	}
}
@media only screen and (max-width: 768px){
	.page_block_header {
		padding: 20px;
	}
	.sidenav .closebtn {
		top: 20px;
		right: 20px;
	}
	.page_block_contact, .page_block_info_edit, .page_block_info_more, #settingMain .form_group.save_btn, .content-profile {
		padding: 20px;
	}
	.link_edit {
		top: 15px;
	}
	.select_baggage .jq-selectbox {
		width: 100%;
	}
	.select_baggage .jq-selectbox__select{
		width: 100%;
	}
	.additional_info {
		font-size: 14px;
	}
	.page_block_info_more_bottom {
		padding: 20px;
	}
}
@media only screen and (max-width: 600px){
	.owl-carousel.owl-loaded {
		height: 305px;
	}
}
@media (max-width:480px){
	.content-box {
		padding: 0px 10px;
	}
	.bg, .bg_btn {
		height: 250px;
	}
	/*фильтры ы левом выдвигающем окне*/
	.vdopopup_btn {
		height: 40px;
		width: 40px;
		font-size: 12px;
		line-height: 40px;
	}
	.faq_form {
		padding:30px;
	}
	.subuser-field .avatar {
		float: none;
		margin: 0 auto;
	}
	.subuser-field {
		width: 100%;
		height: auto;
		padding: 15px;
		text-align: center;
	}
	.subuser-field input[type=text] {
		float: none;
		margin: 15px 0 5px 0;
		text-align: center;
	}
	.new-user {
	    height: auto;
		padding: 15px 13px;
	}
	.new-user p {
		width: 100%;
		text-align: center;
		float: none;
		margin: 0;
		line-height: 30px;
	}
	.new-user a {
		width: 100%;
		float: none;
		text-align: center;
		line-height: 30px;
	}
	.tablink-ticket svg {
		left: 70px;
	}
	.header_right_menu.menu_open > ul > li {
		width: 100% !important;
	}

	.header_right_menu ul.menu li {
		float: none;
		width: 100%;
	}
	.header_right_menu.menu_open > ul > li {
		width: 100%;
	}
	.dropdown-user-content {
		display: none;
		position: absolute;
		overflow: auto;
		z-index: 1;
		background-color: #f1f1f1;
		margin-left: auto;
		right: 0;
		margin-top: -15px;		
		width: 250px;
		height: auto;
		border-radius: 6px;
		box-shadow: 0 0 27px rgba(0,0,0,0.04);
		background-color: #f9fdff;
		border: 1px solid #cbd8ea;
	}
	.link_edit {
		position: relative;
		top: 0;
		margin-top: 0;
		right: auto;
		text-align: left;
	}
	.page_block_info_edit a {
		text-align: left;
	}
	.page_block_contact, .page_block_info_edit {
		padding: 35px 15px;
	}
	#settingMain .form_group.save_btn {
		padding: 10px 15px;
	}
	.content-profile {
		padding: 35px 15px;
	}
	.page_block span {
		font-size: 14px;
		line-height: 26px;
		padding-left: 10px;
	}
	.page_block span.fa-star {
		font-size: 14px;
		line-height: 18px;
		padding-left: 0;
	}
	.page_block_header .avatar {
		margin: 0 auto 25px;
		float: none;
	}
	#settingMain h2 {
		width: 100%;
		padding-right: 0;
		float: none;
		text-align: center;
	}
	.page_block_header p {
		margin-top: 10px;
		text-align: center;
	}
	.page_block_contact a i {
		margin-right: 13px;
		margin-bottom: 10px;
		width: 100%;
		text-align:center;
	}
	.page_block_contact{
		text-align:center;
	}
	.page_block_contact a {
		padding: 0;
		font-size: 14px;
	}
	.sidenav ul li {
		height: 40px;
		margin: 0 0 10px 0;
	}
	.sidenav ul li p {
		line-height: 18px;
		padding: 0;
	}
	#moreDetail .page_block .departure_point_city, #moreDetail .page_block .arrival_point_city {
		width: 46%;
		float: left;
	}
	.additional_info {
		width: 250px;
	}
	.plus_additional_info {
		right: 92px;
	}
	.page_block_info_more_bottom {
		padding: 35px 15px 30px;
	}
	/*выбор места*/
	div.sidenav-ticket .closebtn {
		right: 15px;
	}
	div.sidenav-ticket .srv_ticket>div>div:nth-child(4) .b-srv_ticket, div.sidenav-ticket .srv_ticket>div>div:nth-child(5) .b-srv_ticket {
		margin-bottom: 10px;
	}
	/*end*/
	.total_price_info {
		width: 50%;
		float: left;
	}
	.adding_to_trip {
		width: 50%;
		float: right;
	}
	.adding_to_trip .add_to_trip {
		float: left;
		margin-top: 10px;
	}
	.sort-box {
		width: 100%;
		height: auto;
	}
	.input-group-addon:first-child {
		position: relative;
		right: 0;
		margin: 0px auto 10px;
		top: 0;
	}
	div.input-group-addon {
		margin: 0 auto;
	}
	/*документы*/
	.list_people a {
		margin-right: 10px;
		margin-bottom: 10px;
	}
	.btm-bl .list_people a {
		margin-top: 0;
	}
	.inner-query .r-query {
		padding: 0;
	}
	.tabcontent-doc #Docs .descr-bl {
		width: 250px;
	}
	.head_item h1, .head_item p {
		float: none;
	}
	.block_desc .tabcontent-doc  p {
		font-size: 15px;
		line-height: 24px;
		color: #565d68;
		font-family: "Rubik-Light";
	}
	/* hotel page */
	.owl-carousel.owl-loaded {
		height: 212px;
		overflow: hidden;
	}
	.room_details p{
		text-align: left;
		margin-bottom: 10px;
	}
	.type_tr_apartment .bottom_card_h .p-box-left {
		padding: 15px 15px;
	}
	.type_tr_apartment .bottom_card_h .p-box-right {
		padding: 0;
	}
	.group-card-hotel .bottom_card_h p.travel_policies {
		text-align: center;
	}
	.group-card-hotel .rm_book_btn.green_btn {
		float: none;
		width: 100%;
		position: relative;
		clear: both;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}
	.info-appartment .r_card_hotel {
		width: 134px;
		float: none;
		margin: 0 auto;
	}
	.l_card_hotel h3 {
		text-align: center;
	}
	.l_card_hotel .b-srv_ticket {
		width: 260px;
		margin: 0 auto;
	}	
	.type_tr_apartment .l_card_hotel p {
		text-align: center;
	}
	.type_tr_apartment p.free_ap {
		text-align: center;
	}
	#openRightBlock .l_card_hotel {
		padding: 15px 15px 0 15px;
	}
	#openRightBlock .b-srv_ticket {
		padding: 0 15px;
		width: 260px;
		margin: 0 auto 10px;
	}
	#openRightBlock .page_block_info_more .room_services {
		margin-top: 0;
	}
	#openRightBlock h3 {
		margin-bottom: 15px;
		line-height: 18px;
	}
	#openRightBlock .owl-carousel.owl-loaded {
		height: 219px;
		overflow: hidden;
	}
	/*trip detail*/
	.select_tr {
		width: 100%;
		margin-top: 20px;
	}
	.select_tr .jq-selectbox__select {
		width: 250px;
	}
	.tr-date h3 {
		float: none;
		margin-right: 0;
		width: 100%;
		padding-left: 0;
		margin-left: 0;
		text-align: center;
	}
	.item_points_tr .tr-date h3 {
		float: left;
		width: 60%;
		padding-left: 10px;
		text-align: left;
	}
	#settingMain .switch_box {
		float: left;
	}
	.widget_travel_transplants.widget_add_box .btn-group .btn {
		padding: 5px 22px;
	}	
}
@media (min-width: 480px) and (max-width: 640px){
	#openRightBlockTr .owl-carousel.owl-loaded {
		height: 390px;
	}
	.owl-carousel.owl-loaded {
		height: 310px;
	}
}
@media (min-width: 450px) and (max-width: 480px){
	#openRightBlockTr .owl-carousel.owl-loaded {
		height: 290px !important;
	}
	.owl-carousel.owl-loaded {
		height: 277px;
	}
}
@media (min-width: 400px) and (max-width: 450px){
	#openRightBlockTr .owl-carousel.owl-loaded {
		height: 265px !important;
	}
	.owl-carousel.owl-loaded {
		height: 250px !important;
	}
}
@media (min-width: 340px) and (max-width: 384px){
	.owl-carousel.owl-loaded {
		height: 215px !important;
		overflow: hidden;
	}
	#openRightBlockTr .owl-carousel.owl-loaded {
		height: 225px !important;
	}
}
@media (max-width: 420px){
	.total_price_info {
		width: 100%;
		float: none;
	}
	.btn_pst {
		float: left;
	}
	.box_tr_pol {
		width: 100%;		
	}
	.arrival_point {
		clear: both;
		height: 44px;
		width: 100%;
		margin: 10px 0;
	}
	.additional_info {
		width: 170px;
	}
	.plus_additional_info {
		right: 51px;
		bottom: 30px;
	}
	.city_points {
		width: 190px;
		position: relative;
		padding: 0;
	}
	.city_points p.h-title {
		float: none;
	}	
	.city_points p.h-sml {
		float: none;
		padding-left: 0;
	}
	.departure_point {
		margin: 10px 0;
		height: 45px;
	}
	.flight_duration {
		margin-top: 10px;
		margin-bottom: 10px;
		height: 130px
	}
	.additional_info {
		height: 160px;
	}
	.transfer_point {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.group-cards .additional_info {
		padding: 20px 0;
	}
	.date_info_ticket p:nth-child(1) {
		float: none;
		width: 100%;
		margin: 25px auto;
		text-align: center;
	}
	.date_info_ticket p:nth-child(2) {
		float: none;
		width: 100%;
		text-align: center;
	}
	.group-cards .flight_points {
		height: auto;
	}
	#moreDetail .image__arrow {
		margin: 12px auto;
	}
	
}
@media (max-width: 400px){
	.widget_travel_transplants.widget_add_box .btn-group .btn {
		padding: 5px 10px;
	}
	.sidenav ul li .b-srv_tr p {
		line-height: 35px;
	}
	.icon-modal {
		float: none;
		margin: 0 auto 15px;
		margin-right: auto;
	}
	.list-modal {
		width: auto;
		float: none;
	}
	.modal-body h3 {
		text-align: center;
		margin-bottom: 10px;
	}
}
@media (max-width:340px){
	.descr_main_block ul {
		margin-bottom: 15px;
	}
	.room_booking_form .form_group.adult_child {
		width: 100%;
	}
	.room_booking_form .form_group.adult {
		margin-right: 0;
	}
	.date-picker-wrapper .month-wrapper {
		margin-left: -78px !important;
	}
	.sidenav_add .lead_time input[type=text] {
		float: none;
	}
	.sidenav_add .lead_time p {
		float: none;
		padding-left: 0;
	}
	.heading_main_block h2 {
		width: 80%;
		float: left;
	}
	.l-query div>p:nth-child(1) {
		width: 100%;
	}
	.l-query div>p:nth-child(2) {
		width: 100%;
		text-align: left;
	}
	.tabcontent-doc #Docs .descr-bl {
		width: 200px;
	}
	.list_people a {
		margin-right: 0;
		margin-bottom: 10px;
		width: 100%;
	}
	.descr-bl {
		float: none;
		padding: 0px;
	}
	.item-info {
		height: auto;
		margin-bottom: 15px;
		position: relative;
	}
	.price-bl {
		float: left;
		width:100%;
		text-align: left;
		margin-bottom: 15px;
		padding: 13px 0;
	}
	.show-all{
		clear: both;
	}
	#openRightBlock .owl-carousel.owl-loaded {
		height: 192px;
		overflow: hidden;
	}
	/*details trip*/
	.widget_travel_transplants.widget_add_box .btn-group .btn {
		font-size: 12px;
	}
	.specific_result.add_box_card .img_card {
		width: 30px;
		height: 30px;
		padding: 3px;
		
	}
	.box_tr p {
		float: left;
		padding: 0;
	}
	#results .bottom_card_details ul li {
		padding-right: 0;
		float: none;
	}
	.widget_travel_transplants.widget_add_box .btn-group .btn {
		padding: 5px 6px;
	}
	.doc_details .result_list li .specific_result {
		padding: 5px 0px;
	}
	.doc_details .result_list li .specific_result.btm {
		padding: 5px 0;
	}
	.img_card svg{
		width: 16px;
	}
	.tr-date h3 {
		width: 190px;
	}
	.block_draft a, .block_draft p, .block_draft p span {
		font-size: 13px;
		padding-left: 10px;
	}
	.box_waybill .item_box_waybill h3 {
		padding: 10px;
	}
	.list-waybill h2 {
		padding: 10px 10px 0;
	}
	.box_waybill p {
		padding: 0 10px 0 10px;
		margin-bottom: 10px;
	}
	.item_box_waybill {
		padding-bottom: 0;
	}
	.result_list.hotels p.number_reviews {
		padding-left: 0;
		margin: 0;
		text-align: left;
	}
	.owl-carousel.owl-loaded {
		height: 180px !important;
	}
	#openRightBlockTr .owl-carousel.owl-loaded {
		height: 200px !important;
	}
	.rwd-table-main td {
		font-size: 14px;
		line-height: 16px;
	}
	.list_trips .sort-box {
		height: auto;
	}
	.list_trips .sort-box p a {
		margin: 0 3px;
		padding: 5px 0 5px 0;
	}
	.matching {
		margin: 15px 0px 0 0;
	}
	.matching .list_people a {
		margin-bottom: 5px;
	}
	.matching .list_people:nth-last-child(1){
		margin-bottom: 5px;
	}
}
@media (max-width:460px){
	/*train_page*/
	div.time_tr_ticket h2 {
		float: none;
		text-align: center;
	}
	div.arrival_tr_ticket div.time_tr_ticket, div.arrival_tr_ticket .time_tr_ticket h2 {
		text-align: center;
	}
	div.star-rating {
		padding-left: 0;
		width: 100%;
		float: none;
		text-align: center;
	}
	div.info_tr_ticket .header_tr_ticket .output-rating {
		text-align: center;
		float: none;
	}
	div.info_tr_ticket .header_tr_ticket  p.number_reviews {
		padding-left: 0;
		text-align: center;
		margin-bottom: 15px;
	}
	div.box_tr_ticket {
		margin-bottom: 20px;
		text-align: center;
	}
	.r-query .rwd-table-main td:nth-child(1) {
		width: 45px;
		text-align: center;
		float: none;
		margin: 0 auto;
	}
	#Excess .rwd-table-main tr:nth-child(1) td {
		width: 50%;
		float: left;
	}
	#Excess .rwd-table-main tr:nth-child(1) td:nth-child(1){
		text-align: left;
	}
	#Excess .rwd-table-main tr:nth-child(1) td:nth-child(2){
		text-align: right;
		width: 50% !important;
		margin-bottom: 0;
	}
	#Excess .rwd-table-main td:nth-child(2) {
		width: 100% !important;
	}
	#Excess .rwd-table-main td:nth-child(1) {
		width: 100%;
	}
	#Excess .rwd-table-main .m-price {
		text-align: right;
	}
	.title-bl {
		margin-bottom: 0;
	}
	#Excess .descr-bl {
		float: none;
		width: 100%;
		display: table;
		height: 45px;
	}
	#Excess .rwd-table-main td:nth-child(2) {
		width: 50% !important;
		float: left;
		text-align: left;
	}
	#Excess .rwd-table-main .m-price {
		text-align: left;
		font-size: 16px;
		line-height: 18px;
		color: #262c38;
		font-family: "Rubik-Medium";
	}
	.tabcontent-doc #Excess .price-bl, .tabcontent-doc #Excess .dif-price-bl{
		height: 0;
		padding: 0;
	}
	.rwd-table-main th, .rwd-table-main td {
		width: 50%;
		text-align: left;
		float: right;
	}
	.rwd-table-main td {
		width: 50%;
		text-align: left;
		float: left;
		margin: 0;
		padding: 0;
	}
	.rwd-table-main td.h-width {
		float: right;
	}
	#Docs .img-bl {		
		float: left;
		margin-right: 10px;
	}
	.img-bl {
		width: 45px;
		height: 45px;
		float: none;
		margin: 0 auto;
	}
	.list_item_wtr .nav-tabs .nav-link {
		width: auto;
		padding: 0 5px;
	}
	.block_desc .tabcontent-doc p.price_draft{
		width: 100%;
		margin: 15px 0;
	}
	#openRightBlockTr .owl-carousel.owl-loaded {
		height: 222px;
	}
	.list_item_wtr .nav-tabs .nav-item {
		width: 100%;
	}
}
@media (min-width: 576px){
	.modal-dialog-centered::before {
		height: calc(100vh - 22.5rem);
	}
}
.modal-dialog-centered {
    min-height: calc(100% - 6.5rem);
}
@media only screen and (max-width: 576px){
	.modal-dialog-centered::before {
		display: block;
		height: calc(100vh - 34rem);
		content: "";
	}
	/*страница поезда*/
	.form_group.save_btn {
		margin-bottom: 35px;
		text-align: center;
	}
	.route_tr_ticket .table td {
		padding: 10px 10px;
	}
	.route_tr_ticket .table-striped tbody tr {
		font-size: 12px;
		line-height: 15px;
	}
	.time_tr_ticket.t_right.text-right p {
		text-align: center;
	}
}
@media (min-width: 360px) and (max-width: 768px){
	div.bottom_card_details .cmt_title .card-item-title {
		position: absolute;
		right: 10px;
		top: 147px;
	}
	#results ul li ul {
		width: 280px;
	}
	div#results .card-item ul.number_movements.not-move{
		margin-left: 20px !important;
	}
	div.form_group.save_btn{
		width: 190px;
		float: right;
	}
	div.outside_travel_policy {
		width: 190px;
		text-align: right;
		float: right;
	}
}
@media (min-width: 768px) and (max-width: 992px){
	div.bottom_card_details .cmt_title .card-item-title {
		display: inline-block;
		position: absolute;
		top: 77px;
		right: 50px;
	}
	div.goods_info_ticket {
		padding: 10px;
	}
	#results .cmt_title ul, #results ul.nearest_flight.text-nowrap  {
		width: 60%;
	}
	div.r-btm .info_pl:nth-child(1) {
		padding: 0 10px 0 10px !important;
	}
	div.b-srv_ticket {
		margin-bottom: 10px;
	}
	div.descr_type_ticket {
		padding: 15px 15px 5px 15px;
	}
}
@media only screen and (max-width: 840px){
	div.info_tr_ticket .srv_ticket p {
		line-height: 20px;
		font-size: 14px;
	}
	div.box_tr_ticket {
		text-align: center;
	}
	div.info_tr_ticket h1 {
		left: 73px;
		top: -50px;
		position: absolute;
	}
	div#ticket_main_results_container .pst-movements {
		position: relative;
		width: 100%;
		margin: 0 auto 15px;
		top: 0;
	}
	div#ticket_main_results_container .card-item  .pst-movements {
		position: absolute;
		width: 100%;
		margin: 0 auto 15px;
		top: -15px;
	}
	div#ticket_main_results_container div#results div.box_tr_ticket ul.number_movements li {
		margin: 0 44px 0 0;
	}
	div#ticket_main_results_container div#results ul.number_movements.not-move li:nth-last-child(1) {
		margin: 0 100px;
		margin-right: 0;
	}
	div#ticket_main_results_container div#results div.box_tr_ticket .not-move.number_movements li::before {
		content: '';
		position: absolute;
		top: 3px;
		left: -150px;
		width: 150px;
		height: 2px;
		background: #cbd8ea;
		z-index: 1;
	}
	div.l-btm, div.r-btm{
		width: 100%;
		float: none;
	}
	div.r-btm div.btm_price_ticket {
		padding: 0;
	}
	div.btm_descr_ticket div.l-btm h2 {
		padding-top: 0 !important;
	}
	div.l-btm .info_pl {
		padding: 0 10px;
		width: 31%;
	}
	div.r-btm .info_pl:nth-child(1) {
		padding: 0 15px 0 15px;
		width: 49%;
		position: relative;
		top: 0;
		float: left;
		margin-top: 0;
	}
	div.r-btm .info_pl:nth-child(2) {
		padding: 0 15px 0 15px;
		width: 226px;
		position: relative;
		top: 0;
		float: right;
		margin-top: 0;
	}
	div.route_tr_ticket .table-striped tbody tr {
		font-size: 12px;
		line-height: 16px;
	}
}
@media only screen and (max-width: 460px){
	.right_info_ticket.group-card-right .rm_book_btn.green_btn {
		width: 100%;
		float: right;
		margin-right: auto;
		margin: 16px 0 0 0;
	}
	.h-red {
		display: block;
		width: 23px;
		height: 23px;
		float: none;
		margin: 0 auto 5px;
	}
	.btm_descr_ticket .outside_travel_policy p {
		float: none;
		margin-right: 8px;
		margin-bottom: 5px;
		color: #fb6090;
		text-align: center;
	}
	div#ticket_main_results_container .pst-movements {
		position: relative;
		width: 100%;
		margin: 0 auto 15px;
		top: 0;
	}
	div#ticket_main_results_container .card-item  .pst-movements {
		position: absolute;
		width: 100%;
		margin: 0 auto 15px;
		top: -15px;
	}
	div#ticket_main_results_container div#results div.box_tr_ticket ul.number_movements li {
		margin: 0 44px 0 0;
	}
	div#ticket_main_results_container div#results ul.number_movements.not-move li:nth-last-child(1) {
		margin: 0 100px;
		margin-right: 0;
	}
	div#ticket_main_results_container div#results div.box_tr_ticket .not-move.number_movements li::before {
		content: '';
		position: absolute;
		top: 3px;
		left: -150px;
		width: 150px;
		height: 2px;
		background: #cbd8ea;
		z-index: 1;
	}
	div.l-btm .info_pl {
		padding: 0 10px;
		width: 100%;
	}
	div.r-btm .info_pl:nth-child(1) {
		width: 100%;
		float: none;
	}
	div.r-btm .info_pl:nth-child(2) {
		padding: 0;
		width: 190px;
		position: relative;
		float: none;
		margin-top: 5px;
		margin: 15px auto;
	}
	div.info_tr_ticket p {
		line-height: 20px;
	}
	/*hotel*/
	div.bl_reviews div.r_indicator div.wr_progress {
		width: 100% !important;
		padding:0;		
	}
	div.r_indicator {
		width: 100%;
		padding: 25px 0 15px 0;
	}	
}
/*-------------Responsive css End ---------------*/