.auth_bg {
  background: url("/templates/bt/images/auth_bg.jpg") 50% 50% no-repeat;
  background-size: cover;
}

.recovery_bg {
  background: url("/templates/bt/images/pass_recovery__bg2.jpg") 50% 50% no-repeat;
  background-size: cover;
}

.recovery_bg_two {
  background: url("/templates/bt/images/pass_recovery__bg.jpg") 50% 50% no-repeat;
  background-size: cover;
}

.blue_link {
  color: #1396e4;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none !important;
}
.blue_link:hover {
  color: #1396e4;
  text-decoration: underline !important;
}

.registration__logo.logo_reg {
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .registration__logo.logo_reg {
    margin-bottom: 90px;
  }
}

.btn_border {
  outline: none;
  color: #1396e4;
  cursor: pointer;
  padding: 17px 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  user-select: none;
  text-align: center;
  position: relative;
  white-space: nowrap;
  background: #fff;
  font-family: "Rubik", sans-serif;
  text-decoration: none !important;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #1396e4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn_border:hover {
  color: #fff;
  text-decoration: none !important;
  background: #1396e4;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn_border:active {
  color: #1396e4;
  background: #fff;
}
.btn_border:focus, .btn_border.focus {
  outline: 0;
}

.btn_inline {
  margin: 0 -8px;
}
.btn_inline a,
.btn_inline button {
  width: 100%;
}
.btn_inline__col {
  padding: 0 8px;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .btn_inline {
    white-space: nowrap;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .btn_inline__col:first-child {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}

/*# sourceMappingURL=auth.css.map */
