/* @import url('https://fonts.googleapis.com/css?family=Rubik'); */
@font-face {
	font-family: "Rubik";
	src: url("../fonts/Rubik/Rubik-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "Rubik-Bold";
	src: url("../fonts/Rubik/Rubik-Bold.ttf") format("truetype");
}
@font-face {
	font-family: "Rubik-Medium";
	src: url("../fonts/Rubik/Rubik-Medium.ttf") format("truetype");
}
@font-face {
	font-family: "Rubik-Light";
	src: url("../fonts/Rubik/Rubik-Light.ttf") format("truetype");
}
@font-face {
	font-family: "Roboto-Light";
	src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
}
@font-face {
	font-family: "Roboto-Bold";
	src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}
@font-face {
	font-family: "Roboto-Medium";
	src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}