.mb_10 {
  margin-bottom: 10px !important;
}

.mb_20 {
  margin-bottom: 20px !important;
}

.mb_30 {
  margin-bottom: 30px !important;
}

.mb_40 {
  margin-bottom: 40px !important;
}

.mb_50 {
  margin-bottom: 50px !important;
}

.mb_60 {
  margin-bottom: 60px !important;
}

.page {
  width: 100%;

}

.main {

}

.ticket-selection-layout {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1250;
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
}

.ticket-selection {
  top: 0;
  right: 0;
  width: 300px;
  z-index: 1300;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  background: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  font-family: "Rubik", Arial, sans-serif;
  border: 1px solid #cbd8ea;
}
.ticket-selection__close {
  width: 20px;
  height: 20px;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.ticket-selection__close:after, .ticket-selection__close:before {
  top: 50%;
  z-index: 10;
  width: 24px;
  height: 2px;
  content: "";
  left: 50%;
  margin-top: -1px;
  margin-left: -12px;
  position: absolute;
  background: #858a92;
  display: inline-block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.ticket-selection__close:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.ticket-selection__close:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.ticket-selection__close:hover:after, .ticket-selection__close:hover:before {
  background: #000;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.ticket-selection__header {
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 61px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  padding: 10px 20px;
  color: #262c38;
  position: absolute;
  background: #f9fdff;
  border-bottom: 1px solid #cbd8ea;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.ticket-selection__header span {
  display: inline-block;
}
.ticket-selection__content {
  left: 0;
  top: 61px;
  z-index: 10;
  width: 100%;
  overflow-y: auto;
  position: absolute;
  height: calc(100vh - 61px);
}
.ticket-selection__box {
  padding: 30px 20px;
  border-bottom: 1px solid #cbd8ea;
}
.ticket-selection__box:last-child {
  border-bottom: none;
}
.ticket-selection__box strong {
  font-weight: 500;
}
.ticket-selection__title {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 15px;
}
.ticket-selection__text {
  font-size: 15px;
  line-height: 18px;
  color: #565d68;
}
.ticket-selection__text p {
  margin: 0;
  padding: 0;
}
.ticket-selection__text h4 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
.ticket-selection__text strong {
  font-weight: 500;
}
.ticket-selection__route {
  padding: 15px;
  position: relative;
  margin-bottom: 30px;
  background: #f9fdff;
  border: 1px solid #cbd8ea;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.ticket-selection__route_start span {
  display: block;
}
.ticket-selection__route_start strong {
  display: block;
  font-size: 18px;
  line-height: 20px;
}
.ticket-selection__route_finish {
  text-align: right;
}
.ticket-selection__route_finish span {
  display: block;
}
.ticket-selection__route_finish strong {
  display: block;
  font-size: 18px;
  line-height: 20px;
}
.ticket-selection__route:before {
  top: 15px;
  left: 50%;
  width: 30px;
  height: 15px;
  content: "";
  display: block;
  margin-left: -15px;
  position: absolute;
  background: url("../img/route_arrow.svg") 100% 50% no-repeat;
}
.ticket-selection__point {
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  min-height: 44px;
  position: relative;
  padding: 12px 0 0 44px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.ticket-selection__point:before {
  top: 0;
  left: 0;
  content: "";
  width: 44px;
  height: 44px;
  display: block;
  position: absolute;
  border: 1px solid #cbd8ea;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.ticket-selection__point_time {
  width: 70px;
  font-weight: 500;
  display: block;
  text-align: center;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.ticket-selection__point_place {
  padding-left: 20px;
  display: block;
}
.ticket-selection__point_place strong {
  font-size: 16px;
  margin-right: 5px;
}
.ticket-selection__point_start:before {
  background: url("../img/icon__plane__start.png") 50% 50% no-repeat;
}
.ticket-selection__point_change:before {
  background: url("../img/icon__plane__change.png") 50% 50% no-repeat;
}
.ticket-selection__point_finish:before {
  background: url("../img/icon__plane__finish.png") 50% 50% no-repeat;
}
.ticket-selection__info {
  height: 118px;
  font-weight: 300;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.ticket-selection__info_detail {
  margin: auto 0 auto 130px;
}
.ticket-selection__info_line {
  top: 0;
  bottom: 0;
  left: 80px;
  width: 2px;
  z-index: 1;
  position: absolute;
  background: #cbd8ea;
}
.ticket-selection__info_line:after, .ticket-selection__info_line:before {
  left: -3px;
  z-index: 2;
  width: 8px;
  height: 8px;
  content: "";
  position: absolute;
  background: #cbd8ea;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
}
.ticket-selection__info_line:after {
  top: -2px;
}
.ticket-selection__info_line:before {
  bottom: -2px;
}
.ticket-selection__info_time {
  top: 50%;
  left: 44px;
  z-index: 10;
  width: 70px;
  height: 20px;
  color: #aabad0;
  font-size: 13px;
  line-height: 18px;
  margin-top: -10px;
  background: #fff;
  text-align: center;
  position: absolute;
}
.ticket-selection__info_type {
  margin-bottom: 15px;
}
.ticket-selection__info_flight {
  max-width: 140px;
  position: relative;
  padding: 0 30px 0 0;
}
.ticket-selection__info_flight .button_info {
  right: 0;
  bottom: 0;
  position: absolute;
}
.ticket-selection__baggage {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.ticket-selection__baggage:last-child {
  margin-bottom: 0;
}
.ticket-selection__baggage_logo {
  width: 44px;
  height: 44px;
  margin-right: 16px;
  display: inline-block;
  border: 1px solid #cbd8ea;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.ticket-selection__baggage_logo_rgd {
  background: url("../img/icon__rzd.png") 50% 50% no-repeat;
}
.ticket-selection__baggage_route {
  padding-top: 14px;
}
.ticket-selection__baggage_route strong {
  font-size: 15px;
  display: block;
}
.ticket-selection__baggage_info {
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  padding: 5px 0 0 60px;
}
.ticket-selection__baggage_item {
  padding: 5px 0 5px 33px;
}
.ticket-selection__baggage_item.baggage_hand_plus {
  color: #1cad6b;
  background: url("../img/baggage__hand.png") 0 5px no-repeat;
}
.ticket-selection__baggage_item.baggage_plus {
  color: #1cad6b;
  background: url("../img/baggage__plus.png") 0 5px no-repeat;
}
.ticket-selection__baggage_item.baggage_minus {
  color: #d92b3c;
  background: url("../img/baggage__minus.png") 0 5px no-repeat;
}
.ticket-selection__checkout_left {
  margin-bottom: 10px;
}
.ticket-selection__alert {
  color: #fb6090;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.ticket-selection__alert span {
  display: inline-block;
  margin-right: 10px;
}
.ticket-selection__price {
  font-size: 15px;
  line-height: 18px;
  color: #565d68;
}
.ticket-selection__price > strong {
  color: #262c38;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}
.ticket-selection__price > span {
  display: block;
  font-weight: 300;
}
@media (min-width: 768px) {
  .ticket-selection {
    width: 680px;
  }
  .ticket-selection__header {
    padding: 45px 60px;
  }
  .ticket-selection__content {
    top: 91px;
    height: calc(100vh - 91px);
  }
  .ticket-selection__box {
    padding: 30px 60px 30px 60px;
  }
  .ticket-selection__route {
    font-weight: 300;
    padding: 20px 30px;
  }
  .ticket-selection__route_start span {
    display: inline;
  }
  .ticket-selection__route_finish {
    text-align: right;
  }
  .ticket-selection__route_finish span {
    display: inline;
  }
  .ticket-selection__route:before {
    top: 30px;
    width: 116px;
    margin-left: -58px;
  }
  .ticket-selection__point {
    font-size: 14px;
  }
  .ticket-selection__point_place {
    padding-left: 35px;
  }
  .ticket-selection__info_detail {
    margin-left: 150px;
  }
  .ticket-selection__baggage {
    margin-right: -30px;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
  }
  .ticket-selection__baggage_route {
    width: 220px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .ticket-selection__baggage_info {
    width: auto;
    padding: 5px 0 0 0;
  }
  .ticket-selection__checkout {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .ticket-selection__checkout_left {
    margin-bottom: 0;
  }
  .ticket-selection__checkout_right {
    padding-top: 10px;
  }
}

.button_info {
  width: 22px;
  height: 22px;
  color: #1797e4;
  cursor: pointer;
  font-size: 12px;
  line-height: 14px;
  padding: 4px 0;
  text-align: center;
  background: #cbe7f9;
  display: inline-block;
  text-decoration: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.button_info:hover {
  color: #1797e4;
  background: #cbe7f9;
  text-decoration: none;
}
.button_info_alert {
  color: #fb6090;
  background: #ffd5e2;
}
.button_info_alert:hover {
  color: #fb6090;
  background: #ffd5e2;
}

.ticket-selection-inner {
  opacity: 0;
  z-index: -1;
  visibility: hidden;
}
.ticket-selection-inner.ticket-selection-open {
  opacity: 1;
  z-index: 1200;
  visibility: visible;
}

/*# sourceMappingURL=panel.css.map */
