.mb_0 {
  margin-bottom: 0 !important;
}

.mb_20 {
  margin-bottom: 20px !important;
}

.mb_30 {
  margin-bottom: 30px !important;
}

.mb_40 {
  margin-bottom: 40px !important;
}

.fs_16 {
  font-size: 16px !important;
}

.btn_long {
  width: 100%;
}

.registration {
  min-height: 100vh;
  font-family: "Rubik", sans-serif;
}
.registration__content {
  width: 100%;
  text-align: center;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.registration__wrap {
  width: 100%;
  display: block;
  margin: auto 0;
}
.registration__inner {
  padding: 30px 20px;
  max-width: 540px;
  margin: 0 auto;
}
.registration__bg {
  display: none;
  background-size: cover;
}
.registration__logo {
  width: 170px;
  display: block;
  margin: 0 auto 40px auto;
}
.registration__text {
  color: #565d68;
  font-family: "Rubik-Light", sans-serif;
}
.registration__text strong {
  font-weight: 400;
  font-family: "Rubik-Medium", sans-serif;
}
.registration__text a {
  color: #565d68;
  text-decoration: underline;
}
.registration__text a:hover {
  color: #565d68;
  text-decoration: none;
}
.registration .error {
  color: brown;
}
.registration .form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none !important;
}
.registration .form-control::-ms-expand {
  display: none;
}
.registration .form-control::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.registration .h1 {
  color: #262c38;
  font-size: 36px;
  line-height: 42px;
  font-family: "Rubik", sans-serif;
  margin-bottom: 20px;
}
.registration h2 {
  font-family: "Rubik", sans-serif;
}
.registration .h5 {
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 40px;
  font-family: "Rubik-Light", sans-serif;
}
.registration .blue_button {
  width: 100%;
}
.registration .step1 .h1 {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .registration {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
  }
  .registration__content {
    width: 50%;
    text-align: left;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .registration__bg {
    width: 50%;
    display: block;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .registration__logo {
    margin: 0 0 30px 0;
  }
}

.img_fluid {
  height: auto;
  display: block;
  max-width: 100%;
}

.placeholder {
  left: 25px;
  position: absolute;
  line-height: 58px;
  pointer-events: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.placeholder.hover,
.placeholder.hovers {
  top: -5px;
  left: 20px;
  padding: 0 5px;
  background: #FFF;
  line-height: 100%;
  color: #1396e4;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

header {
  display: none;
}

[class*=step] {
  display: none;
}

[class*=step].active {
  display: block;
}

.reg-background {
  background: url(/templates/bt/img/registr/reg-step1.jpg) no-repeat;
  background-size: cover;
}

.reg-background.active {
  background: url(/templates/bt/img/registr/reg-step2.jpg) no-repeat;
  background-size: cover;
}

.set-pass .reg-background {
  background: url(/templates/bt/img/registr/reg-step3.jpg) no-repeat;
  background-size: cover;
}

.f-jc {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.set-pass .step1 .h1 {
  line-height: 50px;
  margin-bottom: 10px;
}

.registration .h5 {
  font-size: 21px;
}

.form-footer {
  font-size: 16px;
}

.registration .form-control, .registration button {
  height: 58px;
}

.registration input, .registration input:focus, .registration input:hover, .registration input:active,
.registration select, .registration select:focus, .registration select:hover, .registration select:active {
  padding-left: 25px;
  background: transparent !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

form > :first-child > :first-child {
  margin-bottom: 50px;
}

.set-pass form > :first-child > :first-child {
  margin-bottom: 30px;
}

.set-pass > :first-child {
  padding-bottom: 6%;
}

.set-pass .logo {
  margin-bottom: 70px;
}

div.form-group {
  margin-bottom: 20px;
}

.bold {
  font-weight: bold;
}

.m-help {
  margin-bottom: 45px;
}

.form-group > .flex {
  position: relative;
  width: 100%;
}

.form-group > .flex + .flex {
  margin-left: 20px;
}

.registration.active > :first-child {
  padding-bottom: 110px;
  padding-top: 10px;
}

.registration.active .logo {
  margin-bottom: 80px;
}

form > .step2 > :first-child {
  margin-bottom: 30px;
}

.r-light {
  font-weight: 300;
}

.r-medium {
  font-weight: 500;
}

.r-regular {
  font-weight: 400;
}

.end-reg .reg-background {
  background: url(/templates/bt/img/registr/reg-step4.jpg) no-repeat;
  background-size: cover;
}

.end-reg .h5 {
  line-height: 30px;
  margin-top: 10px;
}

/*# sourceMappingURL=registr.css.map */
