/*
стили от девелоперов + переопределение некоторых стилей от дизайнера
*/
body.modal-open {
    overflow: hidden !important;
}


.hidden {
    /*display: none !important;*/
    display: none;
}

.cursor-pointer {
    cursor: pointer;
}

.popover {
    z-index: 999999;
}

#ui-datepicker-div {
    z-index: 9999999 !important;
}

.modal-content {
    width: max-content;
}

.modal-body {
    padding: 25px 25px 0 25px;
}

.modal .modal-footer a {
    float: none;
}

.autocomplete-suggestions {
    z-index: 9999999;
    background-color: #fff;
    color: #737272;
    overflow-y: auto;
    padding: 10px;
    border-top: none;
    font-size: 14px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.autocomplete-suggestion, .autocomplete-no-suggestion {
    padding: 3px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestion strong {
    font-weight: normal;
    color: #3399FF;
}

.autocomplete-group {
    padding: 5px;
    display: block;
    border-bottom: 1px solid #c5c4c4;
    margin: 10px 0;
    color: #666565;
    font-weight: bold;
}

#show_alert_modal {
    z-index: 999999 !important;
}

div.allee {
    z-index: 1050;
    background: linear-gradient(to right, #0070bf, #e6f8fd, #0070bf, #0070bf, #0070bf);
    background-position: 0 0;
    animation: background 2s infinite alternate;
    top: 0px;
    bottom: auto;
    width: 100%;
    position: fixed;
    display: none;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0px;
    padding: 3px;
    transition: 2s;
    box-shadow: 2px 0px 10px 2px #0000005c;
}


.modal-body .search_frm_cover .tour_search_btn {
    margin-left: 40px;
    margin-top: 0px;
}

.modal-body .search_frm_cover form {
    margin-top: -25px;
    padding-top: 30px;
    border: none;
}


.modal-body #hotel_main_form .departure, #hotel_main_form .arrival {
    display: inline-flex;
}

.modal-body #hotel_main_form .l-form-box {
    margin: 0 20px 20px 0;
}

.modal-body #hotel_main_form .r-form-box {
    width: auto;
}

/* места в поезде/автобусе */
label.place_chkbox {
    /*margin-bottom: .5rem;*/
    /*padding: 5px;*/
    background: #ffffff;
    min-width: 40px;
    /*height: 60px;*/
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #dfdfdf;
    text-align: center;
    cursor: pointer;
    font-family: "Roboto-Light";
    font-size: 12px;
}

input.train_place:checked + label, .train_car_place_chkbox_filled {
    background: #28a745 !important;
    color: #fff !important;
    border: 1px solid #28a745 !important;
}

input.train_place:checked + label span {
    color: #fff !important;
}

.train_car_place_chkbox_wholecabin {
    border: 1px solid #28a745 !important;
}

input.train_place {
    display: none;
}

input.bus_place_chkbox:checked + label, .bus_place_chkbox_chkbox_filled {
    background: #28a745 !important;
    color: #fff !important;
    border: 1px solid #28a745 !important;
}

input.bus_place_chkbox:checked + label span {
    color: #fff !important;
}

input.bus_place_chkbox {
    display: none;
}

.cabin_places span {
    width: 70px;
    display: inline-block;
}

/* end места в поезде/автобусе */

.sidenav a.closebtn {
    z-index: inherit;
}

.dropdown-user-content {
    z-index: 1021;
}

#departure_time_start, #departure_time_end, #arrival_time_start, #arrival_time_end, #stops_duration_start, #stops_duration_end {
    font-size: 15px;
    color: #565d68 !important;
    font-family: "Rubik-Light";
}

.number_movements li::before {
    left: -30px;
    width: 30px;
}

div#results ul.number_movements li {
    margin: 0 10px;
}

div#results ul.number_movements {
    margin-left: 20%;
}

#results div.movements {
    width: 148px;
}

div#results ul.number_movements.not-move {
    margin-left: 10px;
}

div.box_tr_ticket .not-move2.number_movements li::before {
    left: -200px;
    width: 300px;
}

.flightleg_change {
    margin: 50px 0 0 55px;
}

.right_info_ticket {
    width: 200px;
}

.t_right h2 {
    float: none;
    padding-right: 0px;
}

#ticket_search_results_filter_mobile .ui-widget.ui-widget-content {
    margin-right: 10px;
}

.info_tr_ticket p {
    line-height: 1em;
    margin-top: 4px;
}

.item-cabin label {
    width: auto;
    padding: 0 10px;
}

.sidenav ul.add_car_info_list li {
    margin-bottom: 10px;
    height: 10px;
}

.add_car_info_list li:empty {
    display: none;
}

.ui-tooltip {
    z-index: 999999999;
}


#train_search_form .wherefrom input[type=text] {
    background-image: url(/images/icon/train.svg);
}

#train_search_form .whereto input[type=text] {
    background-image: url(/images/icon/train.svg);
}

#bus_search_form .wherefrom input[type=text] {
    background-image: url(/images/icon/bus.svg);
}

#bus_search_form .whereto input[type=text] {
    background-image: url(/images/icon/bus.svg);
}

#hotel_main_form .search_title input[type=text] {
    padding-left: 54px;
    background-image: url(/images/icon/hotel.svg);
    background-position: 15px 17px;
    background-repeat: no-repeat;
}

.star-rating span {
    cursor: default;
}

.circle-rating span {
    cursor: default;
}

.box_srv_h {
    margin-bottom: 5px;
}

#hotel_filtered_map_container {
    width: 298px;
    height: 240px;
}

.tr_sidebar_area .widget {
    position: relative;
}

.info-appartment .r_card_hotel .circle-rating div {
    margin-top: -4px;
}

.hotel_page_description h4 {
    margin: 10px 0;
    font-size: 1.5em;
}

.list-hotels .hotels .right_info_hotel {
    width: 600px;
    padding-left: 10px;
}

.result_list.hotels.cards li:nth-last-child(1) .specific_result {
    border-bottom: 1px solid #cbd8ea;
}

.show-ap-btn {
    border-bottom: none;
}

.room_services.main-srv > li {
    width: 50%;
}

.big-map {
    margin: 20px 0;
}

#results ul.result_list li.amentities_description_only {
    margin-left: -15px;
    max-height: 120px;
    overflow: auto;
    display: block;
}

#openRightBlockTr .page_block .owl-carousel .owl-item img {
    max-height: 400px;
}

.title_box_tr h1 {
    width: fit-content;
}

.inner-query .r-query {
    width: 580px;
}

.inner-query .l-query {
    width: auto;
}

#trip_date_start {
    padding-left: 45px;
    background-position: 10px 13px;
    background-image: url(/images/icon/calendar_user.svg);
    background-repeat: no-repeat;
}

#trip_date_start, #trip_date_separator,
#trip_date_start:hover, #trip_date_separator:hover {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid #cbd8ea !important;
    border-right: none !important;
}

#trip_date_end, #trip_date_separator,
#trip_date_end:hover, #trip_date_separator:hover {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-image: none;
    padding-left: 0;
    border: 1px solid #cbd8ea !important;
    border-left: none !important;
}

#trip_date_separator, #trip_date_separator:hover {
    border-right: none !important;
    border-left: none !important;
}

.result_list.hotels.cards li:nth-last-child(1) .specific_result {
    border-top: none;
}

.booking_wait_img {
    height: 30px;
}

.el_tickets_wait_img {
    height: 30px;
}


#trip_modal_confirm {
    z-index: 9999999 !important;
}

.tabcontent-company {
    display: block;
}

.menu-button-active {
    background-color: #fff;
    border-bottom: 2px solid #1396e4;
}

.deleteCorporateUnit {
    cursor: pointer;
}

.tabcontent_open .search-field {
    width: 465px;
    height: 50px;
    border-radius: 4px;
    background-color: #eef7fd;
    border: 1px solid #cbd8ea;
    font-size: 14px;
    line-height: 42px;
    color: #858a92;
    font-family: "Rubik-Medium" !important;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    padding-left: 10px;
}

.tabcontent_open a.btn_clear_staff {
    color: #000;
    position: absolute;
    top: -3px;
    left: 420px;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
}

.display-none {
    display: none;
}

.del_bind_card_and_add, .del_bind_card {
    color: #fff !important;
    font-size: 15px;
}

#RequisitesCompany .widget.widget_search .search-field {
    background-image: url(../../images/icon/search.svg);
    padding-left: 54px;
    background-position: 15px 15px;
    background-repeat: no-repeat;
    font-size: 15px;
    color: #565d68;
    font-family: "Rubik-Light";
}

#RequisitesCompany .widget.widget_search .search-field {
    border: 1px solid #E4E4E4;
    width: 100%;
    height: 50px;
    /* padding: 0px 58px 0 15px; */
    padding: 0px 58px 0 58px;
    color: #777777;
    outline: none;
    font-weight: normal;
    font-size: 14px;
    border-radius: 6px;
}

.widget.widget_search .search-submit {
    position: absolute;
    /* top: 0; */
    /* right: 0; */
    float: left;
    font-size: 12px;
    text-transform: capitalize;
    padding: 14px 10px;
    background-color: #cbd8ea;
    border-left: 1px solid transparent;
    border: none;
    color: #fff;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
}

#RequisitesCompany .widget.widget_search .search-submit {
    width: 100px;
    height: 50px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #1396e4;
    border-left: 0px solid transparent;
    font-size: 14px;
    color: #ffffff;
    font-family: "Rubik-Medium";
    text-align: center;
}

#RequisitesCompany label {
    width: 416px;
}

.widget.widget_search .search-form {
    position: relative;
}

.record_persons a {
    text-align: left;
    line-height: normal;
}

.tablink-company a {
    color: #565d68;
}

.tablink-company.active {
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(19, 150, 228);
}

#checked_excess:checked + .control_indicator {
    background: white;
}

#checked_excess:checked + .control_indicator {
    background: #1797e4;
}

.airline_logo_details img {
    width: 50% !important;
}

.train_pass_table td {
    vertical-align: inherit;
}

.staffinputNameResultHide {
    display: none;
}

#staffinputNameResult {
    background-color: #fff;
    position: absolute;
    width: 395px;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #cbd8ea;
}

.staffinputNameResultItem {
    padding: 5px 10px;
    border-bottom: 1px solid #cbd8ea;
    cursor: pointer;
}

.staffinputNameResultItem:hover {
    background-color: #cbd8ea;
}

.staffinputNameResultItemSeparator {
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #cbd8ea;
}

.stay_out .rm_book_btn.green_btn.find_alternative_btn {
    float: right;
}

.text-small, .text-small a {
    font-size: 0.9em;
}

.border-2 {
    border-width: 2px !important;
}

.border-3 {
    border-width: 3px !important;
}

.border-4 {
    border-width: 4px !important;
}

.linethrough {
    text-decoration: line-through
}

.editMyInfoFormButtonSubmit {
    color: #fff !important;
}

.page_block_contact > .link_edit a {
    /* display: block; */
    transition: 0.3s;
    -webkit-transition: 0.3s;
    font-size: 15px;
    line-height: 42px;
    color: #1396e4;
    font-family: "Rubik-Medium";
    text-align: right;
    padding: 0;
}

.page_block_contact a:hover {
    display: block;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    opacity: 0.8;
    color: #262c38;
}


.item-amount a.basket_booking_id {
    right: 10px;
    top: 15px !important;
    position: absolute !important;
}

.item-direction a.basket_booking_id, .item-city a.basket_booking_id {
    float: right;
    top: 0px;
    position: relative;
}


.item-amount {
    position: relative;
    vertical-align: top;
}

.item-amount .form_group {
    max-width: 420px;
    position: relative;
    float: right !important;
    top: 0px;
}

.item-amount .form_group .form_group-text {
    max-width: 250px !important;
}

span.amount2sum {
    display: inline !important;
}


.item-amount .title-moreDetail {
    height: 50px;
}


.progress-bar-container .progress-bar__circle {
    cursor: default;
}

.user-field p a {
    display: inline-block;
}


.sidenav {
    z-index: 999999;
}

input::-moz-placeholder {
    color: #c2c8d0 !important;
}

input::-webkit-input-placeholder {
    color: #c2c8d0 !important;
}

input.form-control.bs-autocomplete.bs-staffs {
    background-image: url(/images/icon/users.svg) !important;
}

.autocomplete-staff span {
    display: block !important;
}


.autocomplete-staff .medium {
    font-size: 14px;
    line-height: 18px;
    color: #262c38;
    font-family: "Rubik-Medium";
}

autocomplete-staff .light {
    color: #565d68;
    font-size: 14px;
    line-height: 18px;
    font-family: "Rubik-Light";
    margin-bottom: 0;
}


.message-red {
    display: block;
    color: #f5895cbd !important;
    padding: 0px !important;
    font-family: "Rubik-Light";
    font-size: 14px !important;
}

.autocomplete-group span {
    display: inline !important;
}


.autocomplete-group .type {
    border-radius: 7px;
    background-color: #eef7fd;
    padding: 3px 10px;
}


.autocomplete-group .medium {
    font-size: 14px;
    line-height: 18px;
    color: #262c38;
    font-family: "Rubik-Medium";
    margin-left: 15px;
}


.no-border {
    border: none;
}

.searchStaffForUnitResultHide {
    display: none;
}

.searchStaffForUnitResult {
    background-color: #fff;
    position: absolute;
    width: 395px;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #cbd8ea;
}

.searchStaffForUnitResultItem {
    padding: 5px 10px;
    border-bottom: 1px solid #cbd8ea;
    cursor: pointer;
}

.searchStaffForUnitResultItem:hover {
    background-color: #cbd8ea;
}

.searchStaffForUnitResultItemSeparator {
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #cbd8ea;
}

#add_unit_result {
    clear: both;
}

.searchStaffForUnitResultItemName{
    font-weight: bold;
}

.searchStaffForUnitResultItemEmail{
    color: #696969;
}

input[type="text"], input[type="password"]{
    color: #000000 !important;
    opacity: 1;
    font-weight: 500;
}



.block_search_users .table_users .rwd-table {
    margin: 0;
}


.block_search_users .table_users .rwd-table tr:nth-last-child(1) {
    border-bottom: 0;
}


.block_search_users .table_users {
    border-top: 0;
}


.block_search_users .pagination {
    margin-top: 10px;
}


.total_price_box {
    position: sticky;
    top: 30px;
}

.widget_add_box {
    transition: 0.2s;
    -webkit-transition: 0.2s;
}

.sticky-box {
    position: sticky;
    top: 30px;
    z-index: 999;
    background: #f9fdff;
    width: 580px;
    box-shadow: 0 0 10px #e9ecef;
    padding: 10px;
    background-color: #f9fdff;
    border: 1px solid #cbd8ea;
    transition: 0.2s;
    -webkit-transition: 0.2s;
}

.sticky-box h3 {
    display: none;
}

#moreDetail .page_block_info_more:nth-last-child(1) {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    border-top: 1px solid #cbd8ea;
    background: #fff;
    z-index: 1020;
}

.sidenav .page_block_info_more:nth-last-child(2) {
    border-bottom: 0;
}

#openRightBlockTr .page_block_info_more:nth-last-child(1) {
    border-bottom: 1px solid #cbd8ea;
}


#openRightBlockTr .page_block_info_more_bottom {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    border-top: 1px solid #cbd8ea;
    background: #fff;
    z-index: 1020;
}
.page_block_info_more_bottom{
	position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    border-top: 1px solid #cbd8ea;
    background: #fff;
    z-index: 1020;
}
#moreDetailData .page_block_info_more:nth-last-child(1){
    border-bottom: 0 !important;
}
.ic-srv img{
	width: 20px;
}
.room_services li p {
	margin: 0;
    padding: 10px 0;
}

#ticket_main_results_container div.box_tr_ticket ul {
    width: 406px;
    margin: 0 auto;
}
#ticket_main_results_container div.box_tr_ticket ul.number_movements li:nth-child(1) {
    margin-left: 0;
}
#ticket_main_results_container div.box_tr_ticket ul.number_movements li {
    margin: 0 193px;
    display: inline-block;
    color: white;
    position: relative;
    width: 8px;
    height: 8px;
    padding-right: 0;
    border-radius: 50%;
    background-color: #cbd8ea;
}
#ticket_main_results_container div#results div.box_tr_ticket ul.number_movements li:nth-child(2) {
    margin-right: 0;
}
#ticket_main_results_container div#results div.box_tr_ticket .not-move.number_movements li::before {
    content: '';
    position: absolute;
    top: 3px;
    left: -392px;
    width: 392px;
    height: 2px;
    background: #cbd8ea;
    z-index: 1;
}
#ticket_main_results_container div#results ul.number_movements.not-move li:nth-last-child(1) {
    margin: 0 193px;
    margin-right: 0;
}

#ticket_main_results_container div#results .card-item  ul.number_movements.not-move li:nth-last-child(1){
	margin: 0 0 0 95px;
}
div.btm_descr_ticket h2 {
    margin-bottom: 0;
    padding-top: 35px;
    line-height: 18px;
}
.info_tr_ticket .btm_descr_ticket h2.text-muted {
    color: #262c38 !important;
    font-family: "Rubik-Medium";
}
div.form_group.save_btn {
    margin-bottom: 0;
}
div#results div.box_tr_ticket div.movements {
    width: 100%;
	position: relative;
}
.more_tr_ticket.mt-4 h4{
    font-size: 16px;
    line-height: 24px;
    color: #262c38;
    margin-bottom: 0;
    font-family: "Rubik-Medium";
}
.more_tr_ticket.mt-4 p {
    line-height: 20px;
    margin-top: 5px;
    margin-bottom: 4px;
}
.route_tr_ticket .table-striped tbody tr {
    font-family: "Rubik-Medium";
}
div.info_pl{
    padding: 0 0 0 15px;
    width: auto;
}
.btm_price_ticket {
    padding: 0;
}
.l-btm{
	width: 50%;
	float: left;
}
.r-btm{
	width: 50%;
	float: left;
}
.l-btm .info_pl{
	padding: 0 0 0 15px;
    width: 33%;
    float: left;
}
.r-btm {
	position: relative;
}
.r-btm .info_pl:nth-child(1){
    padding: 0 0 0 15px;
    width: 217px;
    position: absolute;
    top: 50%;
    margin-top: -36px;
}
.r-btm .info_pl:nth-child(2){
    padding: 0 0 0 15px;
    width: 217px;
    position: absolute;
    top: 50%;
	right: 0;
	margin-top: -36px;
}
.btm_descr_ticket {
    padding: 15px 15px 25px 15px;
}
.info_tr_ticket .small p {
    line-height: 24px;
    margin-top: 4px;
}
.info_tr_ticket .time_tr_ticket h2 {
    float: none;
}

.reg_page .index-head, .lostpass .index-head, .support_page .index-head{


}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.addMoreAvia {
    background-color: #1396E4;
    color: #ffffff;
    font-size: 2em;
    line-height: 0em;
    vertical-align: middle;
}

#correct .addMoreA {
    padding: 0;
    font-size: inherit;
    display: inline-block;
}

div.input-group-addon.minus {
    margin-top: 10px;
}

/*полезная информация и комментарии*/
.bl_reviews, .bl_policy{
    width: 100%;
    height: auto;
    border-radius: 6px;
    background-color: #ffffff;
    border: 1px solid #cbd8ea;
    margin: 20px 0 30px 0;
    padding: 20px 5px 5px 5px;
}
.f_reviews{
	padding: 0 15px;
}
.h_rvw, .h_plc{
	height: auto;
	width: 100%;
	padding: 0 15px;
}
.h_rvw h2, .h_plc h2{
	margin: 0;
	font-size: 16px;
}
.box_rvw h2, .box_plc h2{
	font-size: 16px;
	margin-bottom: 10px;
}
.t_rvw{
	position: relative;
	width: 236px;
	float: left;
	padding-left: 70px;
}
.t_rvw p{
	font-size: 15px;
	line-height: 17px;
	color: #1396e4;
	font-family: "Rubik-Medium";
}
.c_rvw{
	position: absolute;
	top:-20px;
	left:0;
	width: 46px;
	height: 76px;
	background-color: #00ab6b;
	font-size: 21px;
	line-height: 30px;
	color: #fff;
	font-family: "Rubik-medium";
	text-align: center;
}
.wr_numver{
    width: 100%;
    height: auto;
    padding: 18px 0;
}
.c_rvw::before {
    content: '';
    border: solid #f9fdff;
    border-width: 1px 1px 1px 1px;
    display: inline-block;
    padding: 15px;
    position: absolute;
    bottom: -17px;
    background: #fff;
    left: 10px;
    margin-left: -2.5px;
    transform: rotate(47deg);
    -webkit-transform: rotate(47deg)
}
.r_rvw{
	width: 287px;
    float: left;
    padding: 0 20px;
}
.info-appartment .r_rvw  .r_card_hotel {
    width: 100%;
    float: left;
}
.n_rating{
	float: right;
}
.r_rvw .output-rating{
	width: 40px;
    float: left;
    font-size: 16px;
    line-height: 31px;
    color: #565d68;
    font-family: "Rubik-Medium";
}
.info_tr_ticket .r_rvw .number_reviews {
    font-size: 15px;
    line-height: 31px;
    margin-bottom: 0;
    color: #565d68;
    float: right;
    clear: none;
    padding: 0;
    font-family: "Rubik-Light";
}
.r_indicator .progress{
    width: 100%;
    height: 4px;
    float: left;
}
.r_indicator{
    width: 340px;
    float: left;
}
.wr_progress{
    width: 50%;
    margin-bottom: 10px;
    float: left;
    padding: 0 10px;
}
.i_progress{
	width: 100%;
}
.i_progress p{
	font-size: 13px;
	line-height: 24px;
	color: #565d68;
	font-family: "Rubik-Light";
}
.i_progress p:nth-child(1){
	width: 80%;
	float: left;
}
.i_progress p:nth-child(2){
	width: 18px;
	float: right;
}
.f_reviews .jq-selectbox__select {
    width: 200px;
}
.number_rvw{
	padding: 20px 5px;
	border-top: 1px solid #cbd8ea;
	border-bottom: 1px solid #cbd8ea;
}
.number_rvw h4{
	font-size: 14px;
	line-height: 18px;
	margin-bottom:0;
	color: #00ab6b;
	font-family: "Rubik-Medium";
}
.f_reviews .row-select {
    margin-bottom: 20px;
}
.row.row-margin{
	margin-right:0;
	margin-left: 0;
}
.l_part{
	width: 235px;
	min-height: 218px;
	float: left;
	padding: 15px;
}
.box_rvw, .box_plc{
	width: 100%;
	padding: 5px 0;
	border-bottom: 1px solid #cbd8ea;
}
.box_rvw:nth-last-child(1){
	border-bottom: 0;
}
.top_part{
    width: 196px;
    height: 25px;
    margin-bottom: 10px;
}
.top_part .progress{
	height:4px;
}
.btm_part div{
	display: table;
}
.btm_part div p{
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 5px;
}
.btm_part div:nth-last-child(1) p{
    margin-bottom: 0;
}
.r_part{
    padding: 15px;
    width: 655px;
    float: right;
	min-height: 218px;
	border-left: 1px solid #cbd8ea;
}
.r_part p{
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 10px;	
}
.info-appartment .box_rvw .r_card_hotel {
    width: 100%;
    float: right;
    margin-bottom: 5px
}
.box_rvw .circle-rating {
    height: 18px;
    padding: 0;
}
.box_rvw .n_rating {
    float: left;
    padding-left: 10px;
}
.box_rvw .n_rating p {
    line-height: 18px;
	font-family: "Rubik-Medium";
}
.btn_rvw{
	width: 220px;
	position: relative;
	float: right;
	height: 49px;
	border-radius: 6px;
	background-color: #ffffff;
	border: 1px solid #1396e4;
	text-align: center;
}
.btn_rvw a{
    display: block;
    font-size: 14px;
    line-height: 49px;
    color: #1396e4 !important;
    padding: 0 25px 0 0;
    font-family: "Rubik-Medium";
	transition: 0.2s;
	-webkit-transition: 0.2s;
}
.btn_rvw::before {
    content: '';
    border: solid #1396e4;
    background: #fff;
    border-width: 0px 2px 2px 0px;
    display: inline-block;
    padding: 6px;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-right: 10px;
    margin-top: -8px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.btn_rvw:hover {
    background-color: #1396e4;
    border: 1px solid #1396e4;
	transition: 0.2s;
	-webkit-transition: 0.2s;
}
.btn_rvw:hover a {
    color: #fff !important;
	transition: 0.2s;
	-webkit-transition: 0.2s;
}
.btn_rvw:hover::before {
    content: '';
    border: solid #FFF;
    background: transparent;
    border-width: 2px 0 0 2px;
	border-width: 0px 2px 2px 0px;
    display: inline-block;
    padding: 6px;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-right: 10px;
    margin-top: -8px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

div.box_rvw:nth-last-child(1) {
    border-bottom: 0 !important;
}
.btn_rvw.btn_open{
    background-color: #1396e4;
    border: 1px solid #1396e4;
	transition: 0.2s;
	-webkit-transition: 0.2s;
}
.btn_rvw.btn_open a {
    color: #fff !important;
	transition: 0.2s;
	-webkit-transition: 0.2s;
}
.btn_rvw.btn_open::before {
    content: '';
    border: solid #fff;
    background: #fff0;
    border-width: 2px 0px 0px 2px;
    display: inline-block;
    padding: 6px;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-right: 10px;
    margin-top: -2px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.bl_reviews .show-ap-btn {
	width: 96%;
    height: 50px;
    margin: 10px auto 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #f9fdff;
    border-top: 1px solid #cbd8ea;
    border-bottom: 1px solid #cbd8ea;
    border-left: 1px solid #cbd8ea;
    border-right: 1px solid #cbd8ea;
}
.h_policy{
	padding:0 15px;
	border-bottom: 1px solid #cbd8ea;
}
.bl_policy .l_part {
	width: 240px;
    border-right: 0;
	min-height: auto;
}
.bl_policy .r_part {
    width: 650px;
}
.t_plc{
	display: table;
}
.t_plc img{
	width: 20px;
	float: left;
	margin-right: 20px;
}
.t_plc h2 {
    display: table-cell;
    vertical-align: middle;
	line-height: 18px;
}
.bl_policy .ic-srv {
	padding: 7px;
}
/* .box_plc:nth-last-child(1){
	border-bottom: 0;
} */
.btm_plc{
	padding: 15px;
	border-top: 1px solid #cbd8ea;
}
.c_full .bl_comment{
	height: 50px;
	overflow: hidden;
	order: 0;
	transition: 0.5s;
	-webkit-transition: 0.5s;
}
.bl_comment.open {
  height: auto;
}
.btm_plc {
    border-top: 0;
}

.delete-staff-from-unit{
    cursor: pointer;
}

.staffIsAlreadyInTheGroup{
    color: red !important;
    font-weight: bold;
}