.mb_0 {
  margin-bottom: 0 !important;
}

.mb_20 {
  margin-bottom: 20px !important;
}

.mb_30 {
  margin-bottom: 30px !important;
}

.mb_40 {
  margin-bottom: 40px !important;
}

.fs_16 {
  font-size: 16px !important;
}

.btn_long {
  width: 100%;
}

header:before, header:after {
  content: " ";
  display: table;
}
header:after {
  clear: both;
}

.page {
  width: 100%;
  padding-bottom: 40px;
  border-top: 1px solid #cbd8ea;
}
.page_heading {
  padding: 30px 0 29px 0;
  border-bottom: 1px solid #cbd8ea;
}
.page_heading_no_border {
  padding-bottom: 15px;
  border-bottom: none;
}
.page_heading h1 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  font-family: "Rubik-Medium", sans-serif;
}
.page_toolbar {
  margin-bottom: 10px;
}
.page_toolbar .sort-box {
  margin: 0 !important;
}
.page_toolbar .date_wrapper {
  padding-bottom: 0;
}
.page_toolbar .form_group {
  margin-bottom: 10px;
}
.page_toolbar__sort:before, .page_toolbar__sort:after {
  content: " ";
  display: table;
}
.page_toolbar__sort:after {
  clear: both;
}
@media (min-width: 576px) {
  .page_toolbar__row {
    margin: 0 -15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .page_toolbar__date {
    width: 60%;
    padding: 0 15px;
  }
  .page_toolbar__search {
    width: 40%;
    padding: 0 15px;
  }
  .page_toolbar__sort {
    width: 100%;
    padding: 0 15px;
  }
}
@media (min-width: 768px) {
  .page_toolbar__date {
    width: 40%;
  }
  .page_toolbar__search {
    width: 60%;
  }
}
@media (min-width: 992px) {
  .page_toolbar__row {
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
  }
  .page_toolbar__date {
    width: 280px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .page_toolbar__search {
    width: auto;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .page_toolbar__sort {
    width: 350px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .page_toolbar .form_group {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .page_toolbar__date {
    width: 330px;
  }
  .page_toolbar__sort {
    width: 400px;
  }
}
@media (min-width: 1300px) {
  .page_toolbar__search {
    padding-left: 45px;
  }
  .page_toolbar__sort {
    width: 430px;
  }
}

.btn_main {
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 13px 24px;
  user-select: none;
  text-align: center;
  background: #1396e4;
  white-space: nowrap;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #1396e4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn_main:hover {
  color: #fff;
  background: #1b86e4;
  border-color: #1b86e4;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn_main:active {
  background: #1396e4;
}
.btn_main:focus, .btn_main.focus {
  outline: 0;
}

.btn_main_border {
  color: #1396e4;
  background: #fff;
}
.btn_main_border:hover {
  color: #fff;
  background: #1396e4;
  border-color: #1396e4;
}

.btn_main_shadow {
  -webkit-box-shadow: 0px 6px 10px rgba(19, 150, 228, 0.36);
  box-shadow: 0px 6px 10px rgba(19, 150, 228, 0.36);
}

.main_left {
  max-width: 300px;
  min-height: 1px;
}
.main_right {
  padding-top: 30px;
  min-height: 1px;
}
.main_wrap {
  max-width: 925px;
  padding-top: 30px;
}
@media (min-width: 992px) {
  .main_row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .main_left {
    width: 250px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .main_right {
    width: calc(100% - 280px);
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}
@media (min-width: 1200px) {
  .main_left {
    width: 300px;
  }
  .main_right {
    width: calc(100% - 330px);
  }
}
@media (min-width: 1300px) {
  .main_right {
    width: calc(100% - 360px);
  }
}

.main_nav {
  font-size: 0;
  line-height: 0;
  border-bottom: 1px solid #cbd8ea;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.main_nav a {
  color: #565d68;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  display: inline-block;
  text-decoration: none;
  padding: 5px 5px 10px 5px;
  margin: 0 20px -1px 0;
  border-bottom: 2px solid transparent;
}
.main_nav a:hover {
  color: #262c38;
  text-decoration: none;
}
.main_nav a.active {
  color: #262c38;
  font-weight: 500;
  border-bottom-color: #1396e4;
}
.main_nav a:last-child {
  margin-right: 0;
}

.tour {
  margin-bottom: 50px;
}
.tour__heading {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 18px;
}
.tour__heading span {
  display: block;
  color: #565d68;
  font-size: 15px;
  margin-bottom: 5px;
}
.tour__heading strong {
  display: block;
  color: #262c38;
}
.tour__nav {
  z-index: 5;
  font-size: 0;
  line-height: 0;
  margin-bottom: -1px;
  position: relative;
  padding-left: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.tour__nav > a {
  color: #262c38;
  background: #fff;
  font-size: 11px;
  line-height: 15px;
  margin-right: 3px;
  padding: 15px 4px;
  text-align: center;
  position: relative;
  text-decoration: none;
  border: 1px solid #cbd8ea;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.tour__nav > a span {
  opacity: 0.4;
  margin: auto 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.tour__nav > a:hover span {
  opacity: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.tour__nav > a.active {
  background: #f9fdff;
  border-bottom-color: #f9fdff;
}
.tour__nav > a.active span {
  opacity: 1;
}
.tour__tab {
  display: none;
}
.tour__tab.active {
  display: block;
}
.tour__content {
  background: #f9fdff;
  border: 1px solid #cbd8ea;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.tour__item {
  padding: 25px;
  border-bottom: 1px solid #cbd8ea;
}
.tour__row_left {
  margin-bottom: 30px;
}
.tour__time {
  padding: 15px 25px 25px 25px;
  color: #565d68;
  font-size: 15px;
  background: #fff;
  line-height: 30px;
  text-align: center;
  border: 1px solid #cbd8ea;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.tour__time_text {
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}
.tour__time_value {
  color: #262c38;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 10px;
}
.tour__time_btn {
  padding: 0;
  margin: 0 -5px;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.tour__time_btn > li {
  padding: 5px;
}
.tour__time_btn .btn_main {
  min-width: 160px;
}
.tour__info {
  color: #565d68;
  font-size: 14px;
  background: #fff;
  line-height: 20px;
  border: 1px solid #cbd8ea;
  padding: 15px 25px 15px 25px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.tour__info_lead {
  font-size: 15px;
  margin-bottom: 5px;
}
.tour__info_lead strong {
  color: #262c38;
  font-weight: 700;
}
.tour__info_text {
  margin: 0 -10px 10px 0;
}
.tour__routes {
  margin-bottom: 15px;
}
.tour__routes_visible {
  display: block;
}
.tour__routes_hide {
  display: none;
}
.tour__routes_hide.open {
  display: block;
}
.tour__routes_toggle {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #1396e4;
  text-decoration: none;
}
.tour__routes_toggle:hover {
  color: #1396e4;
  text-decoration: underline;
}
.tour__routes_toggle span {
  display: inline;
}
.tour__routes_toggle span + span {
  display: none;
}
.tour__routes_toggle.open span {
  display: none;
}
.tour__routes_toggle.open span + span {
  display: inline;
}
.tour__route {
  width: 100%;
  border: none;
  border-collapse: collapse;
}
.tour__route td {
  border: none;
  padding-bottom: 15px;
}
.tour__route_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.tour__route_icon {
  width: 44px;
  height: 44px;
  margin-right: 15px;
  position: relative;
  display: inline-block;
  background-color: #fff;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border: 1px solid #1396e4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.tour__route_icon.icon_plane {
  background-image: url("../images/trips/icon__plane.png");
}
.tour__route_icon.icon_hotel {
  background-image: url("../images/trips/icon__hotel.png");
}
.tour__route_info {
  padding: 2px 0;
  color: #565d68;
  font-size: 14px;
  line-height: 20px;
}
.tour__route_info span {
  display: block;
}
.tour__route_info strong {
  color: #262c38;
}
.tour__route_price {
  color: #262c38;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  text-align: right;
  padding-left: 15px;
  display: inline-block;
}
.tour__route_price_wrap {
  padding-right: 30px;
  position: relative;
}
.tour__route_price_change {
  padding-right: 15px;
  position: relative;
}
.tour__route_user {
  color: #262c38;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.tour__route_user strong {
  font-weight: 500;
}
.tour__route_status {
  color: #565d68;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  padding-left: 15px;
}
.tour__summary {
  padding: 20px 25px 15px 25px;
}
.tour__summary .button_info {
  right: 0;
  top: 50%;
  margin-top: -11px;
  position: absolute;
}
.tour__summary_row {
  position: relative;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.tour__summary_text {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}
.tour__summary_price {
  color: #262c38;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  text-align: right;
  padding-left: 15px;
}
.tour__summary_price_wrap {
  padding-right: 35px;
  position: relative;
}
.tour__summary_info {
  margin: 0 -10px;
  white-space: nowrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.tour__summary_col {
  padding: 5px 10px;
}
.tour__person {
  margin: 0 -5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.tour__person_item {
  color: #858a92;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  position: relative;
  background: #ffffff;
  margin: 0 5px 10px 5px;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #cbd8ea;
  padding: 13px 15px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.tour__person_item:before {
  top: 50%;
  left: 10px;
  content: "";
  width: 22px;
  height: 22px;
  padding: 3px 0;
  font-size: 13px;
  line-height: 14px;
  margin-top: -11px;
  text-align: center;
  position: absolute;
  display: inline-block;
  border: 1px solid transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.tour__person_item:hover {
  color: #858a92;
  text-decoration: none;
  border-color: #3991ea;
}
.tour__person_item.person_alert {
  padding-left: 44px;
}
.tour__person_item.person_alert:before {
  color: #d41f30;
  border-color: #d41f30;
  background: url("../images/trips/icon__person_alert.png") 50% 50% no-repeat;
}
.tour__person_item.person_good {
  padding-left: 44px;
}
.tour__person_item.person_good:before {
  color: #259e4d;
  border-color: #259e4d;
  background: url("../images/trips/icon__person_good.png") 50% 50% no-repeat;
}
.tour__calculation {
  width: 100%;
  color: #565d68;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 15px;
  border-collapse: collapse;
}
.tour__calculation td {
  padding: 0 0 10px 0;
}
.tour__docs {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 25px;
}
.tour__docs:last-child {
  margin-bottom: 0;
}
.tour__docs_title {
  color: #262c38;
  font-weight: 500;
  margin-bottom: 10px;
}
.tour__docs_list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tour__docs_list li {
  margin-bottom: 5px;
}
.tour__docs_list li:last-child {
  margin-bottom: 0;
}
.tour__docs_list li a {
  color: #8a9db6;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.tour__docs_list li a:hover {
  color: #1396e4;
  text-decoration: none;
}
.tour__docs_list li a i {
  width: 30px;
  display: inline-block;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.tour__docs_list li a span {
  padding-left: 12px;
  display: inline-block;
}
.tour .button_info {
  right: 0;
  top: 50%;
  margin-top: -11px;
  position: absolute;
}
@media (min-width: 576px) {
  .tour__nav a {
    font-size: 13px;
    padding: 15px 5px;
  }
}
@media (min-width: 768px) {
  .tour__nav {
    padding-left: 25px;
    padding-right: 25px;
  }
  .tour__nav a {
    width: 25%;
    font-size: 14px;
    padding: 15px 10px;
  }
  .tour__summary_info {
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
  }
}
@media (min-width: 1200px) {
  .tour__nav {
    padding-left: 25px;
    padding-right: 25px;
  }
  .tour__nav > a {
    width: 25%;
    font-size: 15px;
  }
  .tour__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .tour__row_left {
    width: 400px;
    margin-bottom: 0;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .tour__row_right {
    padding-left: 30px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}
@media (min-width: 1300px) {
  .tour__row_left {
    width: 430px;
  }
  .tour__row_right {
    padding-left: 50px;
  }
}

.arrow_change {
  top: 50%;
  right: 0;
  width: 8px;
  height: 12px;
  font-size: 0;
  line-height: 0;
  margin-top: -6px;
  display: inline-block;
  position: absolute;
}
.arrow_change_up {
  background: url("../images/trips/icon__arrow_up.png") 0 0 no-repeat;
}

.integration {
  margin-bottom: 30px;
  border: 1px solid #cbd8ea;
  padding: 25px 25px 30px 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.integration_row {
  padding-top: 30px;
}
.integration__title {
  color: #262c38;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.integration__title strong {
  padding-right: 15px;
  display: inline-block;
}
.integration__title a {
  font-size: 14px;
  color: #1396e4;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
}
.integration__title a:hover {
  color: #1396e4;
  text-decoration: underline;
}
.integration__text {
  color: #565d68;
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
  padding-bottom: 10px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.integration__text p {
  padding: 0;
  margin: 0 0 10px 0;
}
.integration__text ul {
  margin: 10px;
}
.integration__text ul li {
  margin-bottom: 10px;
}
.integration__text ul li:last-child {
  margin-bottom: 0;
}
@media (min-width: 992px) {
  .integration {
    width: calc(50% - 15px);
  }
  .integration_row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
}

/*# sourceMappingURL=trips.css.map */
