.side_open {
  right: 0 !important;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.open_modal {
  overflow: hidden !important;
}

#trip_date_start {
  padding-left: 50px !important;
}

.mb_5 {
  margin-bottom: 5px !important;
}

.mb_15 {
  margin-bottom: 15px !important;
}

.btn_main_text {
  color: #8a9db6;
  background: transparent;
  border-color: transparent;
}
.btn_main_text:hover {
  color: #000;
  background: transparent;
  border-color: transparent;
}

.btn_radio {
  font-size: 0;
  line-height: 0;
  font-weight: 400;
  display: inline-block;
}
.btn_radio input {
  display: none;
}
.btn_radio span {
  outline: none;
  color: #858a92;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 13px 24px;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  background: transparent;
  border: 1px solid #cbd8ea;
  font-family: "Rubik", sans-serif;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn_radio span:hover {
  color: #858a92;
  background: #f5f5f5;
  border-color: #cbd8ea;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn_radio span:active {
  background: transparent;
}
.btn_radio span:focus, .btn_radio span.focus {
  outline: 0;
}
.btn_radio input:checked + span {
  color: #fff;
  background: #1396e4;
  border-color: #1396e4;
}
.btn_radio input:checked + span:hover {
  color: #fff;
  background: #1396e4;
  border-color: #1396e4;
}
.btn_radio input:checked + span:active {
  background: #1396e4;
}

.btn_group {
  font-size: 0;
  line-height: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.btn_group .btn_radio {
  border-left: none;
  border-right: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}
.btn_group .btn_radio:first-child {
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.btn_group .btn_radio:last-child {
  border-right-width: 1px;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

.form_checkbox {
  font-size: 0;
  line-height: 0;
  font-weight: 400;
  display: inline-block;
}
.form_checkbox input {
  display: none;
}
.form_checkbox span {
  cursor: pointer;
  color: #565d68;
  font-size: 14px;
  line-height: 20px;
  padding-top: 1px;
  padding-left: 35px;
  display: inline-block;
  position: relative;
  font-family: "Rubik-Light", sans-serif;
}
.form_checkbox span:before {
  top: 0;
  left: 0;
  z-index: 1;
  width: 20px;
  height: 20px;
  content: "";
  position: absolute;
  display: inline-block;
  border: 1px solid #cbd8ea;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.form_checkbox span:after {
  left: 7px;
  top: 4px;
  width: 4px;
  height: 8px;
  z-index: 5;
  box-sizing: unset;
  content: "";
  opacity: 0;
  visibility: hidden;
  position: absolute;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.form_checkbox input:checked + span:before {
  background: #1396e4;
}
.form_checkbox input:checked + span:after {
  opacity: 1;
  visibility: visible;
}

.form_switch {
  font-size: 0;
  line-height: 0;
  display: inline-block;
}
.form_switch input {
  display: none;
}
.form_switch span {
  width: 54px;
  height: 30px;
  cursor: pointer;
  position: relative;
  background: #848c97;
  display: inline-block;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.form_switch span:before {
  top: 50%;
  left: 5px;
  z-index: 10;
  width: 18px;
  height: 18px;
  content: "";
  margin-top: -9px;
  position: absolute;
  background: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.form_switch input:checked + span {
  background: #1396e4;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.form_switch input:checked + span:before {
  left: calc(100% - 23px);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.form_control {
  width: 100%;
  display: inline-block;
  border-radius: 4px;
  background-color: #eef7fd;
  border: 1px solid #cbd8ea;
  color: #000000 !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none !important;
}
.form_control:hover {
  border-color: #cbd8ea;
}
.form_control:focus {
  border-color: #3f4247;
}

.date_wrapper {
  padding-bottom: 0;
}
.date_wrapper input {
  width: 100%;
  height: 53px;
  background-color: #ffffff;
  border: 1px solid #cbd8ea;
  font-size: 14px;
  line-height: 30px;
  color: #565d68;
  font-family: "Rubik-Light", sans-serif;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

.user_search {
  margin-bottom: 20px;
}
.user_search .form_control {
  background-color: #ffffff !important;
  border: 1px solid #cbd8ea;
}
.user_search .form_control::-moz-placeholder {
  color: #565d68 !important;
  opacity: 1;
}
.user_search .form_control:-ms-input-placeholder {
  color: #565d68 !important;
}
.user_search .form_control::-webkit-input-placeholder {
  color: #565d68 !important;
}
.user_search .form_control__icon_box {
  padding-left: 50px !important;
  background-repeat: no-repeat;
  background-position: 10px 50%;
  background-image: url("../images/icon/box.svg");
}
.user_search .form_group {
  margin-bottom: 20px;
}
.user_search__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}
@media (min-width: 576px) {
  .user_search__left {
    margin: 0 -5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
  }
  .user_search__col {
    padding: 0 5px;
    width: 50%;
  }
}
@media (min-width: 768px) {
  .user_search {
    margin-bottom: 40px;
  }
  .user_search__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .user_search__left {
    margin: 0;
  }
  .user_search__col {
    padding: 0 30px 0 0;
  }
  .user_search .form_group {
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .user_search__col:first-child {
    width: 420px;
  }
  .user_search__col:last-child {
    width: 330px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}
@media (min-width: 1200px) {
  .user_search__col:first-child {
    width: 455px;
  }
  .user_search__col:last-child {
    width: 330px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}

.user_filter {
  padding: 0 !important;
}
.user_filter:before, .user_filter:after {
  content: " ";
  display: table;
}
.user_filter:after {
  clear: both;
}

.user_count {
  padding: 20px 0;
  float: none !important;
}
.user_count p {
  margin-bottom: 0 !important;
}

.table_user {
  padding: 0 5px;
  border: 1px solid #cbd8ea !important;
}
.table_user h3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  font-family: "Rubik-Medium", sans-serif;
  margin-bottom: 0;
}
.table_user h3 a {
  color: #262c38;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px dashed transparent;
}
.table_user h3 a:hover {
  color: #1396e4 !important;
  text-decoration: none;
  border-bottom-color: #1396e4;
}
.table_user td:first-child {
  width: 100%;
  white-space: normal;
}

.table_adaptive {
  width: 100%;
}
.table_adaptive th,
.table_adaptive td {
  padding: 20px;
  color: #565d68;
  font-size: 14px;
  line-height: 18px;
  font-family: "Rubik-Light", sans-serif;
  border-bottom: 1px solid #cbd8ea;
}
@media (max-width: 991px) {
  .table_adaptive {
    display: block;
  }
  .table_adaptive tbody {
    display: block;
  }
  .table_adaptive thead tr {
    display: none;
  }
  .table_adaptive th {
    display: none;
  }
  .table_adaptive tr {
    display: block;
    background: #fff;
    margin-bottom: 20px;
    border: 1px solid #cbd8ea;
    border-bottom: none;
  }
  .table_adaptive td {
    text-align: right;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .table_adaptive td:before {
    display: block;
    text-align: left;
    padding-right: 20px;
    white-space: nowrap;
    margin-bottom: 5px;
    content: attr(data-label);
    font-family: "Rubik-Medium", sans-serif;
  }
}
@media (max-width: 575px) {
  .table_adaptive {
    display: block;
  }
  .table_adaptive th {
    display: none;
  }
  .table_adaptive td {
    text-align: left;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .table_adaptive td:before {
    width: 100%;
  }
}

.user__header {
  padding: 22px 20px;
  background-color: #f9fdff;
}
.user__header h2 {
  margin: 0;
  padding: 0;
}
.user__box {
  color: #565d68;
  padding: 20px 20px;
  border-top: 1px solid #cbd8ea;
}
.user__box h4 {
  color: #262c38;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 5px;
  font-family: "Rubik-Medium", sans-serif;
}
.user__box p {
  color: #565d68;
}
.user__box .form_group {
  margin-bottom: 10px;
}
.user__box .form_control {
  height: 50px;
  padding: 14px 20px;
}
.user__info {
  margin-bottom: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.user__info_avatar {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border: 1px solid #cbd8ea;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.user__info_name {
  color: #262c38;
  font-size: 16px;
  line-height: 20px;
  padding-left: 10px;
  font-family: "Rubik-Medium", sans-serif;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.user__staff {
  color: #565d68;
  font-size: 16px;
  line-height: 22px;
  max-width: 280px;
  font-family: "Rubik-Light", sans-serif;
}
.user__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.user__row_left {
  max-width: 400px;
}
.user__row_right {
  text-align: right;
}
.user__contacts {
  margin: 0;
  padding: 0;
  list-style: none;
}
.user__contacts > li {
  height: auto !important;
  padding: 0 !important;
  margin: 0 0 8px 0 !important;
}
.user__contacts > li:last-child {
  margin-bottom: 0 !important;
}
.user__text {
  color: #565d68;
  font-size: 15px;
  line-height: 24px;
}
.user__list {
  margin: 0 0 10px 0 !important;
  padding: 0;
  list-style: none;
  font-size: 14px !important;
  line-height: 18px !important;
}
.user__list > li {
  color: #565d68 !important;
  position: relative;
  height: auto !important;
  padding: 0 0 0 15px !important;
  margin: 0 0 2px 0 !important;
}
.user__list > li:before {
  left: 0;
  top: 6px;
  content: "";
  width: 4px;
  height: 4px;
  background: #565d68;
  position: absolute;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.user__list > li:last-child {
  margin-bottom: 0 !important;
}
.user .btn_line {
  background: transparent;
  padding: 12px 14px !important;
  color: #858a92 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  border: 1px solid #cbd8ea !important;
  font-family: "Rubik-Light", sans-serif !important;
}
.user .btn_line:hover {
  color: #000 !important;
  text-decoration: none !important;
  background: #cbd8ea !important;
}
@media (min-width: 768px) {
  .user__header {
    padding: 37px 60px 37px 60px;
  }
  .user__box {
    padding: 30px 60px;
  }
  .user__info_avatar {
    width: 80px;
    height: 80px;
  }
  .user__info_name {
    font-size: 20px;
    line-height: 26px;
    padding-left: 20px;
  }
}
@media (min-width: 992px) {
  .user__header {
    padding: 37px 60px 37px 60px;
  }
}

.user_action {
  font-size: 13px !important;
  line-height: 17px !important;
  margin: 0 !important;
  padding: 0 !important;
  color: #1396e4 !important;
  text-decoration: none !important;
  font-family: "Rubik-Medium", sans-serif !important;
}
@media (min-width: 768px) {
  .user_action {
    font-size: 15px !important;
    line-height: 19px !important;
  }
}

.user_phone,
.user_email {
  margin: 0 !important;
  display: inline-block !important;
  padding: 0 0 0 33px !important;
  color: #565d68 !important;
  font-size: 13px !important;
  line-height: 20px !important;
  text-decoration: none !important;
  font-family: "Rubik-Light", sans-serif !important;
}
.user_phone:hover,
.user_email:hover {
  color: #565d68 !important;
  text-decoration: none !important;
}
@media (min-width: 768px) {
  .user_phone,
.user_email {
    font-size: 16px !important;
  }
}

.user_email {
  background: url("../images/icon/icon__email.png") 0 50% no-repeat;
}

.user_phone {
  background: url("../images/icon/icon__phone.png") 0 50% no-repeat;
}

.user_link {
  display: inline !important;
  font-size: 15px !important;
  line-height: 18px !important;
  margin: 0 !important;
  padding: 0 !important;
  color: #1396e4 !important;
  text-decoration: none !important;
  border-bottom: 1px dashed #1396e4;
  font-family: "Rubik-Medium", sans-serif !important;
}
.user_link:hover {
  color: #1396e4 !important;
  text-decoration: none !important;
  border-bottom-color: #1396e4;
}

.user_buttons {
  margin: 0 -5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.user_buttons__item {
  padding: 5px;
}

/*# sourceMappingURL=update_30_07_19.css.map */
