.pl_0 {
  padding-left: 0 !important;
}

@media (min-width: 1200px) {
  .pl_lg_15 {
    padding-left: 15px;
  }
}

.mb_30 {
  margin-bottom: 30px !important;
}

.pt_20 {
  padding-top: 20px !important;
}

@media (min-width: 1200px) {
  .text-nowrap-xl {
    white-space: nowrap;
  }
}

.trip_icon_square__bus {
  background-image: url("../images/trips/icon__bus.svg");
}

.download {
  margin: 0 -3px;
  font-size: 0;
  line-height: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}
.download__label {
  color: #262c38;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  margin: 0 6px 0 3px;
  display: inline-block;
  font-family: "Rubik-Medium", sans-serif;
}
.download__item {
  color: #fff;
  margin: 0 3px;
  font-size: 13px;
  line-height: 19px;
  padding: 3px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.download__item_pdf {
  background: #e2574c;
}
.download__item_xls {
  background: #84bd5a;
}
.download__item_csv {
  background: #f36fa0;
}

.page_toolbar__download {
  width: 100%;
  padding: 5px 15px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}
@media (min-width: 992px) {
  .page_toolbar__download {
    width: auto;
  }
}
@media (min-width: 1200px) {
  .page_toolbar__download {
    width: 350px;
  }
}
@media (min-width: 1280px) {
  .page_toolbar__download {
    width: 480px;
  }
}

.infobox {
  border: 1px solid #cbd8ea;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.infobox__top {
  padding: 25px;
  border-bottom: 1px solid #cbd8ea;
}
.infobox__top_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start;
}
.infobox__bottom {
  padding: 25px;
  color: #565d68;
  font-size: 15px;
  line-height: 20px;
}
.infobox__icon {
  width: 44px;
  height: 44px;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.infobox__content {
  font-size: 15px;
  line-height: 20px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.infobox__content_col {
  width: 100%;
  padding-left: 20px;
  margin-bottom: 5px;
}
.infobox__content_col span {
  display: block;
  color: #565d68;
}
.infobox__content_col strong {
  display: block;
  color: #262c38;
  font-weight: 400;
  font-family: "Rubik-Medium", sans-serif;
}
.infobox__data {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 20px;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.infobox__data > li {
  margin-right: 20px;
}
.infobox__data > li:last-child {
  margin-right: 0;
}
.infobox__data > li span {
  display: block;
  color: #565d68;
}
.infobox__data > li strong {
  display: block;
  color: #262c38;
  font-weight: 400;
  font-family: "Rubik-Medium", sans-serif;
}
@media (min-width: 576px) {
  .infobox__top_row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
  }
  .infobox__content {
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
  }
  .infobox__content_col {
    margin-bottom: 0;
    white-space: nowrap;
  }
  .infobox__data > li {
    margin-right: 50px;
  }
  .infobox__data > li:last-child {
    margin-right: 0;
  }
}

/*# sourceMappingURL=update_07_08_19.css.map */
