.ico-svg {
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.pt_20 {
  padding-top: 20px;
}

.btn_main.btn_main_sm {
  padding: 11px 18px;
}
.btn_main.btn_main_wrap {
  white-space: normal;
}

.box_border_white {
  padding: 20px 20px;
  border: 1px solid #cbd8ea;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
@media (min-width: 768px) {
  .box_border_white {
    padding: 30px 30px;
  }
}

.box_border_blue {
  padding: 20px 20px;
  background: #f9fdff;
  border: 1px solid #cbd8ea;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
@media (min-width: 768px) {
  .box_border_blue {
    padding: 30px 30px;
  }
}

.trip_bar {
  color: #8a9db6;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  position: relative;
  background: #f9fdff;
  margin-bottom: 25px;
  border: 1px solid #cbd8ea;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.trip_bar__info {
  padding: 15px 50px 14px 20px;
}
.trip_bar__status {
  padding: 11px 15px 10px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.trip_bar__status_text {
  padding-right: 8px;
}
.trip_bar__delete {
  top: 0;
  right: 0;
  z-index: 10;
  font-size: 0;
  line-height: 0;
  position: absolute;
}
.trip_bar__delete a {
  width: 48px;
  height: 48px;
  padding: 16px 0;
  cursor: pointer;
  text-align: center;
  background: #cbd8ea;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.trip_bar__delete a:hover svg {
  fill: #1396e4;
}
.trip_bar .checkmark_box {
  right: 0 !important;
  margin: 0 !important;
  position: static !important;
}
@media (min-width: 768px) {
  .trip_bar {
    padding-right: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .trip_bar__info {
    padding-right: 10px;
  }
}

.trip_header {
  font-size: 0;
  line-height: 0;
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #cbd8ea;
}
.trip_header__date {
  color: #565d68;
  font-size: 15px;
  line-height: 20px;
  padding-left: 22px;
  display: inline-block;
  background: url("../images/trips/icon__calendag.svg") 0 50% no-repeat;
}
.trip_header__title {
  color: #262c38;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 5px;
  font-family: "Rubik-Medium", sans-serif;
}
@media (min-width: 768px) {
  .trip_header {
    font-size: 30px;
    line-height: 36px;
  }
  .trip_header__title {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .trip_header__date {
    left: 0;
    top: 5px;
    position: absolute;
  }
}
.trip_update {
  font-size: 0;
  line-height: 0;
  margin: 0 auto;
  max-width: 540px;
  overflow: hidden;
  border: 1px solid #cbd8ea;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.trip_update__heading {
  color: #262c38;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-bottom: 15px;
  font-family: "Rubik-Medium", sans-serif;
}
.trip_update__btn {
  width: 25%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  display: inline-block;
  border-left: 1px solid #cbd8ea;
}
.trip_update__btn:first-child {
  border-left: none;
}
.trip_update__btn input {
  display: none;
}
.trip_update__btn input:checked + .trip_update__elem {
  color: #fff;
  background: #1396e4;
}
.trip_update__btn input:checked + .trip_update__elem .cls-1 {
  stroke: #ffffff;
}
.trip_update__btn input:checked + .trip_update__elem .cls-2 {
  fill: #ffffff;
  stroke: #ffffff;
}
.trip_update__elem {
  width: 100%;
  color: #858a92;
  padding: 10px 10px;
  text-align: center;
  display: inline-block;
}
.trip_update__elem i {
  height: 25px;
  display: inline-block;
}
.trip_update__elem span {
  display: block;
  text-align: center;
  font-size: 13px;
  line-height: 15px;
  font-family: "Rubik-Light", sans-serif;
}
.trip_update__elem .cls-1 {
  fill: none;
  stroke: #898991;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 0.85px;
}
.trip_update__elem .cls-2 {
  fill: #898991;
  stroke: #898991;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 0.22px;
  fill-rule: evenodd;
}
@media (min-width: 576px) {
  .trip_update__elem {
    height: 48px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
  }
  .trip_update__elem i {
    height: auto;
    margin-right: 10px;
  }
}

.trip_go {
  color: #565d68;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 30px;
  background: #f9fdff;
  border: 1px solid #cbd8ea;
  font-family: "Rubik-Light", sans-serif;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.trip_go__item {
  padding: 20px 20px;
  position: relative;
  border-bottom: 1px solid #cbd8ea;
}
.trip_go__item:last-child {
  border-bottom: none;
}
.trip_go__item p {
  margin: 0;
  padding: 0;
}
.trip_go__title {
  color: #262c38;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: -10px;
  padding: 20px 20px 0 20px;
  font-family: "Rubik-Medium", sans-serif;
}
.trip_go__user {
  font-family: "Rubik-Medium", sans-serif;
}
.trip_go__user a {
  color: #1396e4;
  text-decoration: none;
}
.trip_go__user a:hover {
  color: #1396e4;
  text-decoration: underline;
}
.trip_go__boss {
  color: #8a9db6;
}
.trip_go__boss a {
  color: #1396e4;
  text-decoration: none;
}
.trip_go__boss a:hover {
  color: #1396e4;
  text-decoration: underline;
}
.trip_go__remove {
  color: #8a9db6;
  font-size: 14px;
  line-height: 18px;
  margin-top: 10px;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
  font-family: "Rubik-Light", sans-serif;
}
.trip_go__remove:hover {
  color: #8a9db6;
  text-decoration: underline;
}
.trip_go__status {
  color: #859db9;
  font-size: 15px;
  line-height: 19px;
  display: inline-block;
  margin-top: 10px;
  padding: 8px 25px 8px 25px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 15px 50%;
  font-family: "Rubik", sans-serif;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05);
}
.trip_go__status_coordination {
  padding-left: 45px;
  background-image: url("../images/trips/icon__refresh.svg");
}
.trip_go__status_agreed {
  padding-left: 45px;
  background-image: url("../images/trips/icon__check.svg");
}
.trip_go__status_denied {
  padding-left: 45px;
  color: #fb6090;
  background-image: url("../images/trips/icon__close.svg");
}
.trip_go__status_not {
  padding-left: 45px;
  background-image: url("../images/trips/icon__user_good.svg");
}
@media (min-width: 768px) {
  .trip_go__item {
    padding: 20px 30px 20px 30px;
  }
  .trip_go__title {
    padding: 20px 25px 0 30px;
  }
}
@media (min-width: 1200px) {
  .trip_go__item {
    padding: 20px 200px 20px 30px;
  }
  .trip_go__remove {
    top: 25px;
    right: 30px;
    margin-top: 0;
    position: absolute;
  }
  .trip_go__status {
    right: 0;
    bottom: 16px;
    margin-top: 0;
    position: absolute;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -ms-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
  }
}

.trip_summary {
  color: #565d68;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 30px;
  background: #f9fdff;
  border: 1px solid #cbd8ea;
  padding: 25px 15px 20px 15px;
  font-family: "Rubik-Light", sans-serif;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.trip_summary__title {
  color: #565d68;
}
.trip_summary__price {
  color: #262c38;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 20px;
  font-family: "Rubik-Medium", sans-serif;
}
.trip_summary__button {
  margin-bottom: 15px;
}
.trip_summary__reset {
  border: none;
  outline: none;
  color: #8a9db6;
  font-size: 14px;
  line-height: 20px;
  padding: 5px 10px;
  text-decoration: none;
  background: transparent;
  font-family: "Rubik-Light", sans-serif;
}
.trip_summary__reset:hover {
  color: #8a9db6;
  text-decoration: underline;
}

.trip_stage {
  padding-bottom: 10px;
  position: relative;
}
.trip_stage:before {
  bottom: 0;
  top: 44px;
  left: 23px;
  z-index: 1;
  content: "";
  display: block;
  position: absolute;
  border-right: 1px dashed #1396e4;
}
.trip_stage:last-child:before {
  display: none;
}
.trip_stage__heading {
  z-index: 20;
  color: #262c38;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
  position: relative;
  font-family: "Rubik-Medium", sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.trip_stage__heading span {
  padding-left: 15px;
  display: inline-block;
}
.trip_stage__heading .button_info {
  margin-left: 10px;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.trip_stage__wrap {
  margin-left: 35px;
}
@media (min-width: 576px) {
  .trip_stage__wrap {
    margin-left: 65px;
  }
}

.trip_icon_circle {
  width: 48px;
  height: 48px;
  font-size: 0;
  line-height: 0;
  font-style: normal;
  display: inline-block;
  background-color: #fff;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border: 1px solid #1396e4;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.trip_icon_circle__plane {
  background-image: url("../images/trips/icon__plane.svg");
}
.trip_icon_circle__hotel {
  background-image: url("../images/trips/icon__hotel.svg");
}
.trip_icon_circle__train {
  background-image: url("../images/trips/icon__train.svg");
}

.trip_icon_square {
  width: 44px;
  height: 44px;
  font-size: 0;
  line-height: 0;
  font-style: normal;
  display: inline-block;
  background-color: #fff;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border: 1px solid #1396e4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.trip_icon_square__taxi {
  background-image: url("../images/trips/icon__taxi.svg");
}
.trip_icon_square__train {
  background-image: url("../images/trips/icon__train.svg");
}
.trip_icon_square__hotel {
  background-image: url("../images/trips/icon__hotel.png");
}
.trip_icon_square__plane {
  background-image: url("../images/trips/icon__plane.svg");
}

.trip_logo {
  width: 70px;
  height: 70px;
  display: block;
  overflow: hidden;
  border: 1px solid #cbd8ea;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

.trip_info {
  background: #fff;
  border: 1px solid #cbd8ea;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.trip_info__box {
  padding: 20px 20px;
  border-bottom: 1px solid #cbd8ea;
}
.trip_info__box:last-child {
  border-bottom: none;
}
.trip_info .trip_logo {
  margin-bottom: 15px;
}
.trip_info__row {
  margin-bottom: 30px;
}
.trip_info__route {
  margin-bottom: 10px;
}
.trip_info__route_point {
  color: #565d68;
  font-size: 14px;
  line-height: 18px;
  font-family: "Rubik-Light", sans-serif;
}
.trip_info__route_point strong {
  color: #262c38;
  display: block;
  font-size: 16px;
  font-weight: 400;
  font-family: "Rubik-Medium", sans-serif;
}
.trip_info__route_point span {
  display: block;
}
.trip_info__route_time {
  padding: 10px 0;
  color: #aabad0;
  font-size: 12px;
  line-height: 16px;
  font-family: "Rubik-Light", sans-serif;
}
.trip_info__params {
  font-size: 14px;
  line-height: 18px;
}
.trip_info__params_item {
  margin-bottom: 5px;
  padding-left: 25px;
}
.trip_info__params_item:last-child {
  margin-bottom: 0;
}
.trip_info__params_hand {
  color: #0fa863;
  background: url("../images/trips/icon__hand.png") 0 -1px no-repeat;
}
.trip_info__params_baggage {
  color: #0fa863;
  background: url("../images/trips/icon__baggage.png") 0 -1px no-repeat;
}
.trip_info__company {
  color: #262c38;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 5px;
  font-family: "Rubik-Medium", sans-serif;
}
.trip_info__details {
  margin: 0 -15px 0 0;
  padding: 0;
  color: #565d68;
  font-size: 14px;
  line-height: 18px;
  list-style: none;
  font-family: "Rubik-Light", sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.trip_info__details li {
  padding-left: 10px;
  position: relative;
  margin-right: 15px;
}
.trip_info__details li:before {
  left: 0;
  top: 6px;
  width: 4px;
  height: 4px;
  content: "";
  position: absolute;
  background: #565d68;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
@media (min-width: 576px) {
  .trip_info__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .trip_info .trip_logo {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .trip_info__route {
    margin: 0;
    width: 100%;
    padding-top: 5px;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -moz-order: 3;
    -ms-flex-order: 3;
    order: 3;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .trip_info__route_time {
    top: -5px;
    left: 50%;
    width: 100px;
    padding: 0 0 3px 0;
    margin-left: -50px;
    text-align: center;
    position: absolute;
    border-bottom: 2px solid #cbd8ea;
  }
  .trip_info__route_time:after, .trip_info__route_time:before {
    bottom: -5px;
    width: 8px;
    height: 8px;
    z-index: 10;
    content: "";
    position: absolute;
    background: #cbd8ea;
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
  }
  .trip_info__route_time:after {
    left: -1px;
  }
  .trip_info__route_time:before {
    right: -1px;
  }
  .trip_info__route_finish {
    text-align: right;
  }
  .trip_info__params {
    padding-top: 5px;
    padding-left: 30px;
    width: calc(100% - 70px);
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  .trip_info__params .b-srv_ticket {
    margin-bottom: 10px;
  }
  .trip_info__params .b-srv_ticket:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .trip_info__route {
    width: 360px;
    margin-left: 30px;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-order: 2;
    -ms-flex-order: 2;
    order: 2;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .trip_info__params {
    width: auto;
    padding-left: 0;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -moz-order: 3;
    -ms-flex-order: 3;
    order: 3;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}
@media (min-width: 1200px) {
  .trip_info .trip_logo {
    margin-bottom: 0;
  }
  .trip_info__row {
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
  }
  .trip_info__params {
    padding-left: 30px;
  }
}
@media (min-width: 1300px) {
  .trip_info__route {
    width: 370px;
  }
  .trip_info__params {
    padding-left: 60px;
  }
}

.trip_price {
  padding: 5px 0;
  font-size: 14px;
  line-height: 18px;
  font-family: "Rubik-Light", sans-serif;
}
.trip_price__col {
  margin-bottom: 10px;
}
.trip_price__data {
  color: #262c38;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 2px;
  margin-right: -10px;
  font-family: "Rubik-Medium", sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.trip_price__data strong {
  font-size: 18px;
  font-weight: 400;
  display: inline-block;
}
.trip_price__data span {
  display: inline-block;
  padding: 0 10px 0 10px;
}
.trip_price__text {
  color: #565d68;
}
.trip_price__status {
  color: #262c38;
  font-size: 15px;
  font-family: "Rubik-Medium", sans-serif;
}
.trip_price__policy {
  color: #fb6090;
  margin-bottom: 4px;
}
.trip_price__detail {
  color: #8a9db6;
  padding-right: 20px;
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
}
.trip_price__detail i {
  right: 0;
  top: 50%;
  width: 13px;
  height: 14px;
  margin-top: -11px;
  position: absolute;
  display: inline-block;
}
.trip_price__detail i .ico-svg {
  fill: #8a9db6;
}
.trip_price__detail:hover {
  color: #8a9db6;
  text-decoration: none;
}
.trip_price__note {
  padding-top: 2px;
  color: #8a9db6;
  font-size: 12px;
}
@media (min-width: 576px) {
  .trip_price__data strong {
    font-size: 21px;
  }
}
@media (min-width: 768px) {
  .trip_price {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
  }
  .trip_price__col {
    margin: 0;
  }
  .trip_price__col:last-child {
    padding-left: 15px;
  }
}

.trips_option {
  padding: 20px;
  background: #fff;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid #cbd8ea;
  font-family: "Rubik-Light", sans-serif;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.trips_option__price {
  color: #262c38;
  font-size: 18px;
  line-height: 20px;
  padding: 10px 30px 10px 0;
  font-family: "Rubik-Medium", sans-serif;
}
.trips_option__text strong {
  display: block;
  color: #262c38;
  font-weight: 400;
  margin-bottom: 3px;
  font-family: "Rubik-Medium", sans-serif;
}
.trips_option__text span {
  display: block;
  color: #565d68;
}
@media (min-width: 576px) {
  .trips_option__col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .trips_option__col:last-child {
    padding-top: 15px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .trips_option__text {
    padding-left: 20px;
  }
}
@media (min-width: 768px) {
  .trips_option__col {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
  }
}
@media (min-width: 1300px) {
  .trips_option {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .trips_option__col:last-child {
    padding: 0 0 0 30px;
  }
}

.star_rating {
  font-size: 18px;
  line-height: 18px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.star_rating i {
  color: #cbd8ea;
  margin-right: 2px;
}
.star_rating i.full {
  color: #ed8a19;
}

.hotel_heading .star_rating {
  margin-bottom: 10px;
}
.hotel_heading .circle-rating {
  float: none !important;
}
.hotel_heading__col {
  margin-bottom: 10px;
}
.hotel_heading__name {
  font-size: 21px;
  line-height: 21px;
  color: #262c38;
  font-family: "Rubik-Medium", sans-serif;
}
@media (min-width: 768px) {
  .hotel_heading {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .hotel_heading__col:last-child {
    text-align: right;
  }
}

.hotel_rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.hotel_rating__value {
  color: #262c38;
  font-size: 14px;
  line-height: 18px;
  font-family: "Rubik-Medium", sans-serif;
}

.hotel_reply_link {
  color: #565d68;
  font-size: 14px;
  line-height: 18px;
  display: inline-block;
  text-decoration: none;
  font-family: "Rubik-Light", sans-serif;
}
.hotel_reply_link:hover {
  color: #565d68;
  text-decoration: underline;
}

.hotel_services {
  padding-top: 5px;
}
.hotel_services .b-srv_ticket {
  margin-bottom: 5px;
}

.hotel_number {
  width: 100%;
  max-width: 100%;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 15px;
  font-family: "Rubik-Light", sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.hotel_number__amount {
  width: 60px;
  font-size: 13px;
  line-height: 16px;
  padding: 3px 15px 3px 0;
  display: inline-block;
  border-right: 1px solid #cbd8ea;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -moz-order: 1;
  -ms-flex-order: 1;
  order: 1;
}
.hotel_number__amount strong {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Rubik-Light", sans-serif;
}
.hotel_number__amount span {
  display: block;
}
.hotel_number__name {
  width: 100%;
  color: #565d68;
  font-size: 14px;
  padding: 10px 0;
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
  -moz-order: 3;
  -ms-flex-order: 3;
  order: 3;
  font-family: "Rubik-Medium", sans-serif;
}
.hotel_number__name strong {
  display: block;
  color: #262c38;
  font-size: 16px;
  font-weight: 400;
  font-family: "Rubik-Medium", sans-serif;
}
.hotel_number__name span {
  display: block;
}
.hotel_number__date {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-ordinal-group: 5;
  -webkit-order: 4;
  -moz-order: 4;
  -ms-flex-order: 4;
  order: 4;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.hotel_number__date > li:first-child {
  padding-right: 30px;
}
.hotel_number__date strong {
  color: #262c38;
  display: block;
  font-weight: 400;
  font-family: "Rubik-Medium", sans-serif;
}
.hotel_number__date strong span {
  display: block;
}
.hotel_number__date i {
  color: #565d68;
  display: block;
  font-style: normal;
}
.hotel_number__guest {
  padding-left: 10px;
  font-size: 14px;
  line-height: 18px;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -moz-order: 2;
  -ms-flex-order: 2;
  order: 2;
}
.hotel_number__guest strong {
  color: #262c38;
  display: block;
  font-weight: 400;
  font-family: "Rubik-Medium", sans-serif;
}
.hotel_number__guest span {
  color: #565d68;
  display: block;
}
@media (min-width: 576px) {
  .hotel_number__date strong span {
    display: inline;
  }
}
@media (min-width: 768px) {
  .hotel_number__name {
    padding: 0 15px;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-order: 2;
    -ms-flex-order: 2;
    order: 2;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: calc(100% - 120px);
  }
  .hotel_number__date {
    padding-top: 10px;
  }
  .hotel_number__guest {
    width: 60px;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -moz-order: 3;
    -ms-flex-order: 3;
    order: 3;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}
@media (min-width: 1200px) {
  .hotel_number {
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
  }
  .hotel_number__name {
    width: 280px;
  }
  .hotel_number__date {
    padding: 0 15px;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -moz-order: 3;
    -ms-flex-order: 3;
    order: 3;
  }
  .hotel_number__date strong span {
    display: block;
  }
  .hotel_number__guest {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
    -moz-order: 4;
    -ms-flex-order: 4;
    order: 4;
  }
}
@media (min-width: 1300px) {
  .hotel_number__name {
    width: 300px;
  }
  .hotel_number__date {
    white-space: nowrap;
  }
  .hotel_number__date strong span {
    display: inline;
  }
}

.b-srv_ticket {
  color: #565d68;
  font-size: 13px !important;
  line-height: 18px !important;
  font-family: "Rubik-Light", sans-serif;
}

.progress-bar-container {
  margin-bottom: 60px;
}

.progress-bar__circle {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

.widget_travel_transplants h3 {
  margin-bottom: 15px;
}

.widget_travel_transplants.widget_add_box .btn-group .btn #Layer {
  stroke: #858a92;
}

.widget_travel_transplants .btn-group .btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.widget_travel_transplants .btn-group .btn:first-child {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.widget_travel_transplants .btn-group .btn:last-child {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

/*# sourceMappingURL=update_24_07_19.css.map */
