
.mb_0       { margin-bottom: 0 !important; }
.mb_20      { margin-bottom: 20px !important; }
.mb_30      { margin-bottom: 30px !important; }
.mb_40      { margin-bottom: 40px !important; }


.fs_16      { font-size: 16px !important; }


.btn_long {
	width: 100%;
}
