// Mixins

@import "mixins/gradients";
@import "mixins/vendor-prefixes";
@import "mixins/clearfix";
@import "mixins/flex";
@import "mixins/visibility-mixins";

@import "variables";



.auth_bg {
	background: url('/templates/bt/images/auth_bg.jpg') 50% 50% no-repeat;
	background-size: cover;
}

.recovery_bg {
	background: url('/templates/bt/images/pass_recovery__bg2.jpg') 50% 50% no-repeat;
	background-size: cover;
}

.recovery_bg_two {
	background: url('/templates/bt/images/pass_recovery__bg.jpg') 50% 50% no-repeat;
	background-size: cover;
}

.blue_link {
	color: #1396e4;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	text-decoration: none !important;
	
	&:hover {
		color: #1396e4;
		text-decoration: underline !important;
	}
}

.registration__logo {

	&.logo_reg {
		margin-bottom: 50px;
	}
	
	@media (min-width: 768px) {
		
		&.logo_reg {
			margin-bottom: 90px;
		}
	}
}


.btn_border {
	outline: none;
	color: #1396e4;
	cursor: pointer;
	padding: 17px 30px;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	user-select: none;
	text-align: center;
	position: relative;
	white-space: nowrap;
	background: #fff;
	font-family: 'Rubik', sans-serif;
	text-decoration: none !important;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #1396e4;
	@include border-radius(3px);
	@include transition(.3s);
	
	&:hover {
		color: #fff;
		text-decoration: none !important;
		background: #1396e4;
		@include transition(.3s);
	}
	
	&:active {
		color: #1396e4;
		background: #fff;
	}
	
	
	&:focus,
	&.focus {
		outline: 0;
	}
}

.btn_inline {
	margin: 0 -8px;
	
	a,
	button {
		width: 100%;
	}

	&__col {
		padding: 0 8px;
		margin-bottom: 16px;
	}
	
	@media (min-width: 768px) {
		white-space: nowrap;
		@include flexbox();
		
		&__col {
		
			&:first-child {
				@include flex-grow(1);
			}
		}
		
	}
}
