// Mixins

@import "mixins/gradients";
@import "mixins/vendor-prefixes";
@import "mixins/clearfix";
@import "mixins/flex";
@import "mixins/visibility-mixins";

@import "variables";

@import "utilities";


.registration {
	min-height: 100vh;
	font-family: $font-family-base;
	
	&__content {
		width: 100%;
		text-align: center;
		min-height: 100vh;
		@include flexbox();
		@include flex-direction(column);
	}
	
	&__wrap {
		width: 100%;
		display: block;
		margin: auto 0;
	}
	
	&__inner {
		padding: 30px 20px;
		max-width: 540px;
		margin: 0 auto;
	}
	
	&__bg {
		display: none;
		background-size: cover;
	}
	
	&__logo {
		width: 170px;
		display: block;
		margin: 0 auto 40px auto;
	}
	
	&__text {
		color: #565d68;
		font-family: $font-family-light;
		
		strong {
			font-weight: 400;
			font-family: $font-family-medium;
		}
		
		a {
			color: #565d68;
			text-decoration: underline;
			
			&:hover {
				color: #565d68;
				text-decoration: none;
			}
		}
	}
	
	.error {
		color: brown;
	}
	
	.form-control {
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		appearance: none!important;
		
		&::-ms-expand {
			display: none;
		}
		
		&::-ms-clear {
			display: none;
			width: 0;
			height: 0;
		}
	}
	
	.h1 {
		color: #262c38;
		font-size: 36px;
		line-height: 42px;
		font-family: $font-family-base;
		margin-bottom: 20px;
	}
	
	h2 {
		font-family: $font-family-base;
	}
	
	.h5 {
		font-size: 21px;
		line-height: 30px;
		margin-bottom: 40px;
		font-family: $font-family-light;
	}
	
	.blue_button {
		width: 100%;
	}
	
	.step1 {
	
		.h1 {
			margin-bottom: 30px;
		}
	}
	
	@media (min-width: 768px) {
		@include flexbox();
		min-height: 100vh;
		
		&__content {
			width: 50%;
			text-align: left;
			@include flex-shrink(0);
		}
		
		&__bg {
			width: 50%;
			display: block;
			@include flex-shrink(0);
		}
		
		&__logo {
			margin: 0 0 30px 0;
		}
	}
}

.img_fluid {
	height: auto;
	display: block;
	max-width: 100%;
}

.placeholder{
	left: 25px;
	position: absolute;
	line-height: 58px;
	pointer-events: none;
	@include transition(.3s);
}

.placeholder.hover,
.placeholder.hovers{
	top: -5px;
	left: 20px;
	padding: 0 5px;
	background: #FFF;
	line-height: 100%;
	color: $color-blue;
	@include transition(.3s);
}


//--------------------------------

header{
	display: none;
}


[class*="step"]{
	display: none;
}
[class*="step"].active{
	display: block;
}

.reg-background{
	background: url(/templates/bt/img/registr/reg-step1.jpg) no-repeat;
	background-size: cover;
}
.reg-background.active{
	background: url(/templates/bt/img/registr/reg-step2.jpg) no-repeat;
	background-size: cover;
}
.set-pass .reg-background{
	background: url(/templates/bt/img/registr/reg-step3.jpg) no-repeat;
	background-size: cover;
}
.f-jc{
	-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;
}



.set-pass .step1 .h1 {
	line-height: 50px;
	margin-bottom: 10px;
}
.registration .h5 {
	font-size: 21px;
}
.form-footer{
	font-size: 16px;
}
.registration .form-control,.registration button{
	height: 58px;
}
.registration input,.registration input:focus,.registration input:hover,.registration input:active,
.registration select,.registration select:focus,.registration select:hover,.registration select:active{
	padding-left: 25px;
	background: transparent !important;
	-webkit-box-shadow: 0 0 0 30px white inset !important;
}

form>:first-child >:first-child{
	margin-bottom: 50px;
}
.set-pass form>:first-child >:first-child {
	margin-bottom: 30px;
}
.set-pass >:first-child {
	padding-bottom: 6%;
}
.set-pass .logo{
	margin-bottom: 70px;
}
div.form-group {
	margin-bottom: 20px;
}
.bold{
	font-weight: bold;
}
.m-help {
	margin-bottom: 45px;
}
.form-group>.flex{
	position: relative;
	width: 100%;
}
.form-group>.flex+.flex{
	margin-left: 20px;
}
.registration.active>:first-child{
	padding-bottom: 110px;
	padding-top: 10px;
}
.registration.active .logo{
	margin-bottom: 80px;
}
form>.step2>:first-child{
	margin-bottom: 30px;
}
.r-light{
	font-weight: 300;
}
.r-medium{
	font-weight: 500;
}
.r-regular{
	font-weight: 400;
}


.end-reg .logo{

}
.end-reg .reg-background{
	background: url(/templates/bt/img/registr/reg-step4.jpg) no-repeat;
	background-size: cover;
}
.end-reg .h5{
	line-height: 30px;
	margin-top: 10px;
}

