// Mixins

@import "mixins/gradients";
@import "mixins/vendor-prefixes";
@import "mixins/clearfix";
@import "mixins/flex";
@import "mixins/visibility-mixins";

@import "variables";

@import "utilities";


header {
	@include clearfix();
}

.page {
	width: 100%;
	padding-bottom: 40px;
	border-top: 1px solid #cbd8ea;

	&_heading {
		padding: 30px 0 29px 0;
		border-bottom: 1px solid #cbd8ea;
		
		&_no_border {
			padding-bottom: 15px;
			border-bottom: none;
		}
		
		h1 {
			margin: 0;
			padding: 0;
			font-size: 16px;
			font-weight: 500;
			line-height: 20px;
			font-family: $font-family-medium;
		}
	}
	
	&_toolbar {

	}
	
	
}

.page_toolbar {
	margin-bottom: 10px;
	
	.sort-box {
		margin: 0 !important;
	}
	
	.date_wrapper {
		padding-bottom: 0;
	}
	
	.form_group {
		margin-bottom: 10px;
	}
	
	&__sort {
		@include clearfix();
	}
	
	@media (min-width: 576px) {
		
		&__row {
			margin: 0 -15px;
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(space-between);
		}
		
		&__date {
			width: 60%;
			padding: 0 15px;
		}
		
		&__search {
			width: 40%;
			padding: 0 15px;
		}
		
		&__sort {
			width: 100%;
			padding: 0 15px;
		}
	}
	
	@media (min-width: 768px) {
		
		&__date {
			width: 40%;
		}
		
		&__search {
			width: 60%;
		}
		
	}
	
	@media (min-width: 992px) {
		
		&__row {
			@include flex-wrap(nowrap);
		}
		
		&__date {
			width: 280px;
			@include flex-shrink(0);
		}
		
		
		&__search {
			width: auto;
			@include flex-grow(1);
 		}
		
		&__sort {
			width: 350px;
			@include flex-shrink(0);
		}
		
		.form_group {
			margin-bottom: 0;
		}
	}
	
	@media (min-width: 1200px) {
		
		&__date {
			width: 330px;
		}
		
		&__search {
		
		}
		
		&__sort {
			width: 400px;
		}
	}
	
	@media (min-width: 1300px) {
		
		&__search {
			padding-left: 45px;
		}
		
		&__sort {
			width: 430px;
		}
	}
}

.btn_main {
	outline: none;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	padding: 13px 24px;
	user-select: none;
	text-align: center;
	background: #1396e4;
	white-space: nowrap;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #1396e4;
	@include border-radius(4px);
	@include transition(.3s);
	
	&:hover {
		color: #fff;
		background: #1b86e4;
		border-color: #1b86e4;
		@include transition(.3s);
	}
	
	&:active {
		background: #1396e4;
	}
	
	&:focus,
	&.focus {
		outline: 0;
	}
}

.btn_main_border {
	color: #1396e4;
	background: #fff;
	
	&:hover {
		color: #fff;
		background: #1396e4;
		border-color: #1396e4;
	}
}

.btn_main_shadow {
	@include box-shadow(0px 6px 10px rgba(19,150,228,0.36));
}


.main {
	
	&_row {
	
	}
	
	&_left {
		max-width: 300px;
		min-height: 1px;
	}
	
	&_right {
		padding-top: 30px;
		min-height: 1px;
	}
	
	&_wrap {
		max-width: 925px;
		padding-top: 30px;
	}
	
	@media (min-width: 992px) {
	
		&_row {
			@include flexbox();
			@include justify-content(space-between);
		}
		
		&_left {
			width: 250px;
			@include flex-shrink(0);
		}
		
		&_right {
			width: calc(100% - 280px);
			@include flex-shrink(0);
		}
	}
	
	@media (min-width: 1200px) {
		
		&_left {
			width: 300px;
		}
		
		&_right {
			width: calc(100% - 330px);
		}
	}
	
	
	@media (min-width: 1300px) {
		
		&_right {
			width: calc(100% - 360px);
		}
	}
}

.main_nav {
	font-size: 0;
	line-height: 0;
	border-bottom: 1px solid #cbd8ea;
	@include flexbox();
	@include align-items(center);
	
	a {
		color: #565d68;
		font-size: 14px;
		font-weight: 300;
		line-height: 20px;
		display: inline-block;
		text-decoration: none;
		padding: 5px 5px 10px 5px;
		margin: 0 20px -1px 0;
		border-bottom: 2px solid transparent;
		
		&:hover {
			color: #262c38;
			text-decoration: none;
		}
		
		&.active {
			color: #262c38;
			font-weight: 500;
			border-bottom-color: $color-blue;
		}
		
		&:last-child {
			margin-right: 0;
		}
	}
}


.tour {
	margin-bottom: 50px;

	&__heading {
		margin-bottom: 20px;
		
		font-size: 18px;
		line-height: 18px;
		
		span {
			display: block;
			color: #565d68;
			font-size: 15px;
			margin-bottom: 5px;
		}
		
		strong {
			display: block;
			color: #262c38;
		}
	}
	
	&__nav {
		z-index: 5;
		font-size: 0;
		line-height: 0;
		margin-bottom: -1px;
		position: relative;
		padding-left: 10px;
		@include flexbox();
		
		> a {
			color: #262c38;
			background: #fff;
			font-size: 11px;
			line-height: 15px;
			margin-right: 3px;
			padding: 15px 4px;
			text-align: center;
			position: relative;
			text-decoration: none;
			border: 1px solid #cbd8ea;
			@include border-radius(4px 4px 0 0);
			@include flexbox();
			@include flex-direction(column);
			
			span {
				opacity: 0.4;
				margin: auto 0;;
				@include transition(.3s);
			}
			
			&:hover {
				
				span {
					opacity: 1;
					@include transition(.3s);
				}
			}
			
			&.active {
				background: #f9fdff;
				border-bottom-color: #f9fdff;
				
				span {
					opacity: 1;
				}
			}
		}
	}
	
	&__tab {
		display: none;
		
		&.active {
			display: block;
		}
	}
	
	&__content {
		background: #f9fdff;
		border: 1px solid #cbd8ea;
		@include border-radius(4px);
	}
	
	&__item {
		padding: 25px;
		border-bottom: 1px solid #cbd8ea;
	}
	
	
	&__row {
		
		&_left {
			margin-bottom: 30px;
		}
		
		&__right {
		
		}
	}
	
	&__time {
		padding: 15px 25px 25px 25px;
		color: #565d68;
		font-size: 15px;
		background: #fff;
		line-height: 30px;
		text-align: center;
		border: 1px solid #cbd8ea;
		@include border-radius(3px);
		
		&_text {
			font-size: 15px;
			font-weight: 300;
			line-height: 30px;
		}
		
		&_value {
			color: #262c38;
			font-size: 24px;
			font-weight: 500;
			line-height: 30px;
			margin-bottom: 10px;
		}
		
		&_btn {
			padding: 0;
			margin: 0 -5px;
			list-style: none;
			@include flexbox();
			@include flex-wrap(wrap);
			@include align-items(center);
			@include justify-content(center);
			
			> li {
				padding: 5px;
			}
			
			.btn_main {
				min-width: 160px;
			}
		}
	}
	
	&__info {
		color: #565d68;
		font-size: 14px;
		background: #fff;
		line-height: 20px;
		border: 1px solid #cbd8ea;
		padding: 15px 25px 15px 25px;
		@include border-radius(3px);
		
		&_lead {
			font-size: 15px;
			margin-bottom: 5px;
			
			strong {
				color: #262c38;
				font-weight: 700;
			}
		}
		
		&_text {
			margin: 0 -10px 10px 0;
		}
	}
	
	
	&__routes {
		margin-bottom: 15px;
		
		&_visible {
			display: block;
		}
		
		&_hide {
			display: none;
			
			&.open {
				display: block;
			}
		}
		
		&_toggle {
			font-size: 14px;
			font-weight: 500;
			line-height: 20px;
			color: $color-blue;
			text-decoration: none;
			
			&:hover {
				color: $color-blue;
				text-decoration: underline;
			}
			
			span {
				display: inline;
				
				+ span {
					display: none;
				}
			}
			
			&.open {
				
				span {
					display: none;
					
					+ span {
						display: inline;
					}
				}
			}
		}
	}
	
	&__route {
		width: 100%;
		border: none;
		border-collapse: collapse;
		
		td {
			border: none;
			padding-bottom: 15px;
		}
		
		&_content {
			@include flexbox();
			@include align-items(center);
		}
		
		&_icon {
			width: 44px;
			height: 44px;
			margin-right: 15px;
			position: relative;
			display: inline-block;
			background-color: #fff;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			border: 1px solid $color-blue;
			@include border-radius(3px);
			
			&.icon_plane {
				background-image: url("../images/trips/icon__plane.png");
			}
			
			&.icon_hotel {
				background-image: url("../images/trips/icon__hotel.png");
			}
		}
		
		&_info {
			padding: 2px 0;
			color: #565d68;
			font-size: 14px;
			line-height: 20px;
			
			span {
				display: block;
			}
			
			strong {
				color: #262c38;
			}
		}
		
		&_price {
			color: #262c38;
			font-size: 15px;
			font-weight: 700;
			line-height: 20px;
			text-align: right;
			padding-left: 15px;
			display: inline-block;
			
			&_wrap {
				padding-right: 30px;
				position: relative;
			}
			
			&_change {
				padding-right: 15px;
				position: relative;
			}
		}
		
		&_user {
			color: #262c38;
			font-size: 14px;
			font-weight: 500;
			line-height: 20px;
			
			strong {
				font-weight: 500;
			}
		}
		
		&_status {
			color: #565d68;
			font-size: 14px;
			font-weight: 300;
			line-height: 20px;
			padding-left: 15px;
		}
	}
	
	&__summary {
		padding: 20px 25px 15px 25px;
		
		.button_info {
			right: 0;
			top: 50%;
			margin-top: -11px;
			position: absolute;
		}
	
		&_row {
			position: relative;
			margin-bottom: 15px;
			@include flexbox();
			@include align-items(center);
			@include justify-content(space-between);
		}
		
		&_text {
			font-size: 14px;
			font-weight: 300;
			line-height: 20px;
		}
		
		&_price {
			color: #262c38;
			font-size: 15px;
			font-weight: 700;
			line-height: 20px;
			text-align: right;
			padding-left: 15px;
			
			&_wrap {
				padding-right: 35px;
				position: relative;
			}
		}
		
		&_info {
			margin: 0 -10px;
			white-space: nowrap;
			@include flexbox();
			@include flex-wrap(wrap);
			@include align-items(center);
			@include justify-content(space-between);
		}
		
		&_col {
			padding: 5px 10px;
		}
	}
	
	&__person {
		margin: 0 -5px;
		@include flexbox();
		@include flex-wrap(wrap);
		
		&_item {
			color: #858a92;
			font-size: 14px;
			font-weight: 300;
			line-height: 20px;
			position: relative;
			background: #ffffff;
			margin: 0 5px 10px 5px;
			text-decoration: none;
			display: inline-block;
			border: 1px solid #cbd8ea;
			padding: 13px 15px;
			@include border-radius(4px);
			
			&:before {
				top: 50%;
				left: 10px;
				content: '';
				width: 22px;
				height: 22px;
				padding: 3px 0;
				font-size: 13px;
				line-height: 14px;
				margin-top: -11px;
				text-align: center;
				position: absolute;
				display: inline-block;
				border: 1px solid transparent;
				@include border-radius(50%);
			}
			
			&:hover {
				color: #858a92;
				text-decoration: none;
				border-color: #3991ea;
			}
			
			&.person_alert {
				padding-left: 44px;
				
				&:before {
					color: #d41f30;
					border-color: #d41f30;
					background: url("../images/trips/icon__person_alert.png") 50% 50% no-repeat;
				}
			}
			
			&.person_good {
				padding-left: 44px;
				
				&:before {
					color: #259e4d;
					border-color: #259e4d;
					background: url("../images/trips/icon__person_good.png") 50% 50% no-repeat;
				}
			}
		}
	}
	
	&__calculation {
		width: 100%;
		color: #565d68;
		font-size: 14px;
		font-weight: 300;
		line-height: 20px;
		margin-bottom: 15px;
		border-collapse: collapse;
		
		td {
			padding: 0 0 10px 0;
		}
	}
	
	&__docs {
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 25px;
		
		&:last-child {
			margin-bottom: 0;
		}
	
		&_title {
			color: #262c38;
			font-weight: 500;
			margin-bottom: 10px;
		}
		
		&_list {
			margin: 0;
			padding: 0;
			list-style: none;
		
			li {
				margin-bottom: 5px;
				
				&:last-child {
					margin-bottom: 0;
				}
			
				 a {
					 color: #8a9db6;
					 text-decoration: none;
					 @include flexbox();
					 @include align-items(center);
					 
					 &:hover {
						 color: #1396e4;
						 text-decoration: none;
					 }
					 
					 i {
						 width: 30px;
						 display: inline-block;
						 @include flex-shrink(0);
					 }
					
					 span {
						 padding-left: 12px;
						 display: inline-block;
					 }
				 }
			}
		}
	}
	
	.button_info {
		right: 0;
		top: 50%;
		margin-top: -11px;
		position: absolute;
	}
	
	@media (min-width: 576px) {
		&__nav {
			
			a {
				font-size: 13px;
				padding: 15px 5px;
			}
		}
	}
	
	@media (min-width: 768px) {
		
		&__nav {
			padding-left: 25px;
			padding-right: 25px;
			
			a {
				width: 25%;
				font-size: 14px;
				padding: 15px 10px;
			}
		}
		
		
		&__summary {
			
			&_info {
				@include flex-wrap(nowrap);
			}
			
		}
	}
	
	@media (min-width: 1200px) {
		
		&__nav {
			padding-left: 25px;
			padding-right: 25px;
			
			> a {
				width: 25%;
				font-size: 15px;
			}
		}
		
		&__row {
			@include flexbox();
			@include justify-content(space-between);
			
			&_left {
				width: 400px;
				margin-bottom: 0;
				@include flex-shrink(0);
			}
			
			&_right {
				padding-left: 30px;
				@include flex-grow(1);
			}
		}
	}
	
	@media (min-width: 1300px) {
		
		&__row {
			
			&_left {
				width: 430px;
			}
			
			&_right {
				padding-left: 50px;
			}
		}
	}
}

.arrow_change {
	top: 50%;
	right: 0;
	width: 8px;
	height: 12px;
	font-size: 0;
	line-height: 0;
	margin-top: -6px;
	display: inline-block;
	position: absolute;
	
	&_up {
		background: url("../images/trips/icon__arrow_up.png") 0 0 no-repeat;
	}
}

.integration {
	margin-bottom: 30px;
	border: 1px solid #cbd8ea;
	padding: 25px 25px 30px 25px;
	@include border-radius(5px);
	@include flexbox();
	@include flex-direction(column);
	
	&_row {
		padding-top: 30px;
	}
	
	&__title {
		color: #262c38;
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 20px;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
	
		strong {
			padding-right: 15px;
			display: inline-block;
		}
		
		a {
			font-size: 14px;
			color: $color-blue;
			white-space: nowrap;
			display: inline-block;
			text-decoration: none;
			
			&:hover {
				color: $color-blue;
				text-decoration: underline;
			}
		}
	}
	
	&__text {
		color: #565d68;
		font-size: 15px;
		font-weight: 300;
		line-height: 22px;
		padding-bottom: 10px;
		@include flex-grow(1);
		
		p {
			padding: 0;
			margin: 0 0 10px 0;
		}
		
		ul {
			margin: 10px;
			
			li {
				margin-bottom: 10px;
				
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	
	&__button {
	
	}
	
	@media (min-width: 992px) {
		width: calc(50% - 15px);
		
		&_row {
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(space-between);
		}
	}
}