// Mixins

@import "mixins/gradients";
@import "mixins/vendor-prefixes";
@import "mixins/clearfix";
@import "mixins/flex";
@import "mixins/visibility-mixins";

@import "variables";

.side_open {
	right: 0 !important;
	@include transition(.3s);
}

.open_modal {
	overflow: hidden !important;
}

#trip_date_start {
	padding-left: 50px !important;
}

.mb_5 {
	margin-bottom: 5px !important;
}

.mb_15 {
	margin-bottom: 15px !important;
}

.btn_main_text {
	color: #8a9db6;
	background: transparent;
	border-color: transparent;
	
	&:hover {
		color: #000;
		background: transparent;
		border-color: transparent;
	}
}

.btn_radio {
	font-size: 0;
	line-height: 0;
	font-weight: 400;
	display: inline-block;
	
	input {
		display: none;
	}
	
	span {
		outline: none;
		color: #858a92;
		cursor: pointer;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		padding: 13px 24px;
		user-select: none;
		text-align: center;
		white-space: nowrap;
		text-decoration: none;
		display: inline-block;
		vertical-align: middle;
		background: transparent;
		border: 1px solid #cbd8ea;
		font-family: $font-family-base;
		@include transition(.3s);
		
		&:hover {
			color: #858a92;
			background: #f5f5f5;
			border-color: #cbd8ea;
			@include transition(.3s);
		}
		
		&:active {
			background: transparent;
		}
		
		&:focus,
		&.focus {
			outline: 0;
		}
	}
	
	input:checked + span {
		color: #fff;
		background: #1396e4;
		border-color: #1396e4;
		
		&:hover {
			color: #fff;
			background: #1396e4;
			border-color: #1396e4;
		}
		
		&:active {
			background: #1396e4;
		}
	}
}


.btn_group {
	font-size: 0;
	line-height: 0;
	@include flexbox();
	@include align-items(center);
	
	
	.btn_radio {
		border-left: none;
		border-right: none;
		@include border-radius(0px);
		
		&:first-child {
			border-left-width: 1px;
			@include border-radius(3px 0 0 3px);
		}
		
		&:last-child {
			border-right-width: 1px;
			@include border-radius(0 3px 3px 0);
		}
	}
}



.form_checkbox {
	font-size: 0;
	line-height: 0;
	font-weight: 400;
	display: inline-block;
	
	input {
		display: none;
	}
	
	span {
		cursor: pointer;
		color: #565d68;
		font-size: 14px;
		line-height: 20px;
		padding-top: 1px;
		padding-left: 35px;
		display: inline-block;
		position: relative;
		font-family: $font-family-light;
		
		&:before {
			top: 0;
			left: 0;
			z-index: 1;
			width: 20px;
			height: 20px;
			content: '';
			position: absolute;
			display: inline-block;
			border: 1px solid #cbd8ea;
			@include border-radius(3px);
		}
		
		&:after {
			left: 7px;
			top: 4px;
			width: 4px;
			height: 8px;
			z-index: 5;
			box-sizing: unset;
			content: '';
			opacity: 0;
			visibility: hidden;
			position: absolute;
			border: solid #ffffff;
			border-width: 0 2px 2px 0;
			transform: rotate(45deg);
		}
	}
	
	input:checked + span {
		
		&:before {
			background: #1396e4;
		}
		
		&:after {
			opacity: 1;
			visibility: visible;
		}
	}
}

.form_switch {
	font-size: 0;
	line-height: 0;
	display: inline-block;
	
	
	input {
		display: none;
	}
	
	span {
		width: 54px;
		height: 30px;
		cursor: pointer;
		position: relative;
		background: #848c97;
		display: inline-block;
		@include border-radius(15px);
		@include transition(.2s);
		
		&:before {
			top: 50%;
			left: 5px;
			z-index: 10;
			width: 18px;
			height: 18px;
			content: '';
			margin-top: -9px;
			position: absolute;
			background: #fff;
			@include border-radius(50%);
			@include transition(.3s);
		}
	}
	
	input:checked + span {
		background: #1396e4;
		@include transition(.2s);
		
		&:before {
			left: calc(100% - 23px);
			@include transition(.3s);
		}
	}
}

.form_control {
	width: 100%;
	display: inline-block;
	border-radius: 4px;
	background-color: #eef7fd;
	border: 1px solid #cbd8ea;
	color: #000000 !important;
	
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none !important;
	
	&:hover {
		border-color: #cbd8ea;
	}
	
	&:focus {
		border-color: #3f4247;
	}
}

.date_wrapper {
	padding-bottom: 0;
	
	input {
		width: 100%;
		height: 53px;
		background-color: #ffffff;
		border: 1px solid #cbd8ea;
		font-size: 14px;
		line-height: 30px;
		color: #565d68;
		font-family: $font-family-light;
		@include border-radius(4px);
	}
}

.user_search {
	margin-bottom: 20px;
	
	.form_control {
			background-color: #ffffff !important;
		border: 1px solid #cbd8ea;
		@include placeholder(#565d68 !important);
		
		&__icon_box {
			padding-left: 50px !important;
			background-repeat: no-repeat;
			background-position: 10px 50%;
			background-image: url("../images/icon/box.svg");
		}
	}
	
	.form_group {
		margin-bottom: 20px;
	}
	
	&__right {
		@include flexbox();
		@include justify-content(flex-end);
	}
	
	@media (min-width: 576px) {
		
		&__left {
			margin: 0 -5px;
			@include flexbox();
			@include align-items(center);
		}
		
		&__col {
			padding: 0 5px;
			width: 50%;
		}
	}
	
	@media (min-width: 768px) {
		margin-bottom: 40px;
	
		&__row {
			@include flexbox();
			@include align-items(center);
			@include justify-content(space-between);
		}
		
		&__left {
			margin: 0;
		}
		
		&__col {
			padding: 0 30px 0 0;
		}
		
		.form_group {
			margin-bottom: 0;
		}
	}
	
	@media (min-width: 992px) {
		
		
		&__col {
			
			&:first-child {
				width: 420px;
			}
			
			&:last-child {
				width: 330px;
				@include flex-shrink(0);
			}
		}
	}
	
	@media (min-width: 1200px) {
		
		&__col {
			
			&:first-child {
				width: 455px;
			}
			
			&:last-child {
				width: 330px;
				@include flex-shrink(0);
			}
		}
	}
}

.user_filter {
	padding: 0 !important;
	@include clearfix();
}

.user_count {
	padding: 20px 0;
	float: none !important;
	
	p {
		margin-bottom: 0 !important;
	}
}


.table_user {
	padding: 0 5px;
	border: 1px solid #cbd8ea !important;
	
	h3 {
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
		font-family: $font-family-medium;
		margin-bottom: 0;
		
		a {
			color: #262c38;
			cursor: pointer;
			text-decoration: none;
			border-bottom: 1px dashed transparent;
			
			&:hover {
				color: #1396e4 !important;
				text-decoration: none;
				border-bottom-color: #1396e4;
			}
		}
	}
	
	td {
	//	white-space: nowrap;
		
		&:first-child {
			width: 100%;
			white-space: normal;
		}
	}
}


.table_adaptive {
	width: 100%;
	
	th,
	td {
		padding: 20px;
		color: #565d68;
		font-size: 14px;
		line-height: 18px;
		font-family: $font-family-light;
		border-bottom: 1px solid #cbd8ea;
	}
	
	@media (max-width: 991px) {
		display: block;
		
		tbody {
			display: block;
		}
		
		thead {
		
			tr {
				display: none;
			}
		}
		
		th {
			display: none;
		}
		
		tr {
			display: block;
			background: #fff;
			margin-bottom: 20px;
			border: 1px solid #cbd8ea;
			border-bottom: none;
		}
		
		td {
			text-align: right;
			@include flexbox();
			@include justify-content(space-between);
			
			&:before {
				display: block;
				text-align: left;
				padding-right: 20px;
				white-space: nowrap;
				margin-bottom: 5px;
				content: attr(data-label);
				font-family: $font-family-medium;
			}
		}
	}
	
	@media (max-width: 575px) {
		display: block;
		
		th {
			display: none;
		}
		
		td {
			text-align: left;
			@include flex-wrap(wrap);
			
			&:before {
				width: 100%;
			}
		}
	}
}




// Modal

.user {

	&__header {
		padding: 22px 20px;
		background-color: #f9fdff;
		
		h2 {
			margin: 0;
			padding: 0;
		}
	}
	
	&__box {
		color: #565d68;
		padding: 20px 20px;
		border-top: 1px solid #cbd8ea;
		
		h4 {
			color: #262c38;
			font-size: 16px;
			font-weight: 400;
			line-height: 20px;
			margin-bottom: 5px;
			font-family: $font-family-medium;
		}
		
		p {
			color: #565d68;
		}
		
		.form_group {
			margin-bottom: 10px;
		}
		
		.form_control {
			height: 50px;
			padding: 14px 20px;
		}
	}
	
	&__info {
		margin-bottom: 25px;
		@include flexbox();
		@include align-items(center);
		
		&_avatar {
			width: 60px;
			height: 60px;
			overflow: hidden;
			border: 1px solid #cbd8ea;
			@include flex-shrink(0);
			@include border-radius(50%);
		}
		
		&_name {
			color: #262c38;
			font-size: 16px;
			line-height: 20px;
			padding-left: 10px;
			font-family: $font-family-medium;
			@include flex-grow(1);
		}
	}
	
	&__staff {
		color: #565d68;
		font-size: 16px;
		line-height: 22px;
		max-width: 280px;
		font-family: $font-family-light;
	}
	
	&__row {
		@include flexbox();
		@include align-items(flex-start);
		@include justify-content(space-between);
		
		&_left {
			max-width: 400px;
		}
		
		&_right {
			text-align: right;
		}
	}
	
	&__contacts {
		margin: 0;
		padding: 0;
		list-style: none;
		
		> li {
			height: auto !important;
			padding: 0 !important;
			margin: 0 0 8px 0 !important;
			
			&:last-child {
				margin-bottom: 0 !important;
			}
		}
	}
	
	&__text {
		color: #565d68;
		font-size: 15px;
		line-height: 24px;
	}
	
	&__list {
		margin: 0 0 10px 0 !important;
		padding: 0;
		list-style: none;
		font-size: 14px !important;
		line-height: 18px !important;
		
		> li {
			color: #565d68 !important;
			position: relative;
			height: auto !important;
			padding: 0 0 0 15px !important;
			margin: 0 0 2px 0 !important;
			
			&:before {
				left: 0;
				top: 6px;
				content: '';
				width: 4px;
				height: 4px;
				background: #565d68;
				position: absolute;
				display: inline-block;
				@include border-radius(50%);
			}
			
			&:last-child {
				margin-bottom: 0 !important;
			}
		}
	}
	
	.btn_line {
		background: transparent;
		padding: 12px 14px !important;
		color: #858a92 !important;
		font-size: 14px !important;
		line-height: 20px !important;
		border: 1px solid #cbd8ea !important;
		font-family: $font-family-light !important;
		
		&:hover {
			color: #000 !important;
			text-decoration: none !important;
			background: #cbd8ea !important;
		}
	}
	
	@media (min-width: 768px) {
		
		&__header {
			padding: 37px 60px 37px 60px;
		}
		
		&__box {
			padding: 30px 60px;
		}
		
		&__info {
			
			&_avatar {
				width: 80px;
				height: 80px;
			}
			
			&_name {
				font-size: 20px;
				line-height: 26px;
				padding-left: 20px;
			}
		}
	}
	
	@media (min-width: 992px) {
		
		&__header {
			padding: 37px 60px 37px 60px;
		}
	}
}

.user_action {
	font-size: 13px !important;
	line-height: 17px !important;
	margin: 0 !important;
	padding: 0 !important;
	color: #1396e4 !important;
	text-decoration: none !important;
	font-family: $font-family-medium !important;
	
	@media (min-width: 768px) {
		font-size: 15px !important;
		line-height: 19px !important;
	}
}

.user_phone,
.user_email {
	margin: 0 !important;
	display: inline-block !important;
	padding: 0 0 0 33px !important;
	color: #565d68 !important;
	font-size: 13px !important;
	line-height: 20px !important;
	text-decoration: none !important;
	font-family: $font-family-light !important;
	
	&:hover {
		color: #565d68 !important;
		text-decoration: none !important;
	}
	
	@media (min-width: 768px) {
		font-size: 16px !important;
	}
}


.user_email {
	background: url("../images/icon/icon__email.png") 0 50% no-repeat;
}

.user_phone {
	background: url("../images/icon/icon__phone.png") 0 50% no-repeat;
}

.user_link {
	display: inline !important;
	font-size: 15px !important;
	line-height: 18px !important;
	margin: 0 !important;
	padding: 0 !important;
	color: #1396e4 !important;
	text-decoration: none !important;
	border-bottom: 1px dashed #1396e4;
	font-family: "Rubik-Medium", sans-serif !important;
	
	&:hover {
		color: #1396e4 !important;
		text-decoration: none !important;
		border-bottom-color: #1396e4;
	}
}

.user_buttons {
	margin: 0 -5px;
	@include flexbox();
	@include flex-wrap(wrap);
	
	&__item {
		padding: 5px;
	}
}