// Mixins

@import "mixins/gradients";
@import "mixins/vendor-prefixes";
@import "mixins/clearfix";
@import "mixins/flex";
@import "mixins/visibility-mixins";

@import "variables";

.pl_0 {
	padding-left: 0 !important;
}

.pl_lg_15 {
	@media (min-width: 1200px) {
		padding-left: 15px;
	}
}

.mb_30 {
	margin-bottom: 30px !important;
}

.pt_20 {
	padding-top: 20px !important;
}

.text-nowrap-xl {

	@media (min-width: 1200px) {
		white-space: nowrap;
	}
}

.trip_icon_square {

	&__bus  {
		background-image: url('../images/trips/icon__bus.svg');
	}
}

.download {
	margin: 0 -3px;
	font-size: 0;
	line-height: 0;
	@include flexbox();
	@include align-items(center);
	@include justify-content(flex-end);

	&__label {
		color: #262c38;
		font-size: 14px;
		line-height: 20px;
		white-space: nowrap;
		margin: 0 6px 0 3px;
		display: inline-block;
		font-family: $font-family-medium;
	}

	&__item {
		color: #fff;
		margin: 0 3px;
		font-size: 13px;
		line-height: 19px;
		padding: 3px 10px;
		@include border-radius(4px);

		&_pdf {
			background: #e2574c;
		}

		&_xls {
			background: #84bd5a;
		}

		&_csv {
			background: #f36fa0;
		}
	}
}

.page_toolbar {

	&__download {
		width: 100%;
		padding: 5px 15px;
		@include justify-content(flex-end);
	}

	@media (min-width: 992px) {

		&__download {
			width: auto;
		}
	}

	@media (min-width: 1200px) {

		&__download {
			width: 350px;
		}
	}

	@media (min-width: 1280px) {

		&__download {
			width: 480px;
		}
	}
}

.infobox {
	border: 1px solid #cbd8ea;
	@include border-radius(3px);

	&__top {
		padding: 25px;
		border-bottom: 1px solid #cbd8ea;

		&_row {
			@include flexbox();
			@include align-items(flex-start);
		}
	}

	&__bottom {
		padding: 25px;
		color: #565d68;
		font-size: 15px;
		line-height: 20px;
	}

	&__icon {
		width: 44px;
		height: 44px;
		@include flex-shrink(0);
	}

	&__content {
		font-size: 15px;
		line-height: 20px;
		position: relative;
		@include flexbox();
		@include flex-grow(1);
		@include flex-wrap(wrap);
		@include align-items(center);

		&_col {
			width: 100%;
			padding-left: 20px;
			margin-bottom: 5px;

			span {
				display: block;
				color: #565d68;
			}

			strong {
				display: block;
				color: #262c38;
				font-weight: 400;
				font-family: $font-family-medium;
			}
		}
	}

	&__data {
		margin: 0;
		padding: 0;
		font-size: 15px;
		line-height: 20px;
		list-style: none;
		@include flexbox();

		> li {
			margin-right: 20px;

			&:last-child {
				margin-right: 0;
			}

			span {
				display: block;
				color: #565d68;
			}

			strong {
				display: block;
				color: #262c38;
				font-weight: 400;
				font-family: $font-family-medium;
			}
		}
	}

	@media (min-width: 576px) {

		&__top {

			&_row {
				@include flexbox();
				@include align-items(center);
			}
		}

		&__content {
			@include flex-wrap(nowrap);

			&_col {
			//	width: 50%;
				margin-bottom: 0;
				white-space: nowrap;
			}
		}

		&__data {

			> li {
				margin-right: 50px;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	@media (min-width: 992px) {

	}
}
