// Mixins

@import "mixins/gradients";
@import "mixins/vendor-prefixes";
@import "mixins/clearfix";
@import "mixins/flex";
@import "mixins/visibility-mixins";

@import "variables";

.ico-svg {
	position: relative;
	display: inline-block;
	width: 100%;
	height: auto;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}


.pt_20 {
	padding-top: 20px;
}

.btn_main {
	
	&.btn_main_sm {
		padding: 11px 18px;
	}
	
	&.btn_main_wrap {
		white-space: normal;
	}
}

.box_border_white {
	padding: 20px 20px;
	border: 1px solid #cbd8ea;
	@include border-radius(4px);
	
	@media (min-width: 768px) {
		padding: 30px 30px;
	}
}

.box_border_blue {
	padding: 20px 20px;
	background: #f9fdff;
	border: 1px solid #cbd8ea;
	@include border-radius(4px);
	
	@media (min-width: 768px) {
		padding: 30px 30px;
	}
}


.trip_bar {
	color: #8a9db6;
	font-size: 14px;
	font-weight: 300;
	line-height: 18px;
	position: relative;
	background: #f9fdff;
	margin-bottom: 25px;
	border: 1px solid #cbd8ea;
	@include border-radius(3px);
	
	&__info {
		padding: 15px 50px 14px 20px;
	}
	
	&__status {
		padding: 11px 15px 10px 20px;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
		
		&_text {
			padding-right: 8px;
		}
	}
	
	&__delete {
		top: 0;
		right: 0;
		z-index: 10;
		font-size: 0;
		line-height: 0;
		position: absolute;
		
		a {
			width: 48px;
			height: 48px;
			padding: 16px 0;
			cursor: pointer;
			text-align: center;
			background: #cbd8ea;
			display: inline-block;
			@include border-radius(3px);
			
			&:hover {
				
				svg {
					fill: #1396e4;
				}
			}
		}
	}
	
	.checkmark_box {
		right: 0 !important;
		margin: 0 !important;
		position: static !important;
	}
	
	@media (min-width: 768px) {
		padding-right: 50px;
		@include flexbox();
		@include justify-content(space-between);
		
		&__info {
			padding-right: 10px;
		}
	}
}


.trip_header {
	font-size: 0;
	line-height: 0;
	text-align: center;
	position: relative;
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #cbd8ea;

	&__date {
		color: #565d68;
		font-size: 15px;
		line-height: 20px;
		padding-left: 22px;
		display: inline-block;
		background: url("../images/trips/icon__calendag.svg") 0 50% no-repeat;
	}
	
	&__title {
		color: #262c38;
		font-size: 24px;
		font-weight: 400;
		line-height: 30px;
		margin-bottom: 5px;
		font-family: $font-family-medium;
	}
	
	@media (min-width: 768px) {
		font-size: 30px;
		line-height: 36px;
		
		&__title {
			margin-bottom: 0;
		}
	}
	
	@media (min-width: 1200px) {
		
		&__date {
			left: 0;
			top: 5px;
			position: absolute;
		}
		
	}
	
	@media (min-width: 1300px) {
	
	}
}

.trip_update {
	font-size: 0;
	line-height: 0;
	margin: 0 auto;
	max-width: 540px;
	overflow: hidden;
	border: 1px solid #cbd8ea;
	@include border-radius(3px);
	@include flexbox();
	
	&__heading {
		color: #262c38;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		text-align: center;
		margin-bottom: 15px;
		font-family: $font-family-medium
	}
	
	&__btn {
		width: 25%;
		margin: 0;
		padding: 0;
		cursor: pointer;
		display: inline-block;
		border-left: 1px solid #cbd8ea;
		
		&:first-child {
			border-left: none;
		}
		
		input {
			display: none;
		}
		
		input:checked + .trip_update__elem {
			color: #fff;
			background: #1396e4;
			
			.cls-1 {
				stroke: #ffffff;
			}
			
			.cls-2 {
				fill: #ffffff;
				stroke: #ffffff;
			}
		}
	}
	
	&__elem {
		width: 100%;
		color: #858a92;
		padding: 10px 10px;
		text-align: center;
		display: inline-block;
		
		i {
			height: 25px;
			display: inline-block;
		}
		
		span {
			display: block;
			text-align: center;
			font-size: 13px;
			line-height: 15px;
			font-family: $font-family-light;
		}
		
		.cls-1 {
			fill: none;
			stroke: #898991;
			stroke-linecap: round;
			stroke-linejoin: round;
			stroke-width: 0.85px;
		}
		
		.cls-2 {
			fill: #898991;
			stroke: #898991;
			stroke-linecap: round;
			stroke-linejoin: round;
			stroke-width: 0.22px;
			fill-rule: evenodd;
		}
	}
	
	@media (min-width: 576px) {
		
		&__elem {
			height: 48px;
			@include flexbox();
			@include align-items(center);
			@include justify-content(center);
			
			i {
				height: auto;
				margin-right: 10px;
			}
		}
	}
}


.trip_go {
	color: #565d68;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 30px;
	background: #f9fdff;
	border: 1px solid #cbd8ea;
	font-family: $font-family-light;
	@include border-radius(5px);
	
	&__item {
		padding: 20px 20px;
		position: relative;
		border-bottom: 1px solid #cbd8ea;
		
		&:last-child {
			border-bottom: none;
		}
		
		p {
			margin: 0;
			padding: 0;
		}
	}
	
	&__title {
		color: #262c38;
		font-size: 16px;
		line-height: 24px;
		margin-bottom: -10px;
		padding: 20px 20px 0 20px;
		font-family: $font-family-medium;
	}
	
	&__user {
		font-family: $font-family-medium;
		
		a {
			color: $color-blue;
			text-decoration: none;
			
			&:hover {
				color: $color-blue;
				text-decoration: underline;
			}
		}
	}
	
	&__boss {
		color: #8a9db6;
		
		a {
			color: #1396e4;
			text-decoration: none;
			
			&:hover {
				color: #1396e4;
				text-decoration: underline;
			}
		}
	}
	
	&__remove {
		color: #8a9db6;
		font-size: 14px;
		line-height: 18px;
		margin-top: 10px;
		white-space: nowrap;
		display: inline-block;
		text-decoration: none;
		font-family: $font-family-light;
		
		&:hover {
			color: #8a9db6;
			text-decoration: underline;
		}
	}
	
	&__status {
		color: #859db9;
		font-size: 15px;
		line-height: 19px;
		display: inline-block;
		margin-top: 10px;
		padding: 8px 25px 8px 25px;
		background-color: #ffffff;
		background-repeat: no-repeat;
		background-position: 15px 50%;
		font-family: $font-family-base;
		@include border-radius(4px);
		@include box-shadow(0px 5px 15px 0px rgba(0, 0, 0, 0.05));
		
		&_coordination {
			padding-left: 45px;
			background-image: url("../images/trips/icon__refresh.svg");
		}
		
		&_agreed {
			padding-left: 45px;
			background-image: url("../images/trips/icon__check.svg");
		}
		
		&_denied {
			padding-left: 45px;
			color: #fb6090;
			background-image: url("../images/trips/icon__close.svg");
		}
		
		&_not {
			padding-left: 45px;
			background-image: url("../images/trips/icon__user_good.svg");
		}
	}
	
	@media (min-width: 768px) {
		
		&__item {
			padding: 20px 30px 20px 30px;
		}
		
		&__title {
			padding: 20px 25px 0 30px;
		}
	}
	
	@media (min-width: 1200px) {
		
		&__item {
			padding: 20px 200px 20px 30px;
		}
		
		&__remove {
			top: 25px;
			right: 30px;
			margin-top: 0;
			position: absolute;
		}
		
		&__status {
			right: 0;
			bottom: 16px;
			margin-top: 0;
			position: absolute;
			@include border-radius(4px 0 0 4px);
		}
	}
}

.trip_summary {
	color: #565d68;
	font-size: 15px;
	line-height: 30px;
	text-align: center;
	margin-bottom: 30px;
	background: #f9fdff;
	border: 1px solid #cbd8ea;
	padding: 25px 15px 20px 15px;
	font-family: $font-family-light;
	@include border-radius(4px);
	
	&__title {
		color: #565d68;
	}
	
	&__price {
		color: #262c38;
		font-size: 24px;
		line-height: 30px;
		margin-bottom: 20px;
		font-family: $font-family-medium;
	}
	
	&__button {
		margin-bottom: 15px;
	}
	
	&__reset {
		border: none;
		outline: none;
		color: #8a9db6;
		font-size: 14px;
		line-height: 20px;
		padding: 5px 10px;
		text-decoration: none;
		background: transparent;
		font-family: $font-family-light;
		
		&:hover {
			color: #8a9db6;
			text-decoration: underline;
		}
	}
}

.trip_stage {
	padding-bottom: 10px;
	position: relative;
	
	&:before {
		bottom: 0;
		top: 44px;
		left: 23px;
		z-index: 1;
		content: '';
		display: block;
		position: absolute;
		border-right: 1px dashed $color-blue;
	}
	
	&:last-child {
		
		&:before {
			display: none;
		}
	}
	
	&__heading {
		z-index: 20;
		color: #262c38;
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 10px;
		position: relative;
		font-family: $font-family-medium;
		@include flexbox();
		@include align-items(center);
		
		span {
			padding-left: 15px;
			display: inline-block;
		}
		
		.button_info {
			margin-left: 10px;
			@include flex-shrink(0);
		}
	}
	
	&__wrap {
		margin-left: 35px;
	}
	
	@media (min-width: 576px) {
		
		&__wrap {
			margin-left: 65px;
		}
	}
}

.trip_icon_circle {
	width: 48px;
	height: 48px;
	font-size: 0;
	line-height: 0;
	font-style: normal;
	display: inline-block;
	background-color: #fff;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	border: 1px solid $color-blue;
	@include border-radius(50%);
	@include flex-shrink(0);
	
	&__plane {
		background-image: url('../images/trips/icon__plane.svg');
	}
	
	&__hotel {
		background-image: url('../images/trips/icon__hotel.svg');
	}
	
	&__train {
		background-image: url('../images/trips/icon__train.svg');
	}
}

.trip_icon_square {
	width: 44px;
	height: 44px;
	font-size: 0;
	line-height: 0;
	font-style: normal;
	display: inline-block;
	background-color: #fff;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	border: 1px solid $color-blue;
	@include border-radius(3px);
	@include flex-shrink(0);
	
	&__taxi {
		background-image: url('../images/trips/icon__taxi.svg');
	}
	
	&__train {
		background-image: url('../images/trips/icon__train.svg');
	}
	
	&__hotel {
		background-image: url('../images/trips/icon__hotel.png');
	}
	
	&__plane {
		background-image: url('../images/trips/icon__plane.svg');
	}
}

.trip_logo {
	width: 70px;
	height: 70px;
	display: block;
	overflow: hidden;
	border: 1px solid #cbd8ea;
	@include border-radius(3px);
}



.trip_info {
	background: #fff;
	border: 1px solid #cbd8ea;
	@include border-radius(4px);
	
	&__box {
		padding: 20px 20px;
		border-bottom: 1px solid #cbd8ea;
		
		&:last-child {
			border-bottom: none;
		}
	}
	
	.trip_logo {
		margin-bottom: 15px;
	}
	
	&__row {
		margin-bottom: 30px
	}
	
	&__route {
		margin-bottom: 10px;
		
		&_point {
			color: #565d68;
			font-size: 14px;
			line-height: 18px;
			font-family: $font-family-light;
			
			strong {
				color: #262c38;
				display: block;
				font-size: 16px;
				font-weight: 400;
				font-family: $font-family-medium;
			}
			
			span  {
				display: block;
			}
		}
		
		&_time {
			padding: 10px 0;
			color: #aabad0;
			font-size: 12px;
			line-height: 16px;
			font-family: $font-family-light;
		}
	}
	
	&__params {
		font-size: 14px;
		line-height: 18px;
		
		&_item {
			margin-bottom: 5px;
			padding-left: 25px;
			
			&:last-child {
				margin-bottom: 0;
			}
		}
	
		&_hand {
			color: #0fa863;
			background: url("../images/trips/icon__hand.png") 0 -1px no-repeat;
		}
		
		&_baggage {
			color: #0fa863;
			background: url("../images/trips/icon__baggage.png") 0 -1px no-repeat;
		}
	}
	
	&__company {
		color: #262c38;
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 5px;
		font-family: $font-family-medium;
	}
	
	&__details {
		margin: 0 -15px 0 0;
		padding: 0;
		color: #565d68;
		font-size: 14px;
		line-height: 18px;
		list-style: none;
		font-family: $font-family-light;
		@include flexbox();
		@include flex-wrap(wrap);
		
		li {
			padding-left: 10px;
			position: relative;
			margin-right: 15px;
			
			&:before {
				left: 0;
				top: 6px;
				width: 4px;
				height: 4px;
				content: '';
				position: absolute;
				background: #565d68;
				display: inline-block;
				@include border-radius(50%);
			}
		}
	}
	
	@media (min-width: 576px) {
		
		&__row {
			@include flexbox();
			@include flex-wrap(wrap);
		}
		
		.trip_logo {
			@include order(1);
			@include flex-shrink(0);
		}
		
		&__route {
			margin: 0;
			width: 100%;
			padding-top: 5px;
			@include order(3);
			position: relative;
			@include flexbox();
			@include justify-content(space-between);
			
			&_time {
				top: -5px;
				left: 50%;
				width: 100px;
				padding: 0 0 3px 0;
				margin-left: -50px;
				text-align: center;
				position: absolute;
				border-bottom: 2px solid #cbd8ea;
				
				&:after,
				&:before {
					bottom: -5px;
					width: 8px;
					height: 8px;
					z-index: 10;
					content: '';
					position: absolute;
					background: #cbd8ea;
					display: inline-block;
					@include border-radius(50%);
				}
				
				&:after {
					left: -1px;
				}
				
				&:before {
					right: -1px;
				}
			}
			
			&_finish {
				text-align: right;
			}
		}
		
		&__params {
			padding-top: 5px;
			padding-left: 30px;
			width: calc(100% - 70px);
			@include order(2);
			
			.b-srv_ticket {
				margin-bottom: 10px;
				
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		
	}
	
	@media (min-width: 768px) {
		
		&__route {
			width: 360px;
			margin-left: 30px;
			@include order(2);
			@include flex-shrink(0);
		}
		
		&__params {
			width: auto;
			padding-left: 0;
			@include order(3);
			@include flex-grow(1);
		}
	}
	
	@media (min-width: 992px) {
	
	}
	
	@media (min-width: 1200px) {
		
		.trip_logo {
			margin-bottom: 0;
		}
		
		&__row {
			@include flex-wrap(nowrap);
		}
		
		&__params {
			padding-left: 30px;
		}
		
	}
	
	@media (min-width: 1300px) {
		
		&__route {
			width: 370px;
		}
		
		&__params {
			padding-left: 60px;
		}
	}
}

.trip_price {
	padding: 5px 0;
	font-size: 14px;
	line-height: 18px;
	font-family: $font-family-light;

	&__col {
		margin-bottom: 10px;
	}
	
	&__data {
		color: #262c38;
		font-size: 15px;
		line-height: 22px;
		margin-bottom: 2px;
		margin-right: -10px;
		font-family: $font-family-medium;
		@include flexbox();
		@include align-items(center);
	
		strong {
			font-size: 18px;
			font-weight: 400;
			display: inline-block;
		}
		
		span {
			display: inline-block;
			padding: 0 10px 0 10px;
		}
	}
	
	&__text {
		color: #565d68;
	}
	
	&__status {
		color: #262c38;
		font-size: 15px;
		font-family: $font-family-medium;
	}
	
	&__policy {
		color: #fb6090;
		margin-bottom: 4px;
	}
	
	&__detail {
		color: #8a9db6;
		padding-right: 20px;
		position: relative;
		display: inline-block;
		text-decoration: none;
		font-family: $font-family-base;
		
		span {
		
		}
		
		i {
			right: 0;
			top: 50%;
			width: 13px;
			height: 14px;
			margin-top: -11px;
			position: absolute;
			display: inline-block;
			
			.ico-svg {
				fill: #8a9db6;
			}
		}
		
		&:hover {
			color: #8a9db6;
			text-decoration: none;
		}
	}
	
	&__note {
		padding-top: 2px;
		color: #8a9db6;
		font-size: 12px;
	}
	
	@media (min-width: 576px) {
		
		&__data {
			
			strong {
				font-size: 21px;
			}
		}
	}
	
	@media (min-width: 768px) {
		@include flexbox();
		@include justify-content(space-between);
		@include align-items(flex-start);
		
		&__col {
			margin: 0;
			
			&:last-child {
				padding-left: 15px;
			}
		}
	}
}

.trips_option {
	padding: 20px;
	background: #fff;
	font-size: 14px;
	line-height: 18px;
	border: 1px solid #cbd8ea;
	font-family: $font-family-light;
	@include border-radius(3px);
	
	&__price {
		color: #262c38;
		font-size: 18px;
		line-height: 20px;
		padding: 10px 30px 10px 0;
		font-family: $font-family-medium;
	}
	
	&__text {
		
		strong {
			display: block;
			color: #262c38;
			font-weight: 400;
			margin-bottom: 3px;
			font-family: $font-family-medium;
		}
		
		span {
			display: block;
			color: #565d68;
		}
	}
	
	@media (min-width: 576px) {
	
		&__col {
			@include flexbox();
			
			&:last-child {
				padding-top: 15px;
				@include align-items(center);
				@include justify-content(space-between);
			}
		}
		
		&__text {
			padding-left: 20px;
		}
	}
	
	@media (min-width: 768px) {
		
		&__col {
			@include align-items(center);
		}
	}
	
	@media (min-width: 1300px) {
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
		
		&__col {
			
			&:last-child {
				padding: 0 0 0 30px;
			}
		}
	}
}


.star_rating {
	font-size: 18px;
	line-height: 18px;
	@include flexbox();
	
	i {
		color: #cbd8ea;
		margin-right: 2px;
		
		&.full {
			color: #ed8a19;
		}
	}
}

.hotel_heading {
	
	.star_rating {
		margin-bottom: 10px;
	}
	
	.circle-rating {
		float: none !important;
	}
	
	&__col {
		margin-bottom: 10px;
	}
	
	&__name {
		font-size: 21px;
		line-height: 21px;
		color: #262c38;
		font-family: $font-family-medium;
	}
	
	@media (min-width: 768px) {
		@include flexbox();
		@include justify-content(space-between);
		
		&__col {
		
			&:last-child {
				text-align: right;
			}
		}
	}
}

.hotel_rating {
	@include flexbox();
	@include align-items(center);
	
	&__value {
		color: #262c38;
		font-size: 14px;
		line-height: 18px;
		font-family: $font-family-medium;
	}
}

.hotel_reply_link {
	color: #565d68;
	font-size: 14px;
	line-height: 18px;
	display: inline-block;
	text-decoration: none;
	font-family: $font-family-light;
	
	&:hover {
		color: #565d68;
		text-decoration: underline;
	}
}

.hotel_services {
	padding-top: 5px;
	
	.b-srv_ticket {
		margin-bottom: 5px;
	}
}

.hotel_number {
	width: 100%;
	max-width: 100%;
	font-size: 15px;
	line-height: 18px;
	margin-bottom: 15px;
	font-family: $font-family-light;
	@include flexbox();
	@include flex-wrap(wrap);
	@include align-items(flex-start);
	@include justify-content(space-between);

	&__amount {
		width: 60px;
		font-size: 13px;
		line-height: 16px;
		padding: 3px 15px 3px 0;
		display: inline-block;
		border-right: 1px solid #cbd8ea;
		@include flex-shrink(0);
		@include order(1);
		
		strong {
			display: block;
			font-size: 16px;
			text-align: center;
			font-family: $font-family-light;
		}
		
		span {
			display: block;
		}
	}
	
	&__name {
		width: 100%;
		color: #565d68;
		font-size: 14px;
		padding: 10px 0;
		@include order(3);
		font-family: $font-family-medium;
	
		strong {
			display: block;
			color: #262c38;
			font-size: 16px;
			font-weight: 400;
			font-family: $font-family-medium;
		}
		
		span {
			display: block;
		}
	}
	
	&__date {
		width: 100%;
		margin: 0;
		padding: 0;
		list-style: none;
		@include order(4);
		@include flexbox();
		
		> li {
		
			&:first-child {
				padding-right: 30px;
			}
		}
		
		strong {
			color: #262c38;
			display: block;
			font-weight: 400;
			font-family: $font-family-medium;
			
			span {
				display: block;
			}
		}
		
		i {
			color: #565d68;
			display: block;
			font-style: normal;
		}
	}
	
	&__guest {
		padding-left: 10px;
		font-size: 14px;
		line-height: 18px;
		@include order(2);
		
		strong {
			color: #262c38;
			display: block;
			font-weight: 400;
			font-family: $font-family-medium;
		}
		
		span {
			color: #565d68;
			display: block;
		}
	}
	
	@media (min-width: 576px) {
		
		&__date {
			
			strong {
				
				span {
					display: inline;
				}
			}
		}
	}
	
	@media (min-width: 768px) {
		
		&__amount {
		
		}
		
		&__name {
			padding: 0 15px;
			@include order(2);
			@include flex-shrink(0);
			width: calc(100% - 120px);
		}
		
		&__date {
			padding-top: 10px;
		}
		
		&__guest {
			width: 60px;
			@include order(3);
			@include flex-shrink(0);
		}
	}
	
	@media (min-width: 1200px) {
		@include flex-wrap(nowrap);
		
		&__name {
			width: 280px;
	//		@include flex-grow(1);
		}
		
		&__date {
			padding: 0 15px;
			@include order(3);
			
			strong {
				
				span {
					display: block;
				}
			}
		}
		
		&__guest {
			@include order(4);
		}
	}
	
	@media (min-width: 1300px) {
		
		&__name {
			width: 300px;
		}
		
		&__date {
			white-space: nowrap;
			
			strong {
				
				span {
					display: inline;
				}
			}
		}
	}
}


.b-srv_ticket {
	color: #565d68;
	font-size: 13px !important;
	line-height: 18px !important;
	font-family: $font-family-light;
}

//

.progress-bar-container {
	margin-bottom: 60px;
}

.progress-bar__circle  {
	@include border-radius(3px);
}

.widget_travel_transplants h3 {
	margin-bottom: 15px;
}


.widget_travel_transplants.widget_add_box .btn-group .btn #Layer {
	stroke: #858a92;
}



.widget_travel_transplants {
	
	.btn-group{
		
		.btn {
			@include border-radius(0);
			
			&:first-child {
				@include border-radius(3px 0 0 3px);
			}
			
			&:last-child {
				@include border-radius(0 3px 3px 0);
			}
		}
	}
}