.reg_page input, .lostpass input
 {
    width: 100%;
    height: 53px;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid #cbd8ea;
    font-size: 14px;
    line-height: 30px;
    color: #565d68;
    font-family: "Rubik-Light";
}

.lostpass input{
	width: 300px;
	max-width: 100%;
}


.lostpass h1{
	text-align: center;
}
 
.form-box h1{
	font-size: 1.7rem;
}

.form-box {
    width: 60%;
    margin: auto;
    padding-top: 20px;
    padding: 20px;
    border-radius: 5px;
}	

.lostpass .form-box {
	max-width: 300px;
}



/*-----datepicjker -----*/

.date-range-selected > .ui-state-active, .date-range-selected > .ui-state-default {
    background: none;
    background-color: #1396e4;
	color: #fff;
}


.selected{
	background: none;
    background-color: #ADD8E6;
	color: #fff;
} 
.selected-start,
.selected-end{
	background: none;
    background-color: #1396e4;
	color: #fff;
}

.support_block{margin: 40px 0;}
.blocks-item-support:hover{  
     box-shadow: 0 4px 16px rgba(69,75,86,0.15);
    transition: .2s;
}

.blocks-item-support{
	text-align: center;
    padding: 20px;
	box-shadow: 0 4px 16px rgba(69,75,86,0.09);
}

.blocks-item-support h4{
	color: #1396e4;
    margin-bottom: 0;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    min-height: 64px;
}

.blocks-item-support  .support-item-description{
	margin-top: 10px;
	color: #000;
	font-size: 16px;
}

.blocks-item-support .green_btn{
	margin-top: 25px;
}

.support_page h3{
	text-align: center;
}

.artcile_group_heading{
	font-size: 20px;
    border-bottom: 1px dotted #ccc;
    padding: 5px;
}

.article_group .fa-circle{
	font-size: 8px;
    vertical-align: middle;
    padding-right: 15px;
}

.support_article{
	margin: 15px 0;
    display: block;
    font-size: 16px;
}

.article_group{
	    margin-bottom: 30px;
	
}

.left_menu_support a{
    border-radius: 4px;
    color: #454b56;
    display: block;
    font-weight: 300;
    margin-bottom: 10px;
    padding: 10px;
	font-size: 16px;
}

.left_menu_support a:hover, .left_menu_support a.active{
	background-color: #1396e4;
    color: #ffffff;
    text-decoration: none;
}

.support_page{
	
}


.articles_list .article_item{
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    padding: 15px 0;
}

.articles_list .article_item a{
    color: #454b56;
}

.articles_list .article_item a:hover{
    text-decorate: underline;
}


.support_page .artcile_avatar img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #ccc;
}
.about_author{
     margin: 20px auto;  
}
.support_page .artcile_avatar{
    display: inline-block;
    position: relative;
    }
    
 .support_page  .author_info .author_name{
        display: block;
    } 
 .support_page  .author_info span.date_change{
    color: #737c8e;
    font-size: 13px;
    font-weight: 300; 
 } 
 
 .breadcrumps {
     margin-bottom:20px;
 } 
 .breadcrumps a{
    color: #1396e4;
    font-size: 13px;
 } 
 .breadcrumps span{
     margin: 0 4px;
 } 
 
 
 .support_page .rate_article{
     border-bottom: 1px solid #ccc;
     border-top: 1px solid #ccc;
     padding:30px 0;
     margin:35px 0;
 }
 
 .support_page .answer_rate {
     margin: 20px 0;
 }
 
 .support_page .answer_rate a{
    background: transparent;
    border: 1px solid #1396e4;
    color: #1396e4;
    margin: 10px 5px;
    min-width: 90px;
    width: auto;
    font-size: 16px;
    padding: 12px 15px;
    border-radius: 4px;
}

.rate_article p{
    font-size:16px;
    font-weight:700;
    color: rgb(69, 75, 86);
}
 .support_page .answer_rate a:hover{
    background-color: #1396e4;
    color: #ffffff;
    text-decoration: none;
}

.city_departure,
.city_arrival
{
	    text-transform: capitalize;
}

.card{
	border: none;
}

.card-body{
	padding:0px;
}

.p_seats label.place_chkbox.place_hidden_label,
.p_branch label.place_chkbox.place_hidden_label
{
	color: #b9b5b5;
}




.carridgeBlock{
	width: max-content;   
	display: inline-block;
}

.carridgeBlock label{height:22px;}
@media (max-width:576px){
	.g-recaptcha{
		transform:scale(0.77);
		-webkit-transform:scale(0.77);
		transform-origin:0 0;
		-webkit-transform-origin:0 0;
	}
	
	.form-box{
		width: 90%;
	}
	
}	